{% extends 'polls/base.html' %}

{% block content %}
<br />
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading">Settings</div>
            <div class="list-group">
                <a href="{% url 'appauth:settings' %}" class="list-group-item">Profile</a>
              <a href="{% url 'appauth:passwordpage' %}" class="list-group-item active">Account</a>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">
        <div class="panel-heading">Change Password</div>
        <div class="panel-body">
            <form method="post" action="{% url 'appauth:changepassword' %}">
                {% csrf_token %}
                <fieldset class="form-group">
                    <label for="oldpassword">Old Password</label>
                    <input type="password" class="form-control" name="oldpassword" value="">
                    <label for="oldpassword">New Password</label>
                    <input type="password" class="form-control" name="newpassword" value="">
                </fieldset>
                <input type="submit" class="btn btn-success" value="Submit">
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}