
{% extends 'polls/base.html' %}

{% block content %}
<script>
    function register(){
        if($('#reg_email').val() == ''){ $('#error').html("Please enter an email."); $('#reg_email').focus(); }
        // else if($('#reg_username').val() == ''){ $('#error').html("Please enter a username."); $('#reg_username').focus(); }
        // else if($('#reg_username').val().indexOf('@') > -1){ $('#error').html("Username should not include @ character."); $('#reg_username').focus(); }
        else if($('#reg_password').val() == ''){ $('#error').html("Please enter a password."); $('#reg_password').focus(); }
        else{ $('#user_form').submit(); }
    }
</script>
<div class="col-md-6 col-md-offset-3" align="center" style="padding: 60px 20px;">
    <h3>Register with OPRA</h3>
    <br/>

    {% if registered %}
        Thank you for registering! Please check your email to activate your account.
        <a href="/polls/">Return to the homepage.</a><br />
    {% else %}
        <div id="error"></div>
        <form id="user_form" method="post" action="/auth/register/" enctype="multipart/form-data">

            {% csrf_token %}

            <fieldset class="form-group">
                <label for="email">Email</label>
                <input type="text" class="form-control" id="reg_email" name="email" placeholder="Enter Email" value="" size="50" autofocus />
                <small class="text-muted">We will only use this to send notifications. We will never share your information with anyone else.</small>
            </fieldset>
            
            <!-- <fieldset class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="reg_username" name="username" placeholder="Enter Username" value="" size="50" />  
            </fieldset> -->
            
            <fieldset class="form-group">
                <label for="username">Password</label> 
                <input type="password" class="form-control" id="reg_password" name="password" placeholder="Password" value="" size="50" />
            </fieldset>

            <input type="button" value="Register" class="btn btn-primary" onclick="register()"/>
        </form>
    {% endif %}
</div>

{% endblock %}