{% extends 'polls/base.html' %}
{% load staticfiles %}



{% block content %}
<style>
    p.sameline{
        display:inline-block;
    }
    img{
        width:20px;
    }
    img:hover{
        width:50px;
    }
</style>

<div class="col-md-10 col-md-offset-1">
    <h2  align="center">Configure Poll Number {{multipoll.pos|add:1}}</h2>
    <br/>
    <div class="steps"  align="center">
        <p class="sameline" > 
            1. General  
        </p> 
        <p class="sameline" style="color:grey;">
            <span class="glyphicon glyphicon-chevron-right"> </span>  
            2. Polls
        </p>
        <p class="sameline">
            <span class="glyphicon glyphicon-chevron-right"> </span>
            3. Invite
        </p>
    </div>
    
    <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
            <span class="sr-only">66% Complete</span>
        </div>
    </div>
    <br/>
    <ul class="list-group">
    {% for item in items %}
        {% if item.question == question %}
            <li class="list-group-item ">
                {% if item.image %}
                    <img src='/static/items/{{ item.image.url }}'/>
                {% endif %}
                {{ item }}
                {% if question.status == 1 %}
                <a href="{% url 'polls:delchoice' item.id %}">
                    <div class="pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </a>
                {% endif %}
            </li>
        {% endif %}
    {% endfor %}
        <li  class="list-group-item">
            <form action="{% url 'polls:addchoice' question.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="choice" value="" size="50" placeholder="Option name" autofocus/>
                </div>
                    <label for="image" class="btn btn-default"><span class="glyphicon glyphicon-camera"></span></label>
                    <input style="display:none" id="image" type="file" name="docfile" accept="image/*">
                    <button type="submit" class="btn btn-primary">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
            </form>
        </li>
    </ul>
    <div class="col-md-6 col-md-offset-3" align="center">
        <form action= "/multipolls/{{multipoll.id}}/add_step4/">
            <input type="submit" value="Next" class="btn btn-primary" size="300">
        </form>
    </div>
</div>
{% endblock %}