{% load mathfilters %}

<style>
    .btn-group:focus{
        outline:none;
        border-style:none;
    }
 .bloc { display:inline-block; vertical-align:top; overflow:hidden; border-style: none; }
 .bloc select { padding:10px; margin:-5px -20px -5px -5px; }
    
</style>

<script>
//if the user selects default, then deselect all dependent subpoll choices
function resetChoices()
{
    {% for poll in combination.dependent_questions.all %}
        var elements = document.getElementById("dynamic_select" + {{ poll.id }}).selectedOptions;
        for (var i = 0; i < elements.length; i++)
        {
            elements[i].selected = false;
        }
    {% endfor %}
    return false;
}
     
//if the user selects a dependent subpoll choice, then deselect the default button
function resetDefault()
{
    var elements = document.getElementById("default_pref").selectedOptions;
    for (var i = 0; i < elements.length; i++)
    {
        elements[i].selected = false;
    }
    return false;
}

//display confirmation message for 2 seconds and then fade away slowly
$(function() {
    $("#successMessage").delay(2000).fadeOut('slow');
});
</script>

<div>
    <form action="{% url 'multipolls:assignpreference' combination.id %}" method="post">
        {% csrf_token %}
        <div class="col-md-12">
        <div class="panel panel-default panel-border">
            <div class="panel-heading">
                Conditional Preferences
            </div>
            <div style="clear:both" class="panel-body">
            {% if combination.dependent_questions.all|length > 0 %}
            <div class="col-md-12">
            <div class="bloc">
                <select id="default_pref" name="default_pref" size="2" onchange="resetChoices()">
                    {% if default_response %}
                    <option value="default_pref" class="btn btn-default" 
                            style='background-color: #3CB371; box-shadow: 0 0 10px 100px #3CB371 inset;'>Default</option>
                    {% else %}
                    <option value="default_pref" class="btn btn-default" 
                            style='background-color: #FA8072; box-shadow: 0 0 10px 100px #FA8072 inset;'>Default</option>
                    {% endif %}
                </select>
            </div>
            </div>
            {% endif %}
            {% for poll in combination.dependent_questions.all %}
            <div class="col-md-{{12|intdiv:combination.dependent_questions.count}}">
            <div class="panel panel-default">
                <div class=" panel-heading">
                    <h4>Poll {{ poll.question_text }}</h4>
                    </div>
                <div class=" panel-body">   
                    <div class="table-responsive bloc">
                    <select id="dynamic_select{{ poll.id }}" name="{{ poll.id }}" size="2" id="combinationtable" onchange="resetDefault()" multiple>
                        {% for item in poll.item_set.all %}
                            {% for row in colorArray %}
                            {% for color in row %}
                            {% if forloop.counter == forloop.parentloop.parentloop.counter and forloop.parentloop.counter == forloop.parentloop.parentloop.parentloop.counter %}

                            <option value="{{ item.item_text }}" class="btn btn-default" 
                                    {% if condition_items %}{% if item in condition_items %} selected {% endif %} 
                                    {% elif poll_choice_dict %}{% if item in poll_choice_dict.values %} selected {% endif %}
                                    {% else %}{% if forloop.counter == 1 %} selected {% endif %}{% endif %} 
                                    style='background-color: {{color}}; box-shadow: 0 0 10px 100px {{color}} inset;'>{{item.item_text}}</option>
                            {% endif %}
                            {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    </select>
                    </div>
                </div>
            </div>
            </div>
            {% endfor %}
            </div>
        </div>
        </div>
        {% if request.flavour == "mobile" %}
        <div class="col-md-6 margin-panel-top">
        {% else %}
        <div class="col-md-6 margin-panel-top">
        {% endif %}
        
        <div class="panel panel-default" id="dependencypreference">
            <div class="panel-heading" >
                <h4>Your preferences:
                {% if request.flavour == "mobile" %}
                    <button id="submitbutton" type="submit" onclick="submitPref();" class="submit-button-mobile" >
                        <span class="glyphicon glyphicon-upload" style="font-size:80%;color:white;">Submit</span>
                    </button>
                    <button id="submitbutton" type="submit" onclick="submitPref();" class="btn btn-success" style ="float: right;">
                        Submit
                    </button>
                {% else %}
                    <a onclick="clearAll()" class="btn btn-danger reset-button" style="background">
                        Clear
                    </a>
                    <button id="submitbutton" type="submit" onclick="submitPref();" class="btn btn-success" disabled>
                        Submit
                    </button>
                {% endif %}
                <input type="hidden" id="pref_order" name="pref_order" value=""/>
                <div class="pull-right">
                {% if messages %}
                        {% for message in messages %}
                        <span id="successMessage" {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </span>
                        {% endfor %}
                {% endif %}
                </div>
                </h4>
            </div>
      
                    
            <div class="panel-body" >

                <ul id="left-sortable" >
                    {% if condition_responses %}
                    
                        {% for s in condition_responses %}
                            {% if s.0 %}
                                <ul class="choice1 empty"></ul>
                                <ul class="choice1">
                                    <div class="tier">{{ s.0.1 }}</div>
                                    {% for selection in s %}
                                        <li class="li_item" id="item{{ selection.0.item_text }}">
                                            {% if selection.0.image %}
                                                <img class="item" src='/{{ selection.0.image.url }}'/>
                                            {% endif %}
                                            {% if selection.0.imageURL != Null %}
                                                <img class="item" src='{{ selection.0.imageURL }}'/>
                                            {% endif %}

                                            {{ selection.0 }}
                                            {% if selection.0.item_description %}
                                                <span class="glyphicon glyphicon-info-sign pull-right" data-toggle="tooltip" data-placement="top" title="{{selection.0.item_description}}"></span>
                                            {% endif %}
                                        </li>

                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </ul> <!-- left-sortable-->
            </div>
            {% if request.flavour == "mobile" %}
                <button onclick="clearAll(); return false;" class="reset-button-mobile">
                    <span class="glyphicon glyphicon-trash redcolor" style="color:white;">Clear</span>
                </button>
            {% endif %}
        </div>
        </div>


        {% if request.flavour == "mobile" %}
        <div class="col-md-6 margin-panel-top">
        {% else %}
        <div class="col-md-6 margin-panel-top">
        {% endif %}
        
            <div class="panel panel-default panel-border" id="dependencyremain">
                <div class="panel-heading">
                    <b>Remaining Options:</b>
                    {% if request.flavour == "mobile" %}
                        <button onclick="moveAll(); return false;" class="move-all-button-mobile">
                            <span class="glyphicon glyphicon-arrow-up bluecolor" style="font-size:80%;float: center; color:white;">All</span>
                        </button>
                    {% else %}
                        <button onclick="moveAll(); return false;" class="btn btn-primary move-all-button" >
                           Move All
                        </button>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <ul id="right-sortable" class="list-group">
                        {% if condition_responses == None %}
                        {% for item in items %}
                            <ul class="choice1 empty"></ul>
                            <div class="tier">{{ forloop.counter }}</div>
                            <ul class="choice1" onclick = "moveToPref(this)">
                                <li class="" id="item{{ item.item_text }}">
                                    {% if item.image %}
                                        <img class="item" src='/{{ item.image.url }}'/>
                                    {% endif %}
                                    {% if item.imageURL != Null %}
                                        <img class="item" src='{{ item.imageURL }}'/>
                                    {% endif %}
                                    {{ item.item_text }}
                                </li>
                            </ul>
                        {% endfor %}
                        <ul class="choice1 empty"></ul>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </form>
</div>
    
<script>
    var wholeHeight1 = $('#left-sortable')[0].scrollHeight;
    var wholeHeight2 = $('#right-sortable')[0].scrollHeight;
    if (wholeHeight1 > wholeHeight2) {
        $('#right-sortable').css("height", wholeHeight1);
    } else {
        $('#left-sortable').css("height", wholeHeight2);
    }
    $('#left-sortable').sortable('refresh');
    $('#right-sortable').sortable('refresh');

</script>