{% extends 'polls/base.html' %}
{% block extra_head %}
<script src="/static/js/cytoscape.min.js"></script>
<script src='/static/js/voting.js'></script>
{% if request.flavour == "mobile" %}
<script>var deviceFlavor = "mobile";</script>
<script src='/static/js/mobile.js'></script>
{% else %}
<script src='/static/js/desktop.js'></script>
<script>var deviceFlavor = "desktop";</script>
{% endif %}


<style type="text/css">
 #cy {
    width: 50%;
    height: 125px;
    border: 1px solid lightgray;
}

option:checked{
    border: 3px solid blue;
}
</style>
<script>
//If the user checks or unchecks a checkbox for dependent subpolls, then update the graph
function check()
{
    var choicesStr = "?";
    {% for poll in question.multipoll_set.all.0.questions.all %}
        {% if poll.multipollquestion_set.all.0.order < question.multipollquestion_set.all.0.order and poll.status == 2 %}
            choicesStr += "poll{{poll.id}}=" + document.getElementById("checkbox{{poll.id}}").checked + "&";
        {% endif %}
    {% endfor %}
    window.location.href = "{% url 'multipolls:updatePrefGraph' question.id %}" + choicesStr; // redirect
//    $.ajax({
//                    url:"{% url 'multipolls:updatePrefGraph' question.id %}" + choicesStr,
 //                   success: function(event){
 //                       $('#combinationtable').load(" #combinationtable", function(){$(this).children().unwrap()});
 //                   }
 //               });
    return false;
}

$(function(){
    // bind change event to select
    {% for poll in combination.dependent_questions.all %}
        $('#dynamic_select' + '{{poll.id}}').on('change', function () {
            var choicesStr = "?";
            {% for poll in combination.dependent_questions.all %}
                choicesStr += "poll{{poll.id}}=" + $('#dynamic_select' + '{{poll.id}}').val() + "&";
            {% endfor %}

            //window.location.href = "{% url 'multipolls:dependencyget' combination.id %}" + choicesStr; // redirect
            $.ajax({
                    url:"{% url 'multipolls:dependencyget' combination.id %}" + choicesStr,
                    success: function(event){
                        $('#dependencypreference').load(" #dependencypreference", function(){$(this).children().unwrap(); VoteUtil.checkStyle();});
                        $('#dependencyremain').load(" #dependencyremain", function(){$(this).children().unwrap(); VoteUtil.checkStyle();});
                    }
                });
            return false;
        });
    {% endfor %}
    $('#default_pref').on('change', function () {
        $.ajax({
                url:"{% url 'multipolls:dependencyget' combination.id %}" + "?set_default=true",
                success: function(event){
                    $('#dependencypreference').load(" #dependencypreference", function(){$(this).children().unwrap(); VoteUtil.checkStyle();});
                    $('#dependencyremain').load(" #dependencyremain", function(){$(this).children().unwrap(); VoteUtil.checkStyle();});
                }
            });
        return false;
    });
});


</script>
{% endblock %}

{% block content %}
<br>
<div class="container-fluid">

<!-- Title panel -->
    <div class="panel panel-default">
        <!-- Panel header contains image and title -->
        <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" href="#collapse_des">
            <div class="row">
                <!-- Display poll image (from external url) -->
                {% if question.imageURL != Null and question.imageURL != '' %}
                <div class="col-md-2" {% if request.flavour == "mobile" %} style="width:20%;display:inline" {% endif %}>
                    <a href="{{ question.imageURL }}"><img src="{{ question.imageURL }}" width="150" ></a>
                </div>
                <!-- Display poll image (uploaded to the server) -->
                {% elif question.image %}
                <div class="col-md-2" {% if request.flavour == "mobile" %} style="width:20%;display:inline" {% endif %}>
                    <a href="/{{ question.image.url }}"><img src="/{{ question.image.url }}" width="150" ></a>
                </div>
                {% endif %}

                <!-- Display title and creator in the header -->
                <div class="col-md-10" {% if request.flavour == "mobile" %} style="width:100%;" {% endif %}>
                    <h3 {% if request.flavour == "mobile" %} style="width:70%;display:inline" {% endif %}><span class="caret" style="color:#377BB5;"></span>

                    <!-- Left button to go back to previous subpoll -->
            {% if prev_poll != None %}
                <a href="{% url 'multipolls:dependencyview' prev_poll.id %}" class="glyphicon glyphicon-arrow-left">
                </a>
            {% endif %}
                    <span>{{ question.question_text }}</span> <span class="text-muted">(Created by {{ question.question_owner }})</span>
                    	<!-- Right button to go to the next subpoll -->
                    	{% if next_poll != None %}
                <a href="{% url 'multipolls:dependencyview' next_poll.id %}" class="glyphicon glyphicon-arrow-right">
                </a>
            {% endif %}
            </h3>
                </div>

            </div> </a>
        </div>

        <!-- Display the description in the panel body -->
        <div id="collapse_des" class="panel-body" hidden>

            Description: {% if question.question_desc %}
            <span {% if request.flavour == "mobile" %} style="width:70%" {% endif %}> {{ question.question_desc }} </span>
            {% endif %}



        </div>
    </div>

</div>



<!-- Main voting page -->
{% include 'multipolls/dependencydetail.html' %}

<script>
	submissionURL="{% url 'polls:record' question.id%}";
    var cy = cytoscape({
        container: document.getElementById('cy'),
        layout: {
            name: 'circle',
            padding: 10
        },

      style: cytoscape.stylesheet()
        .selector('node')
          .css({
            'shape': 'data(faveShape)',
            'width': '100',
            'height': '40',
            'text-max-width':  '80',
            'text-wrap': 'wrap',
            'content': 'data(name)',
            'text-valign': 'center',
            'text-outline-width': 0,
            'text-outline-color': 'data(faveColor)',
            'background-color': '#FFFFFF',
            'color': '#000',
            'font-size': '30px',
          })

        .selector('edge')
          .css({
            'curve-style': 'bezier',
            'opacity': 0.666,
            'width': '8',
            'target-arrow-shape': 'triangle-backcurve',
            'line-color': 'data(faveColor)',
            'target-arrow-color': 'data(faveColor)'
          })
        .selector('edge.dotted')
          .css({
            'line-style': 'dashed'
          })
        .selector('.faded')
          .css({
            'opacity': 0.25,
            'text-opacity': 0
          }),


      elements: {
        nodes: [
         {% for row in pref_nodes %}
            //{data: {id : '{{ row.id }}', name: '{{ row.label }}', weight: 10, faveColor: '#000', faveShape: {% if row.id == question.id %}'rectangle'{% else %}'ellipse'{% endif %} } },
            {data: {id : '{{ row.id }}', name: '{{ row.label }}', weight: 50, faveColor: '#000', faveShape: {% if row.id == question.id %}'rectangle'{% else %}'ellipse'{% endif %},
            href: "{% url 'multipolls:dependencyview' row.id %}" } },
        {% endfor %}
        ],
        edges: [
         {% for row in pref_edges %}
            {data : { source: '{{ row.from }}', target: '{{ row.to }}', faveColor: '#000', strength: 50 }, {% if row.to != question.id %}classes: 'dotted'{% endif %} },
        {% endfor %}
        ]
      },
    });

cy.on('click','node', function(e){
  var url=this.data('href');
   window.location.replace(url);
});
</script>
{% endblock %}

