{% extends 'polls/base.html' %}
{% block extra_head %}
<!--
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
-->
<script src='/static/js/qrcodejs/qrcode.js'></script>

<style>

/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}



/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
 
img{
    width:40px;
}
img:hover{
    width:80px;
}
    
  #feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }

  </style>
  <script>
  $(function() {
    $( "#selectable" ).selectable();
  });
  </script>




{% endblock %}
{% load staticfiles %}
{% block content %}



<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        {% if mpoll.owner == request.user %}
            <li><a data-toggle="tab" href="#Mtitle">Title</a></li>
            <li><a data-toggle="tab" href="#Mdesc">Description</a></li>
            <li><a data-toggle="tab" href="#voters">Voters</a></li>
            {% for question in mpoll.questions.all %}
                <!--<li><a href="{% url 'polls:pollinfo' question.id %}" >{{question.question_text}}</a></li>-->
        <li><a data-toggle="collapse" data-target="#products{{forloop.counter}}" class="collapsed">{{question.question_text}} <span class="glyphicon glyphicon-menu-down" style="font-size:60%"></span></a></li>
                <ul class="collapse" id="products{{forloop.counter}}">
                    <li><a data-toggle="tab" href="#title{{question.id}}">Title</a></li>
                    <li><a data-toggle="tab" href="#desc{{question.id}}">Description</a></li>
                    <li style="padding:3px;"><a data-toggle="tab" href="#choices{{question.id}}">Choices</a></li>
                    <li style="padding:3px;"><a data-toggle="tab" href="#algorithm{{question.id}}">Algorithm</a></li>
                    <li style="padding:3px;"><a data-toggle="tab" href="#visibility{{question.id}}">Visibility</a></li>
                    <li style="padding:3px;"><a data-toggle="tab" href="#historyinfo{{question.id}}">History</a></li>
                </ul>
    
            {% endfor %}
        <li><a data-toggle="tab" href="#delete">Delete</a></li>        
        {% else %}  
            {% for question in mpoll.questions.all %}
                <!--<li><a href="{% url 'polls:pollinfo' question.id %}" >{{question.question_text}}</a></li>-->
        <li><a data-toggle="collapse" data-target="#products{{forloop.counter}}" class="collapsed">{{question.question_text}} <span class="glyphicon glyphicon-menu-down" style="font-size:60%"></span></a></li>
                <ul class="collapse" id="products{{forloop.counter}}">
                    <li style="padding:3px;"><a data-toggle="tab" href="#general{{question.id}}">General Info</a></li>
                    <li style="padding:3px;"><a data-toggle="tab" href="#historyinfo{{question.id}}">History</a></li>
                </ul>
    
            {% endfor %}
            <li><a data-toggle="tab" href="#quit">Quit</a></li>
        {% endif %}  
        
    </ul>  
</div>

<div class="tab-content">
    
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="Mtitle">
    <h3 class="page-header">Title Setting of {{ mpoll.title }} <br/></h3>
    {% if mpoll.status == 0 %}
         <form action="{% url 'multipolls:edittitle' mpoll.id %}" method="post">
            {% csrf_token %}

            <input type="text" class="form-control" style="width:70%;" name="Mtitle" size="50" value="{{ mpoll.title }}"/>

            <br />
            <input type="submit" class="btn btn-primary" value="Save Changes"/>
        </form>
    {%else%}
        <h5>Sorry, you can't change the title now.</h5>
    {% endif %} 
</div>
    
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="Mdesc">
    <h3 class="page-header">Descrption Setting of {{ mpoll.title }} <br/></h3>
    {% if mpoll.status == 0 %}
         <form action="{% url 'multipolls:editdesc' mpoll.id %}" method="post">
            {% csrf_token %}

            <input type="text" class="form-control" style="width:70%;" name="Mdesc" size="50" value="{{ mpoll.description}}"/>

            <br />
            <input type="submit" class="btn btn-primary" value="Save Changes"/>
        </form>
    {%else%}
        <h5>Sorry, you can't change the descrption now.</h5>
    {% endif %} 
  

</div>
    
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="voters">
    <h3 class="page-header">Voters Setting of {{ mpoll.title }} <br/><small class="text-muted"> All subquestions of {{ mpoll.title }} share the same voters.</small></h3>
     
        {% include 'multipolls/_invite_voters.html' %}
  

</div>
    
  {% for question in mpoll.questions.all %}  
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="title{{question.id}}">
    {% include 'polls/_change_title.html' %}
    </div>
    
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="desc{{question.id}}">
    {% include 'polls/_change_desc.html' %}
</div>
 
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="choices{{question.id}}">
 
        <h3 class="page-header">Info and settings of {{ question.question_text }}</h3>
                {% with items=question.item_set.all%}
                    {% include 'polls/_add_choice.html' %}
                {% endwith %}
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="algorithm{{question.id}}">
        {% include 'polls/_set_algorithm.html' %}    
    </div>
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="visibility{{question.id}}">
        {% include 'polls/_set_visibility.html' %}
    </div>
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="historyinfo{{question.id}}">
        
        {% for s in lr %}     
            {% if s.id == question.id %}
                {% for p in pr %}
                    {%if p.id == question.id %}
                        {% for m in mrr %}     
                            {% if m.id == question.id %}
                                {% for h in hist %}
                                    {%if h.id == question.id %}
                                        {%with latest_responses=s.main%} 
                                        {%with previous_responses=p.main%}
                                        {%with mostRecentResponse=m.main%} 
                                        {%with history=h.main%}
                                             {% include 'multipolls/_view_history.html' %} 
                                        {% endwith %}
                                        {% endwith %}
                                        {% endwith %}
                                        {% endwith %}
                                    {% endif%}
                                {% endfor %}<!-- for each history-->
                            {% endif%}
                        {% endfor %}<!-- for m in mrr-->
                    {% endif%}
                {% endfor %} <!-- for p in previous_responses--> 
            {%endif%}    
        {%endfor%} <!--s in lr-->
    </div>
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="general{{question.id}}">
        {% include 'polls/_voters_generalinfo.html' %}
    </div>
    {% endfor %}
      
    
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="delete">
    <h3 class="page-header">Info and settings of {{ mpoll.title }} </h3>

    <div class="panel panel-danger">
        <div class="panel-heading">Danger Zone</div>
        <div class="panel-body" align="center">
            <p>
                Make sure you are very certain before you make a decision. Once a poll is deleted, it cannot be recovered.<br /><br/>
                <span class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete"><span class="glyphicon glyphicon-trash"></span> Delete this poll</span>
            </p>

            <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            Confirm Delete Poll
                        </div>
                        <div class="modal-body">
                            Are you absolutely sure you want to delete this poll? All voting information, settings, etc. will be erased permanently. 
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-danger btn-ok" href="{% url 'multipolls:delmpoll' mpoll.id %}">Yes</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="quit">
    <h3 class="page-header">Info and settings of {{ mpoll.title }} </h3>

    <div class="panel panel-danger">
        <div class="panel-heading">Danger Zone</div>
        <div class="panel-body" align="center">
            <p>
                Make sure you are very certain before you make a decision. Once quit, it cannot be recovered.<br /><br/>
                <span class="btn btn-danger" data-toggle="modal" data-target="#confirm-quit"><span class="glyphicon glyphicon-trash"></span> Quit this poll</span>
            </p>

            <div class="modal fade" id="confirm-quit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            Confirm Quit Multi Poll
                        </div>
                        <div class="modal-body">
                            Are you absolutely sure you want to quit this multi poll? All voting information, settings, etc. will be erased permanently. 
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-danger btn-ok" href="{% url 'multipolls:delmpoll' mpoll.id %}">Yes</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
    
</div>

{% endblock %}