{% extends 'polls/base.html' %}

{% block content %}
<style>
    p.sameline{
        display:inline-block;
    }
</style>

<div class="col-md-10 col-md-offset-1">
    <h2  align="center">Invite Voters To Your Multi-Poll</h2>
    <br/>
    <div class="steps"  align="center">

        <p class="sameline" > 
            1. General   
            <span class="glyphicon glyphicon-chevron-right"> </span>  
            2. Polls
        </p>
        
        <p class="sameline" style="color:grey;">
            <span class="glyphicon glyphicon-chevron-right"> </span>
            3. Invite 
        </p>
        
    </div>
    
    <div class="progress">
     <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
    <span class="sr-only">100% Complete</span>
    </div>
    </div>
    <br/>
    
    <h3>Voters</h3>
    {% include 'multipolls/_invite_voters.html' %}
    
    


 <br/> <br/>
   <div class="col-md-6 col-md-offset-3" align="center">
        <form action= "{% url 'polls:m_polls' %}">
            <input type="submit" value="Next" class="btn btn-primary" size="300">
        </form>
    </div>
    
</div>

    
{% endblock %}