
<div class="container">
		<div class="row" style="text-align:center;"><img src="/static/img/gm.png" style="width:150px;" ></div>
		 <div class="row" style="padding-top: 20px"> <h2 class= "main-link" style="margin:auto; text-align:center;">  RPI Grand Marshal Week 2017</h2>
		  <h4 style="margin:auto; text-align:center;">Unofficial Polling Site, please also vote at official stations</h3>
		 </div>
	</div>
	<hr>
	
	<div class="container" style="width:800px; position:relative;" >
	
	<div class="row" style="height:20%;">
		<div class="col-sm-4 main-link" id="grand-marshall">
			<a href="#">
				<div class="btn btn-primary first-line" style="width:250px;">
				
					<h3>Grand <br>Marshall</h3>
				</div>
			</a>
		</div>
		<div class="col-sm-4 col-xs-12 main-link" id="president-union" >
			<a href="#">
				<div class="btn btn-primary first-line" style="width:250px;">
				<h3>President<br>of the Union</h3>
				 
				</div>
			</a>
		</div>
		<div class="col-sm-4 col-xs-12 main-link" id="ug-president">
			<a href="#">
				<div  class="btn btn-primary first-line" style="width:250px;">
				<h3>Undergraduate<br>President</h3>  
				</div>
			</a>
		</div>
	</div>
	<hr>
	<div class="row" style="height:8%;">
		<div class="col-sm-3 col-xs-12 main-link"  style="width:50%;">
			<div class="dropdown">
				<button class="btn btn-primary dropdown-toggle other-polls" type="button" data-toggle="dropdown" style="width:390px;">
					<h4>Class of 2018 <span class="caret"></span></h4>
					
				</button>
				<ul class="dropdown-menu" style="width:100%; ">
					<li><a href="#">President</a></li>
					<li><a href="#">Vice President</a></li>
					<li><a href="#">Representative</a></li>
					<li><a href="#">Graduate Representative</a></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-3 col-xs-12 main-link"  style="width:50%;">
			<div class="dropdown ">
				<button class="btn btn-primary dropdown-toggle other-polls" type="button" data-toggle="dropdown" style="width:390px;">
					<h4>Class of 2019
					<span class="caret"></span></h4>
				</button>
				<ul class="dropdown-menu" style="width:100%;">
					<li><a href="#">President</a></li>
					<li><a href="#">Vice President</a></li>
					<li><a href="#">Representative</a></li>
					<li><a href="#">Senator</a></li>
				</ul>
			</div>
		</div>
	</div>
	<br/>
	<div class="row" style="height:8%;">	
		<div class="col-sm-3 col-xs-12 main-link" id="grand-marshall" style="width:50%;">
			<div class="dropdown ">
				<button class="btn btn-primary dropdown-toggle other-polls" type="button" data-toggle="dropdown"  style="width:390px;">
					<h4>Class of 2020
					<span class="caret"></span>
					</h4>
				</button>
				<ul class="dropdown-menu" style="width:100%;">
					<li><a href="#">President</a></li>
					<li><a href="#">Vice President</a></li>
					<li><a href="#">Representative</a></li>
					<li><a href="#">Senator</a></li>
				</ul>
			</div>
		</div>
		<div class="col-sm-3 col-xs-12 main-link" id="grand-marshall" style="width:50%;">
			<div class="dropdown ">
				<button class="btn btn-primary dropdown-toggle other-polls" type="button" data-toggle="dropdown"  style="width:390px;">
					<h4>Alumni
					<span class="caret"></span>
					</h4>
				</button>
				<ul class="dropdown-menu" style="width:100%;">
					<li><a href="#">President</a></li>
					<li><a href="#">Vice President</a></li>
					<li><a href="#">Secretary</a></li>
					<li><a href="#">Treasurer</a></li>
				</ul>
			</div>
		</div>
	</div>
	<hr>
	<div class="row" style="height:8%;">	
		<div class="col-sm-3 col-xs-12 main-link" id="grand-marshall" style="width:100%;">
			<div class="dropdown ">
				<button class="btn btn-primary dropdown-toggle other-polls" type="button" data-toggle="dropdown"  style="width:800px;">
					<h4>Others
					<span class="caret"></span>
					</h4>
				</button>
				<ul class="dropdown-menu" style="width:100%;">
					<li><a href="#">Independent Senator</a></li>
					<li><a href="#">Greek Senator</a></li>
					<li><a href="#">Graduate Senator</a></li>
					<li><a href="#">Senator</a></li>
				</ul>
			</div>
		</div>

	</div>
<hr>
<div class ="container" style="height:15%; width:780px;">
		<form method="post" action="/message">
			{% csrf_token %}
			<textarea class="form-control" name="message" rows="4" cols="50" maxlength="1000" placeholder="Please let us know your suggestions and comments"></textarea>
			<input type="submit" value="Submit your message" class="btn btn-primary">
		</form>
	</div>
</div>
