{% extends 'polls/base.html' %}

{% load staticfiles %}

{% block content %}
<style>
    h3{
        font-size: 35px;
    }
    .rpi-text-red{
        color:darkslateblue;
    }

</style>
<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-indigo w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:270px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px;margin-top:75px">Close Menu<hr/></a>
  <div class="w3-container">
    <h2 class="w3-padding" style="{%if request.flavour == 'mobile'%} margin-top:40px; color: transparent;{%endif%}"><br/><b>Choose the section</b></h2>
  </div>
    <br/>
  <div class="w3-bar-block">
      <a href="/GM2017"onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white w3-xlarge"> <b> <i class="fa fa-arrow-left"></i>   Back to Vote </b></a> 

    <a href="/polls/95/demo" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white w3-hide-small">Voting Tutorial</a> 
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">GM, PU & UP</a> 
    <a href="#2018" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Class of 2018</a> 
    <a href="#2019" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Class of 2019</a> 
    <a href="#2020" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Class of 2020</a> 
    <a href="#alumni" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Alumni</a> 
    <a href="#others" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Others</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-indigo w3-xlarge w3-padding" style="margin-top:75px">
  <a href="javascript:void(0)" class="w3-button w3-indigo w3-margin-right" onclick="w3_open()">☰</a>
  <span>Live Results</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>



<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:320px;margin-right:40px">
    
    <!--Tutorial -->
  <div class="w3-container" style="margin-top: 30px" id="tutorial">
      <h1 class="w3-xxxlarge"><b>Live Results of Grand Marshal Week 2017</b> <h1 class= "w3-large"> This is unofficial polling. Please vote at voting station.</h1></h1>
      <br class="w3-hide-small"/>
      <h1 class="w3-xxlarge rpi-text-red w3-hide-small"><b>Tutorial</b></h1>
      <hr style="width:50px;border:5px solid" class="w3-round rpi-text-red w3-hide-small">
      
      
      <!-- Tutorial -->
      <div class="w3-row-padding w3-grayscale w3-hide-small">
        <br/>
         <div class="w3-col m12 w3-margin-bottom"  >
             <a href="/polls/95/demo">
          <div class="w3-light-grey" >
            <div class="w3-container w3-center w3-hover-grey" style="height:130px;padding:35px;">
              <h3>Voting Tutorial</h3>
            </div>
          </div></a>
        </div>
          
      </div>
  </div>
  
  <!--GM,PU,UP -->
  <div class="w3-container" style="{%if not request.flavour == 'mobile'%} margin-top: 50px;{%endif%}" id="3Main">
      <h1 class="w3-xxlarge rpi-text-red" style="margin-top:80px"><b>GM, PU & UP.</b></h1>
      <hr style="width:50px;border:5px solid" class="w3-round rpi-text-red">
      <br/>
      
      <!-- The Candidates -->
      <div class="w3-row-padding w3-grayscale">
          
         <div class="w3-col m4 w3-margin-bottom" >
             <a href="/polls/239/vote/results/">
          <div class="w3-light-grey w3-hover-grey" style="height:130px; padding-top:15px;"> 
            <div class="w3-container w3-center">
              <h3 class= "w3-xxlarge">Grand
				<br>
                  Marshall</h3>
                  </div>
                 </div></a>
          </div>
             

        <div class="w3-col m4 w3-margin-bottom" >
             <a href="/polls/219/vote/results/">
          <div class="w3-light-grey w3-hover-grey" style="height:130px;padding-top:15px;">      
            <div class="w3-container w3-center">    
              <h3 class= "w3-xxlarge">President
				<br>of the Union</h3>
            </div>
           </div></a>
        </div>
          
        <div class="w3-col m4 w3-margin-bottom" >
             <a href="/polls/220/vote/results/">
          <div class="w3-light-grey w3-hover-grey" style="height:130px;padding-top:15px;">
            <div class="w3-container w3-center">

              <h3 class= "w3-xxlarge">Undergraduate
				<br>
				President
                  </h3>
            </div>
           </div></a>
        </div>
          
      </div>
  </div>
  
   

  <!-- Class of 2018 -->
  <div class="w3-container" id="2018" style="margin-top:50px">
    <h1 class="w3-xxlarge rpi-text-red" style="margin-top:80px"><b>Class of 2018.</b></h1>
    <hr style="width:50px;border:5px solid" class="w3-round rpi-text-red">
    <br/>
      <!-- The Cadidates -->
      <!-- one row -->
      <div class="w3-row-padding w3-grayscale">
         <div class="w3-col m6 w3-margin-bottom" >
             <a href="/polls/223/vote/results/">
           <div class="w3-light-grey w3-hover-grey" style="height:150px;padding-top:40px;">
            <div class="w3-container w3-center">
              <h3>President</h3>
            </div>
            </div></a>
        </div>  
        <div class="w3-col m6 w3-margin-bottom" >
             <a href="/polls/227/vote/results/">
          <div class="w3-light-grey w3-hover-grey" style="height:150px;padding-top:30px;">
             
            <div class="w3-container w3-center ">
              <h3>Vice 
                  <br>President</h3>
                  </div>
                 </div></a>
       </div>
      </div>
      
      <!-- one row -->
       <div class="w3-row-padding w3-grayscale">
         <div class="w3-col m6 w3-margin-bottom" >
             <a href="/polls/229/vote/results/">
          <div class="w3-light-grey  w3-hover-grey" style="height:150px;padding-top:40px;">
              
            <div class="w3-container w3-center">

              <h3>Senator</h3>
                  </div>
                 </div></a>
        </div>    
        <div class="w3-col m6 w3-margin-bottom" >
            <a href="/polls/241/vote/results/">
          <div class="w3-light-grey  w3-hover-grey" style="height:150px;padding-top:40px;">
              
            <div class="w3-container w3-center">

              <h3>Representative</h3>
                  </div>
                </div></a>
       </div>
      </div> 
  </div>
  
  
    
    
    
 <!-- Class of 2019 -->
  <div class="w3-container" id="2019" style="margin-top:50px">
    <h1 class="w3-xxlarge rpi-text-red" style="margin-top:80px"><b>Class of 2019.</b></h1>
    <hr style="width:50px;border:5px solid" class="w3-round rpi-text-red">
    <br/>
      <!-- The Cadidates -->
      <!-- one row -->
      <div class="w3-row-padding w3-grayscale">
         <div class="w3-col m6 w3-margin-bottom" >
             <a href="/polls/242/vote/results/">
          <div class="w3-light-grey  w3-hover-grey" style="height:150px;padding-top:40px;">
               
            <div class="w3-container w3-center">
              <h3>President</h3>
                   </div>
          </div></a>
        </div>  
        <div class="w3-col m6 w3-margin-bottom" >
             <a href="/polls/243/vote/results/">
          <div class="w3-light-grey  w3-hover-grey" style="height:150px;padding-top:30px;">
             
            <div class="w3-container w3-center">

              <h3>Vice <br> President</h3>
                  </div>
            </div></a>
       </div>
      </div>
      
      <!-- one row -->
       <div class="w3-row-padding w3-grayscale">
         <div class="w3-col m6 w3-margin-bottom" >
             <a href="/polls/230/vote/results/">
          <div class="w3-light-grey  w3-hover-grey" style="height:150px;padding-top:40px;">
              
            <div class="w3-container w3-center">
              <h3>Senator</h3>
                  </div>
          </div></a>
        </div>    
        <div class="w3-col m6 w3-margin-bottom" >
            <a href="/polls/240/vote/results/">
          <div class="w3-light-grey  w3-hover-grey" style="height:150px;padding-top:40px;">
              
            <div class="w3-container w3-center">
              <h3>Representative</h3>
            </div>
            </div></a>
       </div>
      </div> 
  </div>
  

    
    
<!-- Class of 2020 -->
  <div class="w3-container" id="2020" style="margin-top:50px">
    <h1 class="w3-xxlarge rpi-text-red" style="margin-top:80px"><b>Class of 2020.</b></h1>
    <hr style="width:50px;border:5px solid" class="w3-round rpi-text-red">
    <br/>
      <!-- The Cadidates -->
      <!-- one row -->
      <div class="w3-row-padding w3-grayscale">
         <div class="w3-col m6 w3-margin-bottom" >
              <a href="/polls/224/vote/results/">
          <div class="w3-light-grey  w3-hover-grey" style="height:150px;padding-top:40px;">
             
            <div class="w3-container w3-center">
              <h3>President</h3>
                  </div>
                  </div></a>
        </div>  
        <div class="w3-col m6 w3-margin-bottom" >
            <a href="/polls/228/vote/results/">
          <div class="w3-light-grey  w3-hover-grey" style="height:150px;padding-top:30px;">
              
            <div class="w3-container w3-center">

              <h3>Vice <br> President</h3>
                  </div>
                </div></a>
       </div>
      </div>
      
      <!-- one row -->
       <div class="w3-row-padding w3-grayscale">
         <div class="w3-col m6 w3-margin-bottom" >
              <a href="/polls/238/vote/results/">
          <div class="w3-light-grey  w3-hover-grey" style="height:150px;padding-top:40px;">
             
            <div class="w3-container w3-center">

              <h3>Senator</h3>
                  </div>
                  </div></a>
        </div>    
        <div class="w3-col m6 w3-margin-bottom" >
            <a href="/polls/232/vote/results/">
          <div class="w3-light-grey  w3-hover-grey" style="height:150px;padding-top:40px;">
              
            <div class="w3-container w3-center">

              <h3>Representative</h3>
                  </div>
                </div></a>
       </div>
      </div> 
  </div>
    
    
    <!-- Alumni -->
  <div class="w3-container" id="alumni" style="margin-top:50px">
    <h1 class="w3-xxlarge rpi-text-red" style="margin-top:80px"><b>Alumni.</b></h1>
    <hr style="width:50px;border:5px solid" class="w3-round rpi-text-red">
    <br/>
      <!-- The Cadidates -->
      <!-- one row -->
      <div class="w3-row-padding w3-grayscale">
         <div class="w3-col m6 w3-margin-bottom" >
             <a href="/polls/233/vote/results/">
          <div class="w3-light-grey  w3-hover-grey" style="height:150px;padding-top:40px;">
              
            <div class="w3-container w3-center">

              <h3>President</h3>
                  </div>
                 </div></a>
        </div>  
          
        <div class="w3-col m6 w3-margin-bottom" >
            <a href="/polls/234/vote/results/">
          <div class="w3-light-grey  w3-hover-grey" style="height:150px;padding-top:30px;">
              
            <div class="w3-container w3-center">

              <h3>Vice <br> President</h3>
                  </div>
                </div></a>
       </div>
      </div>
      
      <!-- one row -->
       <div class="w3-row-padding w3-grayscale">
         <div class="w3-col m6 w3-margin-bottom" >
             <a href="/polls/235/vote/results/">
          <div class="w3-light-grey  w3-hover-grey" style="height:150px;padding-top:40px;">
              
            <div class="w3-container w3-center">

              <h3>Secretary</h3>
                  </div>
                 </div></a>
        </div>    
        <div class="w3-col m6 w3-margin-bottom" >
            <a href="/polls/236/vote/results/">
          <div class="w3-light-grey  w3-hover-grey" style="height:150px;padding-top:40px;">
              
            <div class="w3-container w3-center">

              <h3>Treasurer</h3>
                  </div>
                </div></a>
       </div>
      </div> 
  </div>
    
    
    
      <!-- Otherss -->
  <div class="w3-container" id="others" style="margin-top:50px">
    <h1 class="w3-xxlarge rpi-text-red" style="margin-top:80px"><b>Others.</b></h1>
    <hr style="width:50px;border:5px solid" class="w3-round rpi-text-red">
    <br/>
      <!-- The Cadidates -->
      <!-- one row -->
      <div class="w3-row-padding w3-grayscale">
         <div class="w3-col m6 w3-margin-bottom" >
             <a href="/polls/222/vote/results/">
          <div class="w3-light-grey  w3-hover-grey" style="height:150px;padding-top:30px;">             
            <div class="w3-container w3-center">
              <h3>Independent <br> Senators</h3>
                  </div>
          </div></a>
        </div>  
        <div class="w3-col m6 w3-margin-bottom" >
             <a href="/polls/226/vote/results/">
          <div class="w3-light-grey  w3-hover-grey" style="height:150px;padding-top:30px;">           
            <div class="w3-container w3-center">
              <h3>Greek <br> Senator</h3>
                  </div>
                 </div></a>
       </div>
      </div>
      
      <!-- one row -->
       <div class="w3-row-padding w3-grayscale">
         <div class="w3-col m6 w3-margin-bottom" >
             <a href="/polls/244/vote/results/">
          <div class="w3-light-grey  w3-hover-grey" style="height:150px;padding-top:30px;">   
            <div class="w3-container w3-center">
              <h3>Graduate <br> Senator</h3>
                  </div>
                 </div></a>
        </div>    
        <div class="w3-col m6 w3-margin-bottom" >
            <a href="/polls/245/vote/results/">
          <div class="w3-light-grey  w3-hover-grey" style="height:150px;padding-top:20px;">
            <div class="w3-container w3-center">
                <h3>Graduate <br> Representative</h3>
                  </div>
                </div></a>
       </div>
      </div> 
  </div>  
    

    <br/><br/>
    <br/><br/>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
 
</script>
{% endblock %}