{% load mathfilters %}
<div id="starsSection" {% if request.flavour == "mobile" %}style="padding:0.4em;" {% endif %}>
    <!-- This is the voting form. Submit results through a voting function -->
    <form id="star" {% if request.user.username == "" %} action="{% url 'polls:anonymousvote' question.id %}" {% else %} action="{% url 'polls:vote' question.id %}" {% endif %} method="post">

        <div class="row">
            {% csrf_token %}
            <!-- If this user isn't logged in and hasn't voted before -->
            {% if request.user.username == "" and 'anonymousid' not in request.session %}
            <div class="col-md-12" style="clear:right; ">
                <h4>Your name (optional)</h4>
                <input type="text" size="50" class="form-control" style="width=50%; clear:right;" name="anonymousname"/>
            </div>
            {% endif %}

            <div class="col-md-12">

                <!-- Panel for your preferences -->
                <div class="panel panel-default" >
				{% if request.flavour == "mobile" %}
				<div class = "row col-xs-12" style="padding:0%;margin:0%;margin-bottom: 4%;">
						<button id="submitbutton-star" type="submit" onclick="VoteUtil.submitPref();" class="submitbutton reset-button-mobile" style = "height:2.7em;padding:0%;margin:0%;background:darkgreen;">
                            <span class="glyphicon glyphicon-upload" style="font-size:140%;color:white;margin:0%;">Submit</span>
                        </button> 
                </div>
				{% endif %}
                    <!-- Your preferences header -->
                    <div class="panel-heading" >
                        <h4>Your preferences:
                            {% if not request.flavour == "mobile" %}
                            <button id="submitbutton-star" type="submit" onclick="VoteUtil.submitPref();" class="submitbutton btn btn-success" style="">
                                Submit
                            </button>
                            <button id="submitting-star" type="button" class="submitting btn btn-default" style="visibility:hidden;position:absolute;z-index:1;">
                                Submitting...
                            </button>
                            {% endif %}
                            <input type="hidden" id="pref_order" class="pref_order" name="pref_order" value=""/>
                            <input type="hidden" id="record_data" class="record_data" name="record_data" value=""/>

                            <div class="pull-right">
                            {% if messages %}
                                {% for message in messages %}
                                <span id="successMessage" {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                                    {{ message }}
                                </span>
                                {% endfor %}
                            {% endif %}
						    </div>

                        </h4>
                    </div> <!-- end of header -->

                    <!-- Your preferences main panel -->
                    <div class="panel-body" >
                        <ul id="stars" >
                        {% for item in items %}
                            <li class="star_item" id="item{{ item.item_text }}" type="{{ forloop.counter }}" style="list-style-type: none;">
                                <!-- Display image (uploaded) -->
                                {% if item.image %}
                                    <img class="item" src='/{{ item.image.url }}'/>
                                {% endif %}
                                <!-- Display image (external URL) -->
                                {% if item.imageURL != Null %}
                                    <img class="item" src='{{ item.imageURL }}'/>
                                {% endif %}
                                <!-- Display option text -->
                                <strong>{{ item.item_text }}</strong>
                                <!-- Display tooltip for option description -->
                                {% if item.item_description %}
                                    <span class="glyphicon glyphicon-info-sign pull-right" data-toggle="tooltip" data-placement="top" title="{{item.item_description}}" data-title="Meddelanden">
                                    </span>
                                {% endif %}
                                <div class="star" id="starI{{ forloop.counter }}" type="{{ forloop.counter }}"></div>
                            </li>
							<hr/>
                        {% endfor %}
                        </ul> <!-- end of main panel (left-sortable) -->
                    </div>
                </div>
            </div>
        </div>

        {% include "polls/voteOptions/_comment_section.html" %}
    </form>
</div>

<script>
    $(window).load(function(){
        var original_order = [];
        var t = 1;
        {% if currentSelection %}
            {% for s in currentSelection %}
                {% if s %}
                    var inner = [];
                    {% for selection in s %}
                        inner.push(t);
                        t = t + 1;
                    {% endfor %}
                    original_order.push(inner);
                {% endif %}
            {% endfor %}
        {% endif %}
        
        {% if currentSelection == None %}
            {% for item in items %}
                original_order.push([t]);
                t = t + 1;
            {% endfor %}
        {% else %}

            {% if unrankedCandidates %}
                {% for item in unrankedCandidates %}
                    original_order.push([t]);
                    t = t + 1;
                {% endfor %}
            {% endif %}
        {% endif %}
        starSort(original_order);
        order1 = JSON.stringify(dictSlideStar('star'));
    });
</script>