{% load mathfilters %}
<div id="twoColSection" {% if request.flavour == "mobile" %}style="padding:0.4em;" {% endif %}>
    <!-- This is the voting form. Submit results through a voting function -->
    <form id="twoCol" {% if request.user.username == "" %} action="{% url 'polls:anonymousvote' question.id %}" {% else %} action="{% url 'polls:vote' question.id %}" {% endif %} method="post">

        <div class="row">
            {% csrf_token %}
            <!-- If this user isn't logged in and hasn't voted before -->
            {% if request.user.username == "" and 'anonymousid' not in request.session %}
            <div class="col-md-12" style="clear:right; ">
                <h4>Your name (optional)</h4>
                <input type="text" size="50" class="form-control" style="width=50%; clear:right;" name="anonymousname"/>
            </div>
            {% endif %}

                {% if request.flavour == "mobile" %}
               
                <!-- Panel for your preferences -->
                <div class="panel panel-default" style="padding:0%;margin:3%;">
                
                <div class = "row col-xs-12" style="padding:0%;margin:0%;margin-bottom: 4%;">
                <div class="panel panel-body col-xs-6" style="padding:0%;margin:0%;">
                <!-- Clear button (mobile version) -->
                    <button onclick="VoteUtil.clearAll();return false;" class="reset-button-mobile" style = "height:2.7em;padding:0%;margin:0%;">
                        <span class="glyphicon glyphicon-trash redcolor" style="font-size:140%;color:white;">Clear</span>
                    </button>
                </div>
                
                	<div class="panel panel-body col-xs-6" style="padding:0%;">
                	<button id="submitbutton-twocol" type="submit" onclick="VoteUtil.submitPref();" class="submitbutton submit-button-mobile" style="position:absolute;margin:0%;width:100%;height:2.7em;padding:0%;">
                                <span class="glyphicon glyphicon-upload" style="font-size:140%;color:white;margin:0%;">Submit</span>
                            </button> 
                  </div>
                  </div>
                  {% else %}
                  <div class ="col-sm-6">
                <!-- Panel for your preferences -->
                <div class="panel panel-default">
                  {% endif %}
                    <!-- Your preferences header -->
                    <div class="panel-heading">
                    	
                        <h4>Your preferences:
                            {% if not request.flavour == "mobile" %}
                            
                            <button onclick="VoteUtil.clearAll(); return false;" class="btn btn-danger reset-button" style="background"> Clear </button>
                            <button id="submitbutton-twocol" type="submit" onclick="VoteUtil.submitPref();" class="submitbutton btn btn-success" style="position:absolute;" disabled>
                                Submit
                            </button>
                            <button id="submitting-twocol" type="button" class="submitting btn btn-default" style="visibility:hidden;position:absolute;z-index:1;">
                                Submitting...
                            </button>
                            {% endif %}
                            <input type="hidden" id="pref_order" class="pref_order" name="pref_order" value=""/>
                            <input type="hidden" id="record_data" class="record_data" name="record_data" value=""/>

                            <div class="pull-right">
                                {% if messages %}
                                    {% for message in messages %}
                                        <span id="successMessage" {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                                            {{ message }}
                                        </span>
                                    {% endfor %}
                                {% endif %}
                            </div>

                        </h4>
                        	
                        
                    </div> <!-- end of header -->

                    <!-- Your preferences main panel -->
                    <div class="panel-body" >
                    
                        <ul id="left-sortable" >
                        	
                            {% if currentSelection %}
                                <!-- Display a previously submitted vote -->
                                {% for s in currentSelection %}
                                    {% if s %}
                                        <ul class="choice1 empty"></ul>
                                        <ul class="choice1">
                                            <!-- Display the tier number -->
                                            <div class="tier">{{ forloop.counter }}</div>

                                            <!-- Display all the options selected for this tier -->
                                            {% for selection in s %}
                                                <li class="li_item" id="item{{ selection.item_text }}">
                                                    <!-- Display image (uploaded) -->
                                                    {% if selection.image %}
                                                        <img class="item" src='/{{ selection.image.url }}'/>
                                                    {% endif %}
                                                    <!-- Display image (external URL) -->
                                                    {% if selection.imageURL != Null %}
                                                        <img class="item" src='{{ selection.imageURL }}'/>
                                                    {% endif %}
                                                    <!-- Display option text -->
                                                    {{ selection }}
                                                    <!-- Display tooltip for option description -->
                                                    {% if selection.item_description %}
                                                        <span class="glyphicon glyphicon-info-sign pull-right" data-toggle="tooltip" data-placement="top" title="{{selection.0.item_description}}"></span>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </ul> <!-- end of main panel (left-sortable) -->
                    </div>

                   
                </div>
				{% if not request.flavour == "mobile"%}
            </div>
			{% endif %}
            <div class="col-xs-12 col-sm-6" style="padding:0%;margin:0%;">
            	
                
                    <!-- Remaining options panel header -->
                    
                            {% if request.flavour == "mobile" %}
                            <button onclick="VoteUtil.moveAll(); return false;" class="move-all-button-mobile" style = "width:100%;height:2.7em;margin-bottom:10px;">
                                    <span class="glyphicon glyphicon-arrow-up bluecolor" style="font-size:140%;color:white;">MoveUp</span>  
                                </button>
                            <div class="panel panel-default">
                            <div class="panel-heading">
                            <h4>Unranked Options:</h4>
							</div>
                            {% else %}
                            <div class="panel panel-default">
                         <div class="panel-heading">
                            <h4>Unranked Options:
                                <button onclick="VoteUtil.moveAll(); return false;" class="btn btn-primary move-all-button" >
                                    Move All
                                </button>
                            </h4>
							</div>
							 {% endif %}<!-- end of panel header -->
                            
                           
                            
                        

                    <!-- Remaining options panel body -->
                    <div class="panel-body">
                        <ul id="right-sortable" class="list-group">
                            {% if currentSelection == None %}
                                <!-- The user hasn't voted on this poll yet -->
                                {% for item in items %}
                                    <ul class="choice2 empty"></ul>
                                    <div class="tier">
                                        <!-- Display tier number -->
                                        {{ forloop.counter }}
                                    </div>

                                    <!-- Display each option. Each option gets its own tier -->
                                    {% with prev=forloop.counter|mul:2 %}
                                    <ul class="choice2" id="{{ prev|add:1 }}" onclick="VoteUtil.moveToPref(this)">
                                    {% endwith %}
                                        <li class="li_item" id="item{{ item.item_text }}" type="{{ item.id }}">
                                            <!-- Display image (uploaded) -->
                                            {% if item.image %}
                                                <img class="item" src='/{{ item.image.url }}'/>
                                            {% endif %}
                                            <!-- Display image (external URL) -->
                                            {% if item.imageURL != Null %}
                                                <img class="item" src='{{ item.imageURL }}'/>
                                            {% endif %}
                                            <!-- Display option text -->
                                            {{ item.item_text }}
                                            <!-- Display tooltip for option description -->
                                            {% if item.item_description %}
                                                <span class="glyphicon glyphicon-info-sign pull-right" data-toggle="tooltip" data-placement="top" title="{{item.item_description}}" data-title="Meddelanden">
                                                </span>
                                            {% endif %}
                                        </li>
                                    </ul>
                                {% endfor %}
                                <ul class="choice2 empty"></ul>
    						{% else %}
    							{% if unrankedCandidates %}
    								{% for item in unrankedCandidates %}
    									<ul class="choice2 empty"></ul>
    									<div class="tier">{{ forloop.counter }}</div>
    									{% with prev=forloop.counter|mul:2 %}
    									<ul class="choice2" id="{{ prev|add:1 }}" onclick="VoteUtil.moveToPref(this)">
    									{% endwith %}
    										<li class="li_item" id="item{{ item.item_text }}" type="{{ forloop.counter }}">
    											<!-- Display image (uploaded) -->
    											{% if item.image %}
    												<img class="item" src='/{{ item.image.url }}'/>
    											{% endif %}
    											<!-- Display image (external URL) -->
    											{% if item.imageURL != Null %}
    												<img class="item" src='{{ item.imageURL }}'/>
    											{% endif %}
    											<!-- Display option text -->
    											{{ item.item_text }}
    											<!-- Display tooltip for option description -->
    											{% if item.item_description %}
    												<span class="glyphicon glyphicon-info-sign pull-right" data-toggle="tooltip" data-placement="top" title="{{item.item_description}}" data-title="Meddelanden">
    												</span>
    											{% endif %}
    										</li>
    									</ul>
    								{% endfor %}
    							{% endif %}
                            {% endif %}
                        </ul>
                    </div> <!-- end of panel body (right-sortable)-->
                </div>
            </div>
        </div>

        {% include "polls/voteOptions/_comment_section.html" %}
    </form>
</div>