<ul class="list-group" id="choicesetting">
    <li id="added{{class.id}}" class="list-group-item">
    </li>
    <li class="list-group-item">
        <div class="row">
        <div class="col-xs-10 form-group">
            <input type="text" id="choice" class="form-control" name="choice" value="" size="50" placeholder="Option name" autofocus/>
        </div>

        <button type="button" id="addOption{{class.id}}" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        </div>
        </div>
    </li>
</ul>
<script>
    var counter = 0;

    $('#addOption{{class.id}}').click(function(){
        //let counter = $('#added{{class.id}}').children.length
        console.log('You had:', $('#new_quiz{{ class.id }} #choice').val())
        console.log('adding new option, counter: ',counter);
        var text = $('#new_quiz{{ class.id }} #choice').val();
        $('#added{{class.id}}').append("<div class=\"row\"><div class=\"col-xs-10 form-group\"><input type=\"text\" id=\"choice" + counter + "\" class=\"added{{class.id}} form-control\" name=\"choice" + counter + "\" value=\"\" size=\"50\"/></div></div>");
        console.log('added new field')
        $('#new_quiz{{ class.id }} #choice' + counter).val(text);

        $('#new_quiz{{ class.id }} #choice').val("");
        counter = counter + 1;
    });
</script>
