<script>

    $(function() {
        $("#user-search").autocomplete({
            source: function(request, response) {
                $.ajax({
                    url: "/polls/api/get_voters/",
                    dataType: "json",
                    data: {
                        term : request.term,
                        poll_id : -1
                    },
                    success: function(data) {
                        response(data);
                    }
                });
            },
            minLength: 2,
            select: function( event, ui ) {
                $('#currentVoters').html($('#currentVoters').html() + "<option value=\"" + ui.item.value + "\">" + ui.item.value + "</option>");
                $('#user-search').val("");
            }
        });
    });
</script>

<div class="col-md-4">
    <b>Current Voters: </b>
    <select id="currentVoters" name="voters" class="form-control" multiple>
        {% for user in question.question_voters.all %}
            <option value="{{ user.username }}">{{ user.username }}</option>
        {% endfor %}
    </select>
    <br />
    {% if question.status == 1 %}
        <label for="email2">Email announcement</label>
        <input type="checkbox" name="email" id="email2" value="email" {% if question.emailDelete == True or question.emailDelete == None %} checked {% endif %} onchange="this.form.submit()">
        <br />
        <input type="submit" class="btn btn-danger" value="&#xf068;">
    {% endif %}
</div>     
<div class="col-md-4">
    <b>Add Voter: </b>
        {% csrf_token %}
        <input name="voters" type="text" class="form-control" id="user-search">

        <br />
        <label for="email1">Email announcement</label>
        <input type="checkbox" name="email" id="email1" value="email" {% if question.emailInvite == True %} checked {% endif %}>
        <br />
</div>