* {
	font-size: 100%;
}


a {
	font-size: 100%;
	text-decoration: none !important;
}

button {
	outline:none;
}

glyphicon-info-sign {
	font-size: 60%;
	color: #56A5EC;
}

glyphicon-play {
	color: green;
}

glyphicon-stop {
	color: red;
}

nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.greycolor {
	color: grey;
}

.greycolor:hover {
	color: black;
	cursor: pointer;
	cursor: hand;
}
.greencolor {
	color: green;
}
.greencolor:hover {
	color: darkgreen;
	cursor: pointer;
	cursor: hand;
}

.bluecolor {
	color: blue;
}
.bluecolor:hover {
	color: darkblue;
	cursor: pointer;
	cursor: hand;
}

.redcolor {
	color: red;
}
.redcolor:hover {
	color: darkred;
	cursor: pointer;
	cursor: hand;
}

.btn-success {
	font-size: 60% !important;
}

.btn-info {
	font-size: 60% !important;
}

.btn-dangerous {
	font-size: 60% !important;
}

.btn-ok {
	font-size: 60% !important;
}

