{% extends 'mentors/apply.html' %}
{% load staticfiles %}



{% block content %}
<form method="POST" action="{% url 'mentors:applyfunc2' %}" id="applyfunc2">
    {% csrf_token %}
        <legend> Compensation and Responsibilities </legend>

        <div class="textline"> We currently have funding for a fixed number of paid programming mentors.  Therefore, if you apply for pay, you may be asked to work for credit instead.  Course credit counts as a graded&nbsp;1-credit or&nbsp;2-credit free elective.  In general, if you work an average of&nbsp;1-3&nbsp;hours per week, you will receive 1&nbsp;credit; if you average&nbsp;4&nbsp;or more hours per week, you will receive 2&nbsp;credits.  Note that no more than 4&nbsp;credits may be earned as an undergraduate (spanning all courses and all semesters).  Please do not apply for credit if you have already earned 4 credits as a mentor; apply only for pay.
        </div>

        <div class="vspacewithline"></div>

        <div class="inputline">
            <label for="compensation" style="width: 330px;">Select your preference for compensation:</label>
            <input type="radio" name="compensation" id="compensation" value="pay"> Pay ($14/hour) &nbsp; 
            <input type="radio" name="compensation" id="compensation" value="credit"> Course Credit &nbsp; 
            <input type="radio" name="compensation" id="compensation" value="either" checked="checked"> No Preference 
            <span class="required">&nbsp;&nbsp;«&nbsp;required</span>
        </div>
        <div class="inputline">
            <label for="paidbyrpi" style="width: 330px;">&nbsp;</label>
            <input type="checkbox" name="paidbyrpi" id="paidbyrpi" value="paidbyrpi"> I have been employed and paid by RPI before 
        </div>

        <div class="vspacewithline"></div>


        <div class="textline">For a paid position, you <strong>must</strong> follow the given instructions to ensure you are paid; otherwise, another candidate will be selected.  More specifically, you will be required to have a <strong>student employment card</strong>.  This requires you to have a federal I-9 on file.  Bring appropriate identification with you to Amos Eaton&nbsp;109 if this is your first time working for RPI; <strong><a href="https://www.uscis.gov/i-9-central/acceptable-documents" target="_blank">click here for a list of acceptable documents.</a></strong>  <strong>Note that original documents are required; copies cannot be accepted.</strong>
        </div>
        <div class="textline"><strong>Detailed instructions are listed here: <a href="http://finance.rpi.edu/update.do?catcenterkey=184" target="_blank">http://finance.rpi.edu/update.do?catcenterkey=184</a></strong></div>
        <div class="textline">Please note that to be paid, you will be required to submit your specific hours in SIS every two weeks.  This <strong>must</strong> be completed to get paid on time, and any late submissions will incur a fee charged to the department.</div>
        <div class="textline">If you are unable to attend your assigned labs or office hours (e.g., illness, interview, conference, etc.), you <strong>must</strong> notify your graduate lab TA and instructor and help arrange a substitute mentor.  Unexcused absences will cause you to either earn a lower letter grade or not be asked to mentor again.</div>

        <div class="inputline">
            <input type="submit" value="Save and Continue" class="btn btn-primary">
        </div>
    </form>

{% endblock %}