{% extends 'mentors/apply.html' %}
{% load staticfiles %}



{% block content %}
    <form method="POST" action="" >
        {% csrf_token %}

        <button class="searchbutton" type="submit">
        <i class="fa fa-search"></i>
        </button>
        <input class="searchfield" id="search" name="q" type="text" placeholder="Search Course">
        <fieldset>
                <legend> Course Selections </legend>
                <div class="textline">
                  Below is a list of courses likely to need mentors.
                  Please check <strong>all</strong> courses for which you are able to mentor.
                  Note that
                  CSCI&nbsp;1010 and CSCI&nbsp;1100 are in Python,
                  CSCI&nbsp;1190 is in MATLAB,
                  CSCI&nbsp;1200 is in C++,
                  CSCI&nbsp;2300 is in Python/C++,
                  CSCI&nbsp;2500 is in C/Assembly,
                  and CSCI&nbsp;2600 is in Java.
                  For each of the courses you have taken, please specify the letter grade you earned in the course at RPI (or select "AP" if you earned AP credit for CSCI&nbsp;1100).
                </div>
                <div class="textline">
                  Note that you cannot be a mentor for a course you will be taking in the same semester or for a course you plan to take in the future.
                  You are however allowed to mentor for courses you have never taken;
                  be sure to describe equivalent courses or experiences in the general comments textbox below.
                </div>
        
                <div class="vspacewithline"></div>
        
                <div class="inputline">
                  <label for="csci1010" style="width: 330px; min-height: 80px;"><b>CSCI 1010 Intro to Computer Programming:</b></label>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci1010-wants-to-mentor" id="csci1010-wants-to-mentor"> I am qualified to mentor this course
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci1010-taken" id="csci1010-taken"> I have taken this course at RPI before and earned grade:
                  <select name="csci1010" id="csci1010" onchange="document.getElementById( 'csci1010-taken' ).checked = ( this.options[this.selectedIndex].text != '' );">
                    <option value="blank"></option>
                    <option value="IP">In Progress</option>
                    <option value="A">A</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B">B</option>
                    <option value="B-">B-</option>
                    <option value="C+">C+</option>
                    <option value="C">C</option>
                    <option value="C-">C-</option>
                    <option value="D+">D+</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                  </select>
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci1010-mentored" id="csci1010-mentored"> I have mentored this RPI course before
                </div>
                <div class="vspacewithline"></div>
        
                <div class="inputline">
                  <label for="csci1100" style="width: 330px; min-height: 80px;"><b>CSCI 1100 Computer Science I:</b></label>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci1100-wants-to-mentor" id="csci1100-wants-to-mentor"> I am qualified to mentor this course
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci1100-taken" id="csci1100-taken"> I have taken this course at RPI before and earned grade:
                  <select name="csci1100" id="csci1100" onchange="document.getElementById( 'csci1100-taken' ).checked = ( this.options[this.selectedIndex].text != '' );">
                    <option value="blank"></option>
                    <option value="IP">In Progress</option>
                    <option value="AP">AP</option>
                    <option value="A">A</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B">B</option>
                    <option value="B-">B-</option>
                    <option value="C+">C+</option>
                    <option value="C">C</option>
                    <option value="C-">C-</option>
                    <option value="D+">D+</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                  </select>
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci1100-mentored" id="csci1100-mentored"> I have mentored this RPI course before
                </div>
                <div class="vspacewithline"></div>
        
                <div class="inputline">
                  <label for="csci1190" style="width: 330px; min-height: 80px;"><b>CSCI 1190 Beginning Prog for Engineers:</b></label>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci1190-wants-to-mentor" id="csci1190-wants-to-mentor"> I am qualified to mentor this course
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci1190-taken" id="csci1190-taken"> I have taken this course at RPI before and earned grade:
                  <select name="csci1190" id="csci1190" onchange="document.getElementById( 'csci1190-taken' ).checked = ( this.options[this.selectedIndex].text != '' );">
                    <option value="blank"></option>
                    <option value="IP">In Progress</option>
                    <option value="A">A</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B">B</option>
                    <option value="B-">B-</option>
                    <option value="C+">C+</option>
                    <option value="C">C</option>
                    <option value="C-">C-</option>
                    <option value="D+">D+</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                  </select>
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci1190-mentored" id="csci1190-mentored"> I have mentored this RPI course before
                </div>
                <div class="vspacewithline"></div>
        
                <div class="inputline">
                  <label for="csci1200" style="width: 330px; min-height: 80px;"><b>CSCI 1200 Data Structures:</b></label>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci1200-wants-to-mentor" id="csci1200-wants-to-mentor"> I am qualified to mentor this course
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci1200-taken" id="csci1200-taken"> I have taken this course at RPI before and earned grade:
                  <select name="csci1200" id="csci1200" onchange="document.getElementById( 'csci1200-taken' ).checked = ( this.options[this.selectedIndex].text != '' );">
                    <option value="blank"></option>
                    <option value="IP">In Progress</option>
                    <option value="A">A</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B">B</option>
                    <option value="B-">B-</option>
                    <option value="C+">C+</option>
                    <option value="C">C</option>
                    <option value="C-">C-</option>
                    <option value="D+">D+</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                  </select>
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci1200-mentored" id="csci1200-mentored"> I have mentored this RPI course before
                </div>
                <div class="vspacewithline"></div>
        
                <div class="inputline">
                  <label for="csci2200" style="width: 330px; min-height: 80px;"><b>CSCI 2200 Foundations of Computer Science:</b></label>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci2200-wants-to-mentor" id="csci2200-wants-to-mentor"> I am qualified to mentor this course
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci2200-taken" id="csci2200-taken"> I have taken this course at RPI before and earned grade:
                  <select name="csci2200" id="csci2200" onchange="document.getElementById( 'csci2200-taken' ).checked = ( this.options[this.selectedIndex].text != '' );">
                    <option value="blank"></option>
                    <option value="IP">In Progress</option>
                    <option value="A">A</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B">B</option>
                    <option value="B-">B-</option>
                    <option value="C+">C+</option>
                    <option value="C">C</option>
                    <option value="C-">C-</option>
                    <option value="D+">D+</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                  </select>
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci2200-mentored" id="csci2200-mentored"> I have mentored this RPI course before
                </div>
                <div class="vspacewithline"></div>
        
                <div class="inputline">
                  <label for="csci2300" style="width: 330px; min-height: 80px;"><b>CSCI 2300 Intro to Algorithms:</b></label>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci2300-wants-to-mentor" id="csci2300-wants-to-mentor"> I am qualified to mentor this course
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci2300-taken" id="csci2300-taken"> I have taken this course at RPI before and earned grade:
                  <select name="csci2300" id="csci2300" onchange="document.getElementById( 'csci2300-taken' ).checked = ( this.options[this.selectedIndex].text != '' );">
                    <option value="blank"></option>
                    <option value="IP">In Progress</option>
                    <option value="A">A</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B">B</option>
                    <option value="B-">B-</option>
                    <option value="C+">C+</option>
                    <option value="C">C</option>
                    <option value="C-">C-</option>
                    <option value="D+">D+</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                  </select>
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci2300-mentored" id="csci2300-mentored"> I have mentored this RPI course before
                </div>
                <div class="vspacewithline"></div>
        
                <div class="inputline">
                  <label for="csci2500" style="width: 330px; min-height: 80px;"><b>CSCI 2500 Computer Organization:</b></label>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci2500-wants-to-mentor" id="csci2500-wants-to-mentor"> I am qualified to mentor this course
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci2500-taken" id="csci2500-taken"> I have taken this course at RPI before and earned grade:
                  <select name="csci2500" id="csci2500" onchange="document.getElementById( 'csci2500-taken' ).checked = ( this.options[this.selectedIndex].text != '' );">
                    <option value="blank"></option>
                    <option value="IP">In Progress</option>
                    <option value="A">A</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B">B</option>
                    <option value="B-">B-</option>
                    <option value="C+">C+</option>
                    <option value="C">C</option>
                    <option value="C-">C-</option>
                    <option value="D+">D+</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                  </select>
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci2500-mentored" id="csci2500-mentored"> I have mentored this RPI course before
                </div>
                <div class="vspacewithline"></div>
        
                <div class="inputline">
                  <label for="csci2600" style="width: 330px; min-height: 80px;"><b>CSCI 2600 Principles of Software:</b></label>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci2600-wants-to-mentor" id="csci2600-wants-to-mentor"> I am qualified to mentor this course
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci2600-taken" id="csci2600-taken"> I have taken this course at RPI before and earned grade:
                  <select name="csci2600" id="csci2600" onchange="document.getElementById( 'csci2600-taken' ).checked = ( this.options[this.selectedIndex].text != '' );">
                    <option value="blank"></option>
                    <option value="IP">In Progress</option>
                    <option value="A">A</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B">B</option>
                    <option value="B-">B-</option>
                    <option value="C+">C+</option>
                    <option value="C">C</option>
                    <option value="C-">C-</option>
                    <option value="D+">D+</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                  </select>
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci2600-mentored" id="csci2600-mentored"> I have mentored this RPI course before
                </div>
                <div class="vspacewithline"></div>
        
                <div class="inputline">
                  <label for="csci4100" style="width: 330px; min-height: 80px;"><b>CSCI 4100 Machine Learning from Data:</b></label>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci4100-wants-to-mentor" id="csci4100-wants-to-mentor"> I am qualified to mentor this course
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci4100-taken" id="csci4100-taken"> I have taken this course at RPI before and earned grade:
                  <select name="csci4100" id="csci4100" onchange="document.getElementById( 'csci4100-taken' ).checked = ( this.options[this.selectedIndex].text != '' );">
                    <option value="blank"></option>
                    <option value="IP">In Progress</option>
                    <option value="A">A</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B">B</option>
                    <option value="B-">B-</option>
                    <option value="C+">C+</option>
                    <option value="C">C</option>
                    <option value="C-">C-</option>
                    <option value="D+">D+</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                  </select>
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci4100-mentored" id="csci4100-mentored"> I have mentored this RPI course before
                </div>
                <div class="vspacewithline"></div>
        
                <div class="inputline">
                  <label for="csci4220" style="width: 330px; min-height: 80px;"><b>CSCI 4220 Network Programming:</b></label>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci4220-wants-to-mentor" id="csci4220-wants-to-mentor"> I am qualified to mentor this course
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci4220-taken" id="csci4220-taken"> I have taken this course at RPI before and earned grade:
                  <select name="csci4220" id="csci4220" onchange="document.getElementById( 'csci4220-taken' ).checked = ( this.options[this.selectedIndex].text != '' );">
                    <option value="blank"></option>
                    <option value="IP">In Progress</option>
                    <option value="A">A</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B">B</option>
                    <option value="B-">B-</option>
                    <option value="C+">C+</option>
                    <option value="C">C</option>
                    <option value="C-">C-</option>
                    <option value="D+">D+</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                  </select>
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci4220-mentored" id="csci4220-mentored"> I have mentored this RPI course before
                </div>
                <div class="vspacewithline"></div>
        
                <div class="inputline">
                  <label for="csci4230" style="width: 330px; min-height: 80px;"><b>CSCI 4230 Crypto and Network Security I:</b></label>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci4230-wants-to-mentor" id="csci4230-wants-to-mentor"> I am qualified to mentor this course
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci4230-taken" id="csci4230-taken"> I have taken this course at RPI before and earned grade:
                  <select name="csci4230" id="csci4230" onchange="document.getElementById( 'csci4230-taken' ).checked = ( this.options[this.selectedIndex].text != '' );">
                    <option value="blank"></option>
                    <option value="IP">In Progress</option>
                    <option value="A">A</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B">B</option>
                    <option value="B-">B-</option>
                    <option value="C+">C+</option>
                    <option value="C">C</option>
                    <option value="C-">C-</option>
                    <option value="D+">D+</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                  </select>
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci4230-mentored" id="csci4230-mentored"> I have mentored this RPI course before
                </div>
                <div class="vspacewithline"></div>
        
                <div class="inputline">
                  <label for="csci4380" style="width: 330px; min-height: 80px;"><b>CSCI 4380 Database Systems:</b></label>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci4380-wants-to-mentor" id="csci4380-wants-to-mentor"> I am qualified to mentor this course
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci4380-taken" id="csci4380-taken"> I have taken this course at RPI before and earned grade:
                  <select name="csci4380" id="csci4380" onchange="document.getElementById( 'csci4380-taken' ).checked = ( this.options[this.selectedIndex].text != '' );">
                    <option value="blank"></option>
                    <option value="IP">In Progress</option>
                    <option value="A">A</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B">B</option>
                    <option value="B-">B-</option>
                    <option value="C+">C+</option>
                    <option value="C">C</option>
                    <option value="C-">C-</option>
                    <option value="D+">D+</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                  </select>
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci4380-mentored" id="csci4380-mentored"> I have mentored this RPI course before
                </div>
                <div class="vspacewithline"></div>
        
                <div class="inputline">
                  <label for="csci4430" style="width: 330px; min-height: 80px;"><b>CSCI 4430 Programming Languages:</b></label>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci4430-wants-to-mentor" id="csci4430-wants-to-mentor"> I am qualified to mentor this course
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci4430-taken" id="csci4430-taken"> I have taken this course at RPI before and earned grade:
                  <select name="csci4430" id="csci4430" onchange="document.getElementById( 'csci4430-taken' ).checked = ( this.options[this.selectedIndex].text != '' );">
                    <option value="blank"></option>
                    <option value="IP">In Progress</option>
                    <option value="A">A</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B">B</option>
                    <option value="B-">B-</option>
                    <option value="C+">C+</option>
                    <option value="C">C</option>
                    <option value="C-">C-</option>
                    <option value="D+">D+</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                  </select>
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci4430-mentored" id="csci4430-mentored"> I have mentored this RPI course before
                </div>
                <div class="vspacewithline"></div>
        
                <div class="inputline">
                  <label for="csci4460" style="width: 330px; min-height: 80px;"><b>CSCI 4460 Large-Scale Programming and Testing:</b></label>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci4460-wants-to-mentor" id="csci4460-wants-to-mentor"> I am qualified to mentor this course
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci4460-taken" id="csci4460-taken"> I have taken this course at RPI before and earned grade:
                  <select name="csci4460" id="csci4460" onchange="document.getElementById( 'csci4460-taken' ).checked = ( this.options[this.selectedIndex].text != '' );">
                    <option value="blank"></option>
                    <option value="IP">In Progress</option>
                    <option value="A">A</option>
                    <option value="A-">A-</option>
                    <option value="B+">B+</option>
                    <option value="B">B</option>
                    <option value="B-">B-</option>
                    <option value="C+">C+</option>
                    <option value="C">C</option>
                    <option value="C-">C-</option>
                    <option value="D+">D+</option>
                    <option value="D">D</option>
                    <option value="F">F</option>
                  </select>
        <br>
                  &nbsp; &nbsp; &nbsp; &nbsp;
                  <input type="checkbox" name="csci4460-mentored" id="csci4460-mentored"> I have mentored this RPI course before
                </div>
              </fieldset>
    </form>
    

{% endblock %}
<ul id="left-sortable" class = "sortable-ties">
    {% if currentSelection %}
    <!-- Display a previously submitted vote -->
    <div class="empty"></div> 
    {% for course in courses %}
    {% if course %}       
       <ul class="choice1" >
          <!-- Display the tier number -->
          <div class="tier two">#{{ forloop.counter }}</div>
          {% for selection in s %}
          <li class="list-element" id="item{{ selection.item_text }}">
             {{course.name}}
          </li>
          {% endfor %}
          
        </ul>