{% extends 'polls/base.html' %}

{% block content %}
{% if user.is_authenticated %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
	<p>
		{% if messages %}
		<ul class="messages">
			{% for message in messages %}
			<div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
				{{ message }}
			</div>
			{% endfor %}
		</ul>
		{% endif %}
	</p>
</div>

<!- Mentor apllication window>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <b> Mentor Application </b>
        </div>
        
        <div class="panel-body">
            <table class="table">
            {% if applied %}
                <!- user wait for Application>
                <tbody>
                    Mentor apllication success
                </tbody>
                <tr><td> <a href="{% url 'mentors:view_application' %}"><span class="btn btn-primary">View</span></a></td></tr>
                <tr><form method="GET" action="{% url 'mentors:withdrawfunc' %}" id="withdrawfunc">
                        <input type="submit" value="Withdraw apllication" class="btn btn-primary">
                </form></tr>
            {% else %}
            <b> Begin to apply:  </b>
                <tr><td> <a href="{% url 'mentors:applyfunc1' %}"><span class="btn btn-primary">Apply</span></a></td></tr>
            {% endif %}
            </table>
        </div>
    </div>
</div>

<!- Professor apllication window>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <b> Professor Interface </b>
        </div>
        
        <div class="panel-body">
            <b> Check your courses:  </b>
                <tr><td> <a href="{% url 'mentors:viewcourse' %}"><span class="btn btn-primary">View</span></a></td></tr>
            </table>
        </div>
    </div>
</div>


<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <form method="POST" action="{% url 'mentors:addcoursefunc' %}" id="addcoursefunc">
                {% csrf_token %}
                <h2>Add Course (DEV)</h2>
                <input type="submit" value="Load csv"  name="submit" id="submit" />
            </form>

            <form method="POST" action="{% url 'mentors:addStudentRandomfunc' %}" id="addStudentRandomfunc">
                {% csrf_token %}
                <h2> Add Student Random (DEV)</h2>
                <input type="number" id="num_students" name="num_students" >
                <input type="submit" value="Add student Random"  name="submit" id="submit" />
            </form>

            <form method="POST" action="{% url 'mentors:matchfunc' %}" id="matchfunc">
                {% csrf_token %}
                <h2> Match </h2>
                <input type="submit" value="Match"  name="submit" id="submit" />
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
