body {
	min-height: 1000px;
	padding-top: 60px;
	padding-bottom: 20px;
	margin-left: 0;
	margin-right: 0;
	padding-left: 5px;
	padding-right: 5px;
	font-size: medium;
}
img.item {
	width: 40px;
}

img.item:hover {
	width: 80px;
}
