

.main-link{
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	text-align: center;
}

@media (min-width: 480px) {
    .main-link {
    }
}

img {
	width:100%;
}

.letters {
	width:100%;
}

a{
	color: #da291c;
}

.dropdown1{
	position:relative;
	left:20%;
	
}

.dropdown2{
	position:relative;
	right:20%;
}

.btn {
	background: #da291c;
	border-color: #da291c;
}





.btn:hover{
	background: #e45d50;
	border-color: #da291c;
}

.btn:active{
	background: #da291c !important;
}

.dropdown-toggle{
	width:100%;
}

.first-line{
	position:relative;
	margin:auto;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	text-align: center;
	
}

.other-polls{
	position:relative;
	height:100%;
	margin:auto;
	background-color: #c40000;
}

html { 
        background: url("/static/img/rpibg.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    body{
    		background-color: transparent;
    }
    