html, body{
	background: #da291c; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, #707372); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, #707372); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, #707372); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, #707372); /* Standard syntax */
}

.main-link{
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	height: 9%;
	padding-left: 2.5%;
}

@media (min-width: 480px) {
    .main-link {
        height: 20%;
    }
}

img {
	width:100%;
}

.letters {
	width:100%;
}

a{
	color: #da291c;
}

.btn {
	background: #da291c;
	border-color: #da291c;
}

.btn:hover{
	background: #e45d50;
	border-color: #da291c;
}

.btn:active{
	background: #da291c !important;
}

.dropdown-toggle{
	width:100%;
}