* {
	font-size: 100%;
}


a {
	font-size: 100%;
	text-decoration: none !important;
}

button {
	outline:none;
}

glyphicon-info-sign {
	font-size: 60%;
	color: #56A5EC;
}

glyphicon-play {
	color: green;
}

glyphicon-stop {
	color: red;
}

nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

input[type="submit"] {
    font-family: FontAwesome;
}

.greycolor {
	color: grey;
}

.greycolor:hover {
	color: black;
	cursor: pointer;
	cursor: hand;
}
.greencolor {
	color: green;
}
.greencolor:hover {
	color: darkgreen;
	cursor: pointer;
	cursor: hand;
}

.bluecolor {
	color: blue;
}
.bluecolor:hover {
	color: darkblue;
	cursor: pointer;
	cursor: hand;
}

.redcolor {
	color: red;
}
.redcolor:hover {
	color: darkred;
	cursor: pointer;
	cursor: hand;
}

/* Ranking UI */
#left-sortable, #right-sortable {
    list-style-type: none;
    margin: 0;
    padding: 0px;
}
#left-sortable li, #right-sortable li {
    display: block;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    background: #F5F5F5;
    border: solid;
    border-radius: 2px;
    padding-left:10px;
}

html > body #sortable li {
    height: 1.5em;
    line-height: 0em;
}
.ui-state-highlight {
    height: 1.5em;
    line-height: 0em;
    background: none!important;
    background-color: #999 !important;
}

.greybackground {
    background: none!important;
    background-color: #aaa !important;
}

.cliente {
    margin: 15px;
    border: #cdcdcd medium solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

button:hover .greencolor {
    color: darkgreen;
}

.margin-panel-top {
    margin-top: 12px;
}

@media only screen and (max-device-width: 480px) {
    .panel-body {
        padding-left: 1px;
        padding-right: 1px;
    }

    .container-fluid {
        padding-left:0px;
        padding-right:0px;
    }

		.nav-tabs {
				display: flex;
		}
		.nav-tabs > li {
				flex: 1;
				height: 50px;
				line-height: 50px;
		}
		.nav-tabs > li > a {
				padding: 18px 0px 10px 0px;
				text-align: center;
		}
		.nav-text {
				display: none;
		}

}


.btn-danger.reset-button {
    background: rgb(201, 48, 44, 0.9);
}

.reset-button-mobile {
    margin-bottom: 0;
    background: darkred;
}

.btn-success.submit-button {
    display: none;
    background: rgb(68, 157, 68,0.9);
}

.submit-button-mobile {
    border: none;
    float: right;
    width: 30%;
    height: 1.25em;
    margin: 0;
    display: none;
    background: darkgreen;
}

.btn-primary.move-all-button {
    background: (55,123,181,0.9);
}

.move-all-button-mobile {
    border: none;
    float: right;
    width: 30%;
    height: 1.25em;
    margin: 0;
    background: darkblue;
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ul.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ul.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}


/* image */
img.item {
	height: 40px;
	width:auto;
	max-width:100%;

}

img.item:hover {
	height: 40px;
	width:auto;
	max-width:100%;
}

div{
	font-size:100% !important;
}

.sortable1 {
    background: transparent;
}
.aftersort {
    background-color: #eee;
    width: 100%;
}
.hide1 {
    background-color: transparent;
    min-height: 5px;
    min-width: 15px;
}
.tier {
    float:left;
    font-weight: bold;
    -moz-user-select: none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
    padding-left: 10px;
}
ul.choice1{
    -moz-user-select: none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -o-user-select:none;
    padding-left: 30px;
    padding-right: 20px;
}
li.li_item{
    display: inline-block;
    padding: 10px;
}
ul.empty {
    background-color:grey;
    height: 15px;
}

.nav-tabs {
		position: fixed;
		top: 50px;
		left: 0px;
		right: 0px;
		z-index: 1;
		background-color: white;
}

#top {
		padding: 110px 20px;
}

#content-block {
		padding: 20px;
		position: absolute;
		top: 100px;
		bottom: 0px;
		right: 0px;
		left: 0px;
}

/* handle overflowing text */
th {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.li_item {
    overflow: hidden;
    text-overflow: ellipsis;
}

.tooltip {
    overflow-wrap: break-word;
}

#collapse_des span {
    overflow-wrap: break-word;
}
