* {
	font-size: 100%;
}


a {
	font-size: 100%;
	text-decoration: none !important;
}

button {
	outline:none;
}

glyphicon-info-sign {
	font-size: 60%;
	color: #56A5EC;
}

glyphicon-play {
	color: green;
}

glyphicon-stop {
	color: red;
}

nopadding {
	padding: 0 !important;
	margin: 0 !important;
}

.greycolor {
	color: grey;
}

.greycolor:hover {
	color: black;
	cursor: pointer;
	cursor: hand;
}
.greencolor {
	color: green;
}
.greencolor:hover {
	color: darkgreen;
	cursor: pointer;
	cursor: hand;
}

.bluecolor {
	color: blue;
}
.bluecolor:hover {
	color: darkblue;
	cursor: pointer;
	cursor: hand;
}

.redcolor {
	color: red;
}
.redcolor:hover {
	color: darkred;
	cursor: pointer;
	cursor: hand;
}

/* Ranking UI */
#left-sortable, #right-sortable {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}
#left-sortable li, #right-sortable li {
    display: block;
    margin: 5px 5px 5px 5px;
    padding: 5px;
    background: #F5F5F5;
    border: solid;
    border-radius: 2px;
    padding-left:50px;
}

html > body #sortable li {
    height: 1.5em;
    line-height: 0em;
}
.ui-state-highlight {
    height: 1.5em;
    line-height: 0em;
    background: none!important;
    background-color: #999 !important;
}

.greybackground {
    background: none!important;
    background-color: #aaa !important;
}

.cliente {
    margin: 15px;
    border: #cdcdcd medium solid;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

button:hover .greencolor {
    color: darkgreen;
}

.margin-panel-top {
    margin-top: 12px;
}
	

.btn-danger.reset-button {
    background: rgb(201, 48, 44, 0.9);
}

.reset-button-mobile {
    margin-bottom: 0;
    border-radius: 25px;
    background: linear-gradient(to bottom, orangered 0%,darkred 100%);
}

.btn-success.submit-button {
    display: none; 
    background: rgb(68, 157, 68,0.9);
}

.submit-button-mobile {
    border: none; 
    border-radius: 30px;
    float: right; 
    width: 30%; 
    height: 1.25em; 
    margin: 0; 
    display: none;
    background: linear-gradient(to bottom, lightgreen 0%,darkgreen 100%);
}

.btn-primary.move-all-button {
    background: (55,123,181,0.9);
}

.move-all-button-mobile {
    border: none; 
    border-radius: 25px;
    float: right; 
    width: 30%; 
    height: 1.25em; 
    margin: 0;
    background: linear-gradient(to bottom, lightblue 0%,darkblue 100%);
}

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ul.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ul.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}


/* image */
img.item {
	width: 40px;
}

img.item:hover {
	width: 80px;
}

div{
	font-size:100% !important;
}

.sortable1 { 
    background: transparent; 
}
.aftersort { 
    background-color: #eee;
    width: 100%; 
}
.hide1 { 
    background-color: transparent; 
    min-height: 5px;
    min-width: 15px; 
}
.tier { 
    float:left;
    font-weight: bold;
}