.accordion-heading{
  font-size: 66px;
  color: red;

}
.my_label {
  color: rgb(63, 63, 63);
  font-weight: bold;
  display: block;
  float: left;
  width: 33%;
  display: inline-block;
}

label.radio.inline{
  float: left;
  padding: 0px 15px;
}

.course_title{
  font: 80px;
  color: red;
  font-weight: bold;
  float: left;
}

.course_block{
  width:100%;
  height:200px;
}

.label_special{
  float:left;
  color:red;
}
.course_choice {
  white-space: nowrap;
  background:rgb(223, 222, 222);
  height: 40px;
  line-height: 40px; 
  width: 650px;
  padding: 0;
  margin: 6px 0px;
  border: 0;
  border-radius: 0.1rem;
  flex-wrap: wrap;
}

.course-element {
  flex: 0 50%;
  display: inline-block;
  float: left;
  margin: 2.5px 4px;
  cursor: default;
  width: 175px;
  height: 35px;
  line-height: 35px; 
  background-color: white;
  text-align: center;
  font-size: 12px;
  color: #252525;
  border: 1px solid rgb(145, 138, 138);
  border-radius: 0.2rem; 
}
.course-element.ui-selecting {
  background-color: rgb(109, 108, 106)
}
.course-element.ui-selected {
  background-color: rgb(176, 197, 214)
}

.ui-slider-handle{
  background-color: grey;
}

.inputline{
  margin: 2px 8px 4px 8px;
  display: block;

}
.textline {
  margin: 2px 8px 12px 8px;
  display: block;
}

.controls{
  float: left;
}

.control-group{
  display: block;
  float: left;
}

.control-label{
  clear: both;
  display: block;
  width: 128px;
  float: left;
  text-align: right;
  padding-right: 8px;
  white-space: nowrap;
}

.textinput {
}

.checkbox{
  width:20%;
  height:30px;
  display: inline-block;
  position: relative;
  padding-left: 35px;
}

.emptyspace {
  clear: both;
 
}

.vspace {
  clear: both;
  margin-top: 6px;
  padding-bottom: 6px;
}

.vspacewithline {
  clear: both;
  margin-top: 12px;
  padding-bottom: 11px;
  border-top: 1px solid #d5dfe5;
}


