{% load mathfilters %}
<div id="yesNoSection" {% if request.flavour == "mobile" %}style="padding:0.4em;" {% endif %}>
    <!-- This is the voting form. Submit results through a voting function -->
    <form id="yesNo" action="{% url 'polls:Mturkvote' question.id %}"  method="post">
        <div>
            {% csrf_token %}


            <div class="col-md-12" >

                <!-- Panel for your preferences -->
                <div class="panel panel-default"  >
				{% if request.flavour == "mobile" %}
				<div class = "row col-xs-12" style="padding:0%;margin:0%;margin-bottom: 4%;">
						<button id="submitbutton-yesno" type="submit" onclick="VoteUtil.submitPref();" class="submitbutton reset-button-mobile" style = "height:2.7em;padding:0%;margin:0%;background:darkgreen;">
                            <span class="glyphicon glyphicon-upload" style="font-size:140%;color:white;margin:0%;">Submit</span>
                        </button> 
                </div>
				{% endif %}
                    <!-- Your preferences header -->
                    <div class="panel-heading" >
                        <h4>Select your favorite option(s), then
                            {% if not request.flavour == "mobile" %}
                                <button id="submitbutton-yesno" type="submit" onclick="VoteUtil.submitPref();" class="submitbutton btn btn-success" style=""> Submit </button>
                                <button id="submitting-yesno" type="button" class="submitting btn btn-default" style="visibility:hidden;position:absolute;z-index:1;">
                                    Submitting...
                                </button>
                            {% endif %}
                            <input type="hidden" id="pref_order" class="pref_order" name="pref_order" value=""/>

                            <div class="pull-right">
                                {% if messages %}
                                    {% for message in messages %}
                                        <span id="successMessage" {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                                            {{ message }}
                                        </span>
                                    {% endfor %}
                                {% endif %}
                            </div>

                        </h4>
                    </div> <!-- end of header -->

                    <!-- Your preferences main panel -->
                    <div class="panel-body" {% if question.id == 64 %}data-step="1" data-intro="Select your favorite option(s)"{% endif %}>
                        <ul id="yesNoList" >
                        <!-- The user hasn't voted on this poll yet -->
                        {% for item in items %}
                            <label class="checkbox" id="item{{ item.item_text }}" type="{{ forloop.counter }}" onclick="select(this);">
                              <input type="checkbox" style="display:none">
                              <span class="glyphicon" aria-hidden="true"></span>
                                <!-- Display image (uploaded) -->
                                {% if item.image %}
                                    <img class="item" src='/{{ item.image.url }}'/>
                                {% endif %}
                                <!-- Display image (external URL) -->
                                {% if item.imageURL != Null %}
                                    <img class="item" src='{{ item.imageURL }}'/>
                                {% endif %}
                                <!-- Display option text -->
                                {{ item.item_text }}
                                <!-- Display tooltip for option description -->
                                {% if item.item_description %}
                                    <span class="glyphicon glyphicon-info-sign pull-right" data-toggle="tooltip" data-placement="top" title="{{item.item_description}}" data-title="Meddelanden">
                                    </span>
                                {% endif %}
                            </label>
                        {% endfor %}
                        </ul> <!-- end of main panel (left-sortable) -->
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

<script>
    $(window).load(function(){
        var original_order = [];
        var t = 1;
        {% if currentSelection %}
            {% for s in currentSelection %}
                {% if s %}
                    var inner = [];
                    {% for selection in s %}
                        inner.push(t);
                        t = t + 1;
                    {% endfor %}
                    original_order.push(inner);
                {% endif %}
            {% endfor %}
        {% endif %}
        
        {% if currentSelection == None %}
            {% for item in items %}
                original_order.push([t]);
                t = t + 1;
            {% endfor %}
        {% else %}

            {% if unrankedCandidates %}
                {% for item in unrankedCandidates %}
                    original_order.push([t]);
                    t = t + 1;
                {% endfor %}
            {% endif %}
        {% endif %}
        //yesNoSort(original_order);
        yesNoZeroSort(original_order);

        order1 = JSON.stringify(dictYesNo());
    });
</script>
<script>
    introJs().start();
</script>