{% extends 'polls/base.html' %}

{% block content %}
<p>
    <h1>Add Group</h1>

    <form action="{% url 'groups:addgroupfunc' %}" id="addgroupfunc" method="post">
        {% csrf_token %}
        Group Name: <br />
        <input type="text" name="groupName" value="" size="100" />
        <br />
        
        <select name="voters" class="form-control" multiple>
        {% for user in users %}
            <option value="{{ user.username }}">{{ user.username }}</option>
        {% endfor %}
        </select>
        <br />
        
        <input type="submit" value="submit" class="btn btn-primary">
    </form>
</p>




{% endblock %}