{% extends 'polls/base.html' %}

{% block content %}
{% if user.is_authenticated %}
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">
                <b>Groups created</b>
                <a href="{% url 'groups:addgroup' %}" style="font-size:60%; float:right;" class="btn btn-yellow"><span class="glyphicon glyphicon-plus" ></span></a>
            </div>
            <div class="panel-body">
                <table class="table">
                {% if groups %}
                    <tbody>
                    {% for group in groups %}
                        {% if request.user == group.owner %}
                            <tr>
                                <td>{{ group.name }}</td>
                                <td><a href="{% url 'groups:members' group.id %}">View/Change members</a></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                {% else %}
                    <tr><td>No groups present. <a href="{% url 'groups:addgroup' %}"><span class="btn btn-primary">Add Group</span></a></td></tr>
                {% endif %}
                </table>
            </div>
        </div>
    </div>
    </div>
{% endif %}
{% endblock %}
