{% extends 'polls/base.html' %}

{% block content %}
<h3>{{group.name}} members</h3>
<div class="row">
<div class="col-md-6">
    <form action="{% url 'groups:removemember' group.id %}" method="post">
    {% csrf_token %}
    <select id="removemembers" name="removemembers" class="form-control" multiple>
    {% for user in group.members.all %}
        <option value="{{ user.username }}">{{ user.username }}</option>
    {% endfor %}
    </select>
    <p></p>
    <input type="submit" class="btn btn-danger" value="Remove">
    </form>
</div>

<div class="col-md-6">
    <form action="{% url 'groups:addmember' group.id %}" method="post">
        {% csrf_token %}
        <select id="newmembers" name="newmembers" class="form-control multiple-select" multiple>
        {% for user in users %}
            {% if user not in group.members.all %}
                 <option value="{{ user.username }}">{{ user.username }}</option>
            {% endif %}
        {% endfor %}
        </select>
        <p></p>
        <input type="submit" class="btn btn-success" value="Add">
    </form>      
</div>
</div>

<div class="panel panel-danger">
    <div class="panel-heading">Danger Zone</div>
    <div class="panel-body">
        <span class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete"><span class="glyphicon glyphicon-trash"></span> Delete this group</span>
    </div>
    
    <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                Confirm Delete Group
            </div>
            <div class="modal-body">
                Do you want to delete this group? Once deleted, the group cannot be restored.
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger btn-ok" href="{% url 'groups:deletegroup' group.id %}">Yes</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}