{% extends 'polls/base.html' %}
{% block content %}
<p>
<h3>{{group.name}} members</h3>
<select name="voters" class="form-control" multiple>
    {% for user in group.members.all %}
        <option value="{{ user.username }}">{{ user.username }}</option>        
    {% endfor %}
</select>
</p>

<p>
    <b>Add Member: </b>
    <form action="{% url 'groups:addmember' group.id %}" method="post">
        {% csrf_token %}
        <select name="members" class="form-control" multiple>
        {% for user in users %}
            {% if user not in group.members.all %}
                 <option value="{{ user.username }}">{{ user.username }}</option>
            {% endif %}
        {% endfor %}
        </select>
        <input type="submit" class="btn btn-success" value="Invite">
    </form>      
</p>




{% endblock %}