{% load mathfilters %}
{% load staticfiles %}
<link rel="shortcut icon" href="{% static 'img/oprasmalllogowhite.png' %}"/>
<html>
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OPRA</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="" crossorigin="anonymous" >
        
        
    <!-- jQuery UI CSS (base theme) -->
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/stylish-portfolio.css" />
  	<link rel="stylesheet" type="text/css" href="/static/css/shared.css"/>
  	<link rel="stylesheet" type="text/css" href="/static/css/introjs.css"/>
  	<link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css"/>
    <!-- Custom Fonts -->
    <link href="/static/fonts/sanc.css" rel="stylesheet" type="text/css" />     
    <link rel="stylesheet" href="/static/fonts/lato.css">
    <!-- W3 -->
    <link rel="stylesheet" href="/static/css/w3.css">
        
    <!-- Select2 -->
    <link href="/static/css/select2.min.css" rel="stylesheet" />
		{% if request.flavour == "mobile" %}
		<link rel="stylesheet" type="text/css" href="/static/css/mobile.css"/>
		{% else %}
		<link rel="stylesheet" type="text/css" href="/static/css/desktop.css"/>
		{% endif %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
    <script
        src="/static/js/jquery-2.2.4.min.js"
        integrity=""
        crossorigin="anonymous"></script>
    <script
      src="/static/js/jquery-ui.min.js"
      integrity=""
      crossorigin="anonymous"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- <script src="/static/js/5f5c1e4fb0.js"></script> -->
    <script src="/static/js/select2.min.js"></script>
    <script src='/static/js/intro.js'></script>
    <script src='/static/js/base.js'></script>
    <script src='/static/js/shared.js'></script>

    <style>
	    .btn{
	    	border-radius:0;
	    }
	    body { padding-top: 60px; }
        body,h1,h2,h3,h4,h5 {font-family:"Lato", sans-serif}

       .rpi-red{
            background-color:rgb(191,7,17);
            color: #fff
        }
       .rpi-text-red{
            color:rgb(191,7,17)
        }
         .bgimg-1 {
            background-position: center;
            background-size: cover;
            background-image: url({% static 'img/rpi-empac.png' %});

            min-height: 100%;
        }
 
    </style>
<!-- Google Tag Manager -->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-59SLDM" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager -->
{% if request.flavour == "mobile" %}
<script src='/static/js/mobile.js'></script>
<script>var deviceFlavor = "mobile";</script>
{% else %}
<script src='/static/js/desktop.js'></script>
<script>var deviceFlavor = "desktop";</script>
{% endif %}
{% if currentSelection %}
<script>var firstTime = false;</script>
{% else %}
<script>var firstTime = true;</script>
{% endif %}
<script src='/static/js/voting.js'></script>
<link rel="stylesheet" href="/static/css/jquery.rateyo.min.css">
<script src="/static/js/jquery.rateyo.min.js"></script>
<script>
    function register(){
        if($('#reg_email').val() == ''){ $('#error').html("Please enter an email."); $('#reg_email').focus(); }
        else if($('#reg_username').val() == ''){ $('#error').html("Please enter a username."); $('#reg_username').focus(); }
        else if($('#reg_username').val().indexOf('@') > -1){ $('#error').html("Username should not include @ character."); $('#reg_username').focus(); }
        else if($('#reg_password').val() == ''){ $('#error').html("Please enter a password."); $('#reg_password').focus(); }
        else{ $('#user_form').submit(); }
    }
</script>
	</head>
{% block content %}




{% if question.status == 2 %}
    <!--
        <div class = "text-center">
           

            <nav class="navbar navbar-fixed-top">
                <ul class="pagination">

                      {%for n in seq%}
                         {% if n == index %}
                            <li class="active">
                              <span> {{n}} <span class="sr-only">(current)</span></span>
                            </li>
                         {%else%}
                            <li class="disabled">
                              <span style="background-color: rgb(221, 221, 221); color:rgb(221, 221, 221);"> . </span>
                            </li>
                         {%endif%}
                      {%endfor%}


                  </ul>
            </nav>-->
            <!-- Modal
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Thank you!</h3>
                  </div>
                  <div class="modal-body">
                      Your survey code is:
                      <br/>
                      <h4><b> {{code}}</b></h4>
                       <hr/> 
                    <form action="{% url 'polls:ExpAddComment' %}" method="POST">
                        {% csrf_token %} 
                        <div>
                        Leave your comments Here:
                            <textarea id="comment" class="form-control" name="comment" rows="2" cols="50" maxlength="1000" placeholder="Enter your comments here"  style="font-size:100%;"></textarea>
                          <br/> 
                            <input type="submit" class="btn btn-primary" value="Submit Comments" />
                        </div>
                    </form>
                      
                    </div>
                </div>
              </div>
            </div> 
            
            
        </div>-->
    
    <div class="col-md-10 col-md-offset-1">
    {% if error_message %}
    <p>
        <strong>{{ error_message }}</strong>
    </p>
    {% endif %}
    <!-- Title panel -->
    <div class="panel panel-default">
        <!-- Panel header contains image and title -->
        <div class="panel-heading">
            
            <div class="row">
                <!-- Display poll image (from external url) -->
                {% if question.imageURL != Null and question.imageURL != '' %}
                <div class="col-md-2" {% if request.flavour == "mobile" %} style="width:20%;display:inline" {% endif %}>
                    <a href="{{ question.imageURL }}"><img src="{{ question.imageURL }}" width="150" ></a>
                </div>
                <!-- Display poll image (uploaded to the server) -->
                {% elif question.image %}
                <div class="col-md-2" {% if request.flavour == "mobile" %} style="width:20%;display:inline" {% endif %}>
                    <a href="/{{ question.image.url }}"><img src="/{{ question.image.url }}" width="150" ></a>
                </div>
                {% endif %}

                <!-- Display title and creator in the header -->
                <div class="col-md-10" {% if request.flavour == "mobile" %} style="width:100%;" {% endif %}>
                    <h4 {% if request.flavour == "mobile" %} style="width:70%;display:inline;" {% endif %}>
                        Question {{poll_index}} of 9: {{ question.question_text }}
                        
					</h4>
                </div>
            </div> 
        </div>
        {% if question.question_desc %}
		<div class="panel-body">
		
            <span {% if request.flavour == "mobile" %} style="width:70%" {% endif %}> {{ question.question_desc }} </span>
            
		</div>
    {% endif %}
    </div>
    
     <div class = "row" id="tabs">

             <!--<div id="countdown">60</div>-->
             
            {% if not question.ui_number == 1%}
            <ul>
                {% if question.twocol_enabled %}<li><a href="#twoColSection" onclick="changeMethod(1);">Two Columns</a></li> {% endif %}
                {% if question.onecol_enabled %}<li><a href="#oneColSection" onclick="changeMethod(2);">One Column</a></li> {% endif %}
                {% if question.slider_enabled %}<li><a href="#sliderSection" onclick="changeMethod(3);">Sliders</a></li> {% endif %}
                {% if question.star_enabled %}<li><a href="#starsSection" onclick="changeMethod(4);">Stars</a></li> {% endif %}
                {% if question.yesno_enabled %}<li><a href="#yesNoSection" onclick="changeMethod(5);">Yes/No</a></li> {% endif %}
            </ul>
            {% endif %}
                {% if question.twocol_enabled %}{% include "events/Mturk/voteOptions/twoCol.html" %}{% endif %}
                {% if question.onecol_enabled %}{% include "events/Mturk/voteOptions/oneCol.html" %}{% endif %}
                {% if question.slider_enabled %}{% include "events/Mturk/voteOptions/slider.html" %}{% endif %}
                {% if question.star_enabled %}{% include "events/Mturk/voteOptions/stars.html" %}{% endif %}
                {% if question.yesno_enabled %}{% include "events/Mturk/voteOptions/yesNo.html" %}{% endif %}
                {% if question.yesno2_enabled %}{% include "events/Mturk/voteOptions/yesNo2.html" %}{% endif %}
 
    </div>
        <br/>
        <br/>
        <br/>
    

    {% elif question.status == 1 %}
    <p>
        This poll has not started yet.
    </p>
	{% elif question.status == 4 %}
    <p>
        This poll is paused.
    </p>
    {% else %}
    <p>
        This poll has ended.
    </p>
    {% endif %}
</div>




<script>
    
    //display confirmation message for 2 seconds and then fade away slowly
    $(function() {
        $("#successMessage").delay(2000).fadeOut('slow');
    });
    //set the webpage for ajax to report user behavior
    submissionURL="{% url 'polls:record' question.id%}";
	

    $(function(){
        $(document).ready(function() {
			$(".dropdown-toggle").dropdown();

			$('[data-toggle="tooltip"]').tooltip();

			$('[data-toggle="popover"]').popover({
				title : '<span class="text-info"><strong>Hint</strong></span>',
				html: 'true',
			});
            if(document.getElementById("yesNoSection") != null){ method = 5; }
            if(document.getElementById("starsSection") != null){ method = 4; }
            if(document.getElementById("sliderSection") != null){ method = 3; }
            if(document.getElementById("oneColSection") != null){ method = 2; }
            if(document.getElementById("twoColSection") != null){ method = 1; }

			{% if not question.ui_number == 1 %}
				$( "#tabs" ).tabs();
			{% endif %}

			{% if request.flavour == "mobile" %}
				flavor = "Mobile";
				if(document.getElementById("twoColSection") != null && document.getElementById("oneColSection") != null){
					$( "#tabs" ).tabs("option","active",1);
					method = 2;
				}
			{% else %}
				flavor = "PC";
			{% endif %}
			VoteUtil.checkStyle();
			startTime = Date.now();
			
			{% if question.onecol_enabled %}
                order1 = JSON.stringify(dictCol(2));
            {% elif question.twocol_enabled %}
          order1 = JSON.stringify(dictCol(1));
            {% else %}
            {% endif %}
			
			{% if not question.allowties %}
				allowTies = false;
			{% endif %}
			  top_tier_layer = {{question.first_tier}};
			  if(!allowTies && top_tier_layer != 0)
			{
				$("#one-sortable").children().eq(top_tier_layer*3).after("<div class=\"top_tier\" style=\"height:4px;border:none;color:#666;background-color:#333;\"><hr></div>");
			}
        });


    // tooltip toggle (Popover function for hints)
    $(document).on('click',"#toggle-button",function () {
     toggle(document.querySelectorAll('.hint'));
   });

    //Toggle: hide/show hints
    function toggle (elements, specifiedDisplay) {
      var element, index;
      elements = elements.length ? elements : [elements];
      for (index = 0; index < elements.length; index++) {
        element = elements[index];

        if (isElementHidden(element)) {
          element.style.visibility = '';

          // If the element is still hidden after removing the inline display
          if (isElementHidden(element)) {
            element.style.visibility = specifiedDisplay || 'visible';
          }
        } else {
          element.style.visibility = 'hidden';
        }
      }
      function isElementHidden (element) {
        return window.getComputedStyle(element, null).getPropertyValue('visibility') === 'hidden';
      }
    }
});

</script>

<script type="text/javascript">
  var seconds;
  var temp;
 
  function countdown() {
    seconds = document.getElementById('countdown').innerHTML;
    seconds = parseInt(seconds, 10);
 
    if (seconds == 1) {
      temp = document.getElementById('countdown');
      temp.innerHTML = "TIME OUT";
      var timer = setTimeout(function() {
            window.location='https://opra.cs.rpi.edu/polls/main'
        }, 1000);
      return;
    }
 
    seconds--;
    temp = document.getElementById('countdown');
    temp.innerHTML = seconds;
    timeoutMyOswego = setTimeout(countdown, 1000);
  } 
 
  countdown();
   
</script>
    



{% endblock %}
