{% extends 'polls/base.html' %}

{% load staticfiles %}

{% block content %}
<style>
    h3{
        font-size: 35px;
    }

</style>
<!-- Sidebar/menu 
<nav class="w3-sidebar rpi-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:270px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px;margin-top:75px">Close Menu<hr/></a>
  <div class="w3-container">
    <h2 class="w3-padding" style="{%if request.flavour == 'mobile'%} margin-top:40px; color: transparent;{%endif%}"><br/><b>Rank Your Polls</b></h2>
  </div>
    <br/>
  <div class="w3-bar-block">
    <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white w3-hide-small">Introduction</a> 
    <a href="#p1" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Part 1: All UI Polls</a> 
    <a href="#p2" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"> Part 2: Injection Polls</a> 
    <a href="#p3" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"> Part 3: Subjective polls</a>
    <a href="#p4" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white"> Part 4: Survey</a>
  </div>
</nav>
-->

<!-- Top menu on small screens
<header class="w3-container w3-top w3-hide-large rpi-red w3-xlarge w3-padding" style="margin-top:75px">
  <a href="javascript:void(0)" class="w3-button rpi-red w3-margin-right" onclick="w3_open()">☰</a>
  <span>OPRA</span>
</header>-->

<!-- Overlay effect when opening sidebar on small screens
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>-->



<!-- !PAGE CONTENT! -->
<div class="container">
    
    <!--Tutorial -->
  <div class="w3-container" style="margin-top: 30px" id="about">
      <h1 class="w3-xxxlarge"><b>A Survey of Preference for Hotels in NYC</b>
      </h1>

      
      <br/>
      <br/>
      <h1 class="w3-xxlarge rpi-text-red"><b>Instruction</b></h1>
      <hr style="width:50px;border:5px solid" class="w3-round rpi-text-red">
      <br/>
      
      <!-- Intro -->
      <div class="panel panel-default">
        <div class="panel-body">
            <table class="table" >
                <h4 style="height:auto;"> 
                   Suppose you are planning a 3-day trip to New York City with your loved one. Tell us about your preference for 9 sets of hotels. Each hotel is represented as "Guest Ratings | Price per Night | Time to Times Square | Time to Airport".
                    <br/><br/>
                When you are ready, click start.
                </h4>  
            </table>
          </div>
      </div>
      
      <!--In this survey, you will be given sets of fruits. We would like to know your preferences within each set. You are going to rank each set from most preferred to least preferred, using one of 5 user interfaces. The first 5 questions are tutorials to have you familiar with these interfaces.-->
      
      
        <button type="button" class="btn btn-lg rpi-red" data-toggle="modal" data-target="#myModal">
            <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Start
        </button>


            <!-- Modal for enter WorkerID -->
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                 <form action="{% url 'appauth:createmturk' %}" method="POST">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Please Enter Your Mturk Worker ID/ RCS ID</h4>
                      
                  </div>
                  <div class="modal-body">
                    
                        {% csrf_token %} 
                     <div class="form-group">
                         <input class="form-control" id="name" placeholder="WorkerID/RCS ID" name = "name" pattern=".{3,}" required title="Please enter your workerID">
                         <input class="form-control" id="age" placeholder="Age" name ="age" maxlength="3" pattern=".{1,}" required title="Please enter your age (1 character minimum)">
                      </div>                   
                  </div>
                   
                  <div class="modal-footer">
                        <input type="submit" class="btn btn-default" value="Next">
                  </div> 
                </form>
                </div>
              </div>
            </div>
  </div>
  

    
        
      <!-- Comments 
  <div class="w3-container" id="comments" style="margin-top:30px">
    <h1 class="w3-xxlarge rpi-text-red" style="margin-top:50px"><b>Comments.</b></h1>
    <hr style="width:50px;border:5px solid" class="w3-round rpi-text-red">
    <br/>
     <p>We need your comments.</p>
    <form action="/message" method="post">
	  {% csrf_token %}
      <div class="w3-section">
        <label>Name</label>
        <input class="w3-input w3-border" type="text" name="name" required>
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="text" name="email" required>
      </div>
      <div class="w3-section">
        <label>Message</label>
        <input class="w3-input w3-border" type="text" name="message" required>
      </div>
      <button type="submit" class="w3-button w3-block w3-padding-large rpi-red w3-margin-bottom">Send Message</button>
    </form>  
      <br/><br/>
  </div> 
    
    <br/><br/>
    <br/><br/>
    <br/><br/>-->

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
    
 
</script>
{% endblock %}