    <div class="steps"  align="center">
        <p class="sameline" > 
            1. General   
            <span class="glyphicon glyphicon-chevron-right"> </span>  
            2. Choices
            <span class="glyphicon glyphicon-chevron-right"> </span>
            3. Invite
        </p>
        <p class="sameline" style="color:grey;">
            <span class="glyphicon glyphicon-chevron-right"> </span>
            4. Settings 
        </p>
    </div>
    
    <div class="progress">
        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">100% Complete</span>
        </div>
    </div>
    <br/>

        <form class="form-group" method="post" action="{% url 'polls:setinitial' question.id %}">
            {% csrf_token %}
            
            {% if question.question_type == 1 %}
                <label for="pollpreferences">Select a voting algorithm <i class="fa fa-question-circle" aria-hidden="true" data-toggle="modal" data-target=".bs-example-modal-lg" style="color:GoldenRod;"></i></label>
                <select name="pollpreferences" class="form-control">
                {% for item in poll_algorithms %}
                    <option value="{{ forloop.counter }}">
                        {{ item }}
                    </option>
                {% endfor %}
                </select>
                <br />
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Voting Algorithms</h4>
                </div>
                <div class="modal-body">
                    <p><strong>Plurality: </strong><br/>
                    Plurality selects the top ranked candidate. Select this if unsure.<br/>
                    <strong>Bordas:</strong><br/>
                    Bordas is xxxx<br/>
                    <strong>Veto: </strong><br/>
                    Veto is xxxxxxx<br/></p>
                </div>
                </div> <!--modal content-->
              </div>
            </div>
            {% elif question.question_type == 2 %}
                <label for="pollpreferences">Select an allocation method <i class="fa fa-question-circle" aria-hidden="true" data-toggle="modal" data-target=".bs-example-modal-lg" style="color:GoldenRod;"></i></label>
                <select name="pollpreferences" class="form-control">
                {% for item in alloc_methods %}
                    <option value="{{ forloop.counter }}">
                        {{ item }}
                    </option>
                {% endfor %}
                </select>
                <br />
                <!--Explaination Model-->
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Allocation Methods</h4>
                </div>
                <div class="modal-body">
                    <p>
                    <strong>Early first </strong><br />
                    Person who votes first gets their top preference<br />
                    <strong>Late first</strong><br />
                    Person who votes last gets their top preference<br />
                    <strong>Manual allocation</strong><br />
                    The creator assigns the order manually.<br />
                    </p>
                </div>
                </div> <!--modal content-->
              </div>
            </div>
            {% endif %}

            <label for="viewpreferences">Information visible to voters</label>
            <select name="viewpreferences" class="form-control">
                {% for item in view_preferences %}
                <option value="{{ forloop.counter0 }}" {% if forloop.counter == preference %} selected {% endif %}>
                    {{ item }}
                </option>
                {% endfor %}
            </select>
            <br />

            <label for="openpoll">Allow anonymous voting? (QR Code can be accessed under poll settings)</label> <br />
            <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default active">
                <input type="radio" name="openpoll" value="yes" checked>Yes</option>
                </label>
                <label class="btn btn-default">
                <input type="radio" name="openpoll" value="no">No</option>
                </label>
            </div>
            <br /><br />
            
            <br />
            <div class="col-md-6 col-md-offset-3" align="center">
                <input type="submit" value="Finish" class="btn btn-primary">
            </div>
        </form>
