<form action="{% url 'polls:editBasicInfo' question.id %}" method="post">
    {% csrf_token %}

    <fieldset class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" style="width:70%;" name="title" maxlength="20" size="50" value="{{ question.question_text }}" {% if question.status != 1 %} disabled {% endif %} />
    </fieldset>

    <fieldset class="form-group">
        <label for="description">Description</label>
        <textarea type="text" class="form-control" style="width:70%;" name="desc" maxlength="500" size="50" value="" {% if question.status != 1 %} disabled {% endif %}>{% if question.question_desc %}{{ question.question_desc }}{% else %}No description{% endif %}</textarea>
    </fieldset>

    <br />
    <input type="submit" class="btn btn-primary" value="Save Changes"/>
</form>
