<h3>Info and setting of {{question.question_text}}</h3>
     {% if question.status == 1 %}
       <h5> Setting of Title</h5>
         <form action="{% url 'polls:edittitle' question.id %}" method="post">
            {% csrf_token %}

            <input type="text" class="form-control" style="width:70%;" name="title" size="50" value="{{ question.question_text }}"/>

            <br />
            <input type="submit" class="btn btn-primary" value="Save Changes"/>
        </form>
    {% elif question.status == 2 %}
        <h5>Sorry, the poll is started. You can't change the title now.</h5>
    {%else%}
        <h5>Sorry, the poll is ended. You can't change the title now.</h5>
    {% endif %} 