<form action="{% url 'polls:editBasicInfo' question.id %}" method="post" onsubmit="javascript:UICheckboxes();">
    {% csrf_token %}

    <fieldset class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" style="width:70%;" name="title" maxlength="40" size="50" value="{{ question.question_text }}" {% if question.status != 1 %} disabled {% endif %} />
    </fieldset>

    <fieldset class="form-group">
        <label for="description">Description</label>
        <textarea type="text" class="form-control" style="width:70%;" name="desc" maxlength="500" size="50" value="" {% if question.status != 1 %} disabled {% endif %}>{% if question.question_desc %}{{ question.question_desc }}{% else %}No description{% endif %}</textarea>
    </fieldset>

		<!-- Use proper form name/variables/values when available -->
		<fieldset class="form-group">
				<label for="allowties">Ties</label> <br />
				<div class="btn-group" data-toggle="buttons">
						<label class="btn btn-default active">
						<input type="radio" name="allowties" value="1" {% if question.allowties %} checked {% endif %} {% if question.status != 1 %} disabled {% endif %}>Enabled</option>
						</label>
						<label class="btn btn-default">
						<input type="radio" name="allowties" value="2" {% if not question.allowties %} checked {% endif %} {% if question.status != 1 %} disabled {% endif %}>Disabled</option>
						</label>
				</div>
		</fieldset>
		
	<fieldset class="form-group">
        <label>Allowed Interfaces</label>
        <div>
			<label class="checkbox-inline"><input id="twocol_checkbox" type="checkbox" value="twocol" name="ui" {% if question.twocol_enabled %} checked {% endif %}>Two Column</label>
			<label class="checkbox-inline"><input id="onecol_checkbox" type="checkbox" value="onecol" name="ui" {% if question.onecol_enabled %} checked {% endif %}>One Column</label>
			<label class="checkbox-inline"><input id="slider_checkbox" type="checkbox" value="slider" name="ui" {% if question.slider_enabled %} checked {% endif %}>Slider</label>
			<label class="checkbox-inline"><input id="star_checkbox" type="checkbox" value="star" name="ui" {% if question.star_enabled %} checked {% endif %}>Star Rating</label>
			<label class="checkbox-inline"><input id="yesno_checkbox" type="checkbox" value="yesno" name="ui" {% if question.yesno_enabled %} checked {% endif %}>Yes/No</label>
		</div>
    </fieldset>

    <br />
    <input type="submit" class="btn btn-primary" value="Save Changes"/>
</form>
