   <h3 class="page-header">History votes of {{ question.question_text }} </h3>
        <!-- Display most recent vote -->

            {% if latest_responses|length > 0 %}
                {% for response in latest_responses %}
                    {% if response.user %}
                    {% if response.user.first_name == "" %}
                        <b>{{ response.user.username }}</b> (last voted on {{ response.timestamp }}) <br />
                    {% else %}
                        {{ response.user.first_name }} {{ response.user.last_name }} (<a href="mailto:{{ response.user.email }}">{{ response.user.email }}</a>)
                        (last voted on {{ response.timestamp }}) <br />
                    {% endif %}
                    {% else %}
                        <b>(Anonymous) {{ response.anonymous_voter }}</b> (last voted on {{ response.timestamp }}) <br />
                    {% endif %}
                    <div >
                    {% for d in response.dictionary_set.all %}
                        {% for item in d.sorted_values %}
                        <button type="button" class="btn btn-default"> ({{ item.1 }}) {{ item.0 }} </button>
                        {% endfor %}
                    {% endfor %}
                    </div>
                    {% if response.comment %}
                        <p>Comment: {{response.comment}}</p>
                    {% endif %}
                {% endfor %} <!-- end for response in latest_responses-->
                <br />
                <br />
                {% if previous_responses %}
                <button data-toggle="collapse" data-target="#history" class="btn btn-info" >Show/Hide More History</button>
                <div id="history" class="collapse">
                    <div class="well">
                    {% for response in previous_responses %}
                        <div class="btn-group">
                            {% if response.user %}
                            <b>{{ response.user.username }}</b> (last voted on {{ response.timestamp }}) <br />
                            {% else %}
                            <b>(Anonymous) {{ response.anonymous_voter }}</b> (last voted on {{ response.timestamp }}) <br />
                            {% endif %} 
                            {% for d in response.dictionary_set.all %}
                                {% for item in d.sorted_values %}
                            <button type="button" class="btn btn-default"> ({{ item.1 }}) {{ item.0 }} </button>
                                {% endfor %}
                            {% endfor %}
                            {% if response.comment %}
                        <p>Comment: {{response.comment}}</p>
                        {% endif %}
                        </div>
                        
                    {% endfor %}
                    </div>
                </div>
                {% endif %} <!--previous reoinses-->
        
            {% else %} 
                <p>No one has voted on this poll yet.</p>
            {% endif %} <!-- no response-->

