<h3 class="page-header">History votes of {{ question.question_text }} </h3>
        <!-- Display most recent vote -->
        {% if question.question_owner == request.user and question.creator_pref == 1 %}
			<div class="progress">
				    <div class="progress-bar" role="progressbar" aria-valuenow="{{progressPercentage}}"aria-valuemin="0" aria-valuemax="100" style="width:{{progressPercentage}}%">
					    <span style="color:white;">{{latest_responses|length}} / {{question.question_voters.count}}</span>
				    </div>
				</div>
			<p>{{latest_responses|length}} / {{question.question_voters.count}} have voted.</p>
            {% if latest_responses|length > 0 %}
                {% for response, currentSelection in latest_responses %}
                    <!-- display name -->
                    {% if response.user %}
                        {% if response.user.first_name == "" %}
                            <b>{{ response.user.username }}</b> (last voted on {{ response.timestamp }}) <br />
                        {% else %}
                            {{ response.user.first_name }} {{ response.user.last_name }} (<a href="mailto:{{ response.user.email }}">{{ response.user.email }}</a>)
                            (last voted on {{ response.timestamp }}) <br />
                        {% endif %}
                    {% else %}
                        <b>(Anonymous) {{ response.anonymous_voter }}</b> (last voted on {{ response.timestamp }}) <br />
                    {% endif %}

                    {% include 'polls/_display_vote.html' %}
                {% endfor %} <!-- for response-->
                <br />
                <br />
                {% if previous_responses %}
                    <button data-toggle="collapse" data-target="#history" class="btn btn-info" >Show/Hide More History</button>
                    <div id="history" class="collapse">
                        <div class="well">
                        {% for response, currentSelection in previous_responses %}
                            <div class="btn-group">
                                <!-- display name -->
                                {% if response.user %}
                                    <b>{{ response.user.username }}</b> (last voted on {{ response.timestamp }}) <br />
                                {% else %}
                                    <b>(Anonymous) {{ response.anonymous_voter }}</b> (last voted on {{ response.timestamp }}) <br />
                                {% endif %} 

                                {% include 'polls/_display_vote.html' %}
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                {% endif %} <!--previous responses-->
            {% else %} 
                <p>No one has voted on this poll yet.</p>
            {% endif %} <!-- no response-->
            </div>
        {% else %} <!--question.question_owner != request.user or display_pref = 5 -->
			<div class="progress">
				    <div class="progress-bar" role="progressbar" aria-valuenow="{{progressPercentage}}"aria-valuemin="0" aria-valuemax="100" style="width:{{progressPercentage}}%">
					    <span style="color:white;">{{latest_responses|length}} / {{question.question_voters.count}}</span>
				    </div>
				</div>
            {% if user_latest_responses %}
                {% for response, currentSelection in user_latest_responses %}
                    <b>{{ response.user.username }}</b> (last voted on {{ response.timestamp }}) <br /> 
                    
                    {% include 'polls/_display_vote.html' %}
                {% endfor %}
                <br />
                <br />
                {% if user_previous_responses %}
                <button data-toggle="collapse" data-target="#history" class="btn btn-info">Show/Hide History</button>
                <div id="history" class="collapse">
                    <div class="well">
                    {% for response, currentSelection in user_previous_responses %}
                    <div class="btn-group">
                        <b>{{ response.user.username }}</b> (last voted on {{ response.timestamp }}) <br /> 

                        {% include 'polls/_display_vote.html' %}
                    </div>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
            {% else %}
                <p>You haven't voted on this poll yet.</p>
            {% endif %}
        {% endif %}
            
        {% if question.question_owner != request.user %}
            <!-- Display other user votes -->
            {% if question.display_pref == 1 %}
				<div class="progress">
				    <div class="progress-bar" role="progressbar" aria-valuenow="{{progressPercentage}}"aria-valuemin="0" aria-valuemax="100" style="width:{{progressPercentage}}%">
					    <span style="color:white;">{{latest_responses|length}} / {{question.question_voters.count}}</span>
				    </div>
				</div>
                <p>{{latest_responses|length}} / {{question.question_voters.count}} have voted.</p>
                <p>The owner allows everyone to see all votes cast.</p>
                {% for response, currentSelection in latest_responses %}
                {% if response.user %}
                    {% if response.user != request.user %}
                        <div class="btn-group">
                            <b>{{ response.user.username }}</b> (last voted on {{ response.timestamp }}) <br /> 
                            
                            {% include 'polls/_display_vote.html' %}
                        </div>
                    {% endif %}
                {% else %}
                    <div class="btn-group">
                        <b>(Anonymous) {{ response.anonymous_voter }}</b> (last voted on {{ response.timestamp }}) <br /> 
                        
                        {% include 'polls/_display_vote.html' %}
                    </div>
                {% endif %}
                {% endfor %}
            {% elif question.display_pref == 2 %}
				<div class="progress">
				    <div class="progress-bar" role="progressbar" aria-valuenow="{{progressPercentage}}"aria-valuemin="0" aria-valuemax="100" style="width:{{progressPercentage}}%">
					    <span style="color:white;">{{latest_responses|length}} / {{question.question_voters.count}}</span>
				    </div>
				</div>
                <p>{{latest_responses|length}} / {{question.question_voters.count}} have voted.</p>
                <p>The following voters have voted on this poll:</p>
                <ul>
                    {% for response, currentSelection in latest_responses %}
                        <li>{{response.user.username}} (last voted on {{ response.timestamp }})</li>
                    {% endfor %}
                </ul>
            {% elif question.display_pref == 3 %}
				<div class="progress">
				    <div class="progress-bar" role="progressbar" aria-valuenow="{{progressPercentage}}"aria-valuemin="0" aria-valuemax="100" style="width:{{progressPercentage}}%">
					    <span style="color:white;">{{latest_responses|length}} / {{question.question_voters.count}}</span>
				    </div>
				</div>
                <p>{{latest_responses|length}} / {{question.question_voters.count}} have voted.</p>
				
			{% elif question.display_pref == 5 %}
				<div class="progress">
				    <div class="progress-bar" role="progressbar" aria-valuenow="{{progressPercentage}}"aria-valuemin="0" aria-valuemax="100" style="width:{{progressPercentage}}%">
					    <span style="color:white;">{{latest_responses|length}} / {{question.question_voters.count}}</span>
				    </div>
				</div>
				<p>{{latest_responses|length}} / {{question.question_voters.count}} have voted.</p>
                <p>The following votes have been cast on this poll:</p>
                <ul>
                    {% for response, currentSelection in latest_responses %}
                        <li>Hidden Username (last voted on {{ response.timestamp }})</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
        
        <br/>

    </div>