 <h3 class="page-header">General info of {{ question.question_text }} </h3>

              <h4>Visibility Info</h4>
              {% if question.display_pref == 1 %}
                    <p> Everyone can see all information about this vote. </p>
              {% elif question.display_pref == 2 %}
                    <p> Only names of voters will be shown. </p>
              {% elif question.display_pref == 3 %}
                    <p> Only numbers of voters will be shown. </p>
              {% else %}
                    <p> You can only see your own vote.</p>
              {% endif %}

<hr />
              <h4>Voter info<h4>

              {% if question.display_pref == 1 %}
                <!-- Everyone can see all information about this vote. -->
                <table class="table table-bordered">
                    {% for user in users %}
                        {% if user in question.question_voters.all %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
              {% elif question.display_pref == 2 %}
                <b> Voter Names: </b>
                <ul class="list-group">
                    {% for user in users %}
                        {% if user in question.question_voters.all %}
                        <li class="list-group-item">{{ user.username }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
              {% elif question.display_pref == 3 %}
                    <!-- Only numbers of voters will be shown. -->
                    <p>There are a total of {{question.question_voters.count}} unique voters.</p>
              
              {% else %}
                    <!-- You can only see your own vote.-->
                <table class="table table-bordered">
                    <tr>
                        <td>{{ request.user.username }}</td>
                        <td>{{ request.user.email }}</td>
                    </tr>
                </table>
              {% endif %}     