{% extends 'polls/base.html' %}
{% block extra_head %}
<script>
function validateForm() {
    var x = document.forms["add_step1"]["questionTitle"].value;
    if (x == null || x == "") {
        alert("The question title must be filled out");
        return false;
    }
}
</script>
{% endblock %}

{% block content %}
<style>
    p.sameline{
        display:inline-block;
    }
</style>

<div class="col-md-10 col-md-offset-1">
    <h2  align="center">Create a New Poll</h2>
    <br/>
     {% include 'polls/_add_step1.html' %}
      <div class="col-md-6 col-md-offset-3" align="center" style='font-size:100%'>
            <input type="submit" value="Next" class="btn btn-primary"/>
        </div>
    </form>
</div>
{% endblock %}