{% load staticfiles %}

<link rel="shortcut icon" href="{% static 'img/oprasmalllogowhite.png' %}"/>
<html>
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OPRA</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />

		<!-- jQuery UI CSS (base theme) -->
		<link rel="stylesheet" type="text/css" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylish-portfolio.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/shared.css' %}"/>
		<link rel="stylesheet" type="text/css" href="{% static 'css/introjs.css' %}"/>
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
       
    <!-- W3 -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


    <!-- Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
		{% if request.flavour == "mobile" %}
		<link rel="stylesheet" type="text/css" href="/static/css/mobile.css"/>
		{% else %}
		<link rel="stylesheet" type="text/css" href="/static/css/desktop.css"/>
		{% endif %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- jQuery -->
		<script
			src="https://code.jquery.com/jquery-2.2.4.min.js"
			integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
			crossorigin="anonymous"></script>
		<script
		  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
		  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
		  crossorigin="anonymous"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/5f5c1e4fb0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src='/static/js/intro.js'></script>
    <script src='/static/js/base.js'></script>

		<script src='/static/js/shared.js'></script>

    <style>
	    .btn{
	    	border-radius:0;
	    }
    </style>
    {% block extra_head %}
    {% endblock %}
	</head>

	<body>
    <!-- nav bar login -->
            <div class="modal fade" role="dialog" id="loginmodal">
      <div class="modal-dialog">
        <div class="modal-content">
          <form id="login_form" method="post" action="/auth/login/">
		        {% csrf_token %}
		        <div class="modal-header">
	            Login
		        </div>
            <!--login model-->
		        <div class="modal-body">
              <fieldset class="form-group">
                <label for="username">Username </label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" value="" size="50" autofocus/>
              </fieldset>
              <fieldset class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password" value="" size="50" />
              </fieldset>
		        </div>
		        <div class="modal-footer">
              <input type="submit" class="btn btn-primary" value="Login"/>
              <input type="button" class="btn btn-primary" value="Login with RPI ID" style="background:#C40000" onclick="loginredirect()"/>
	            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
		        </div>
		        <!-- end for login model-->
          </form>
        </div>
      </div>
		</div>
        
        

		<!--nav bar for main page-->
    {% if user.is_authenticated %}
		<nav class="navbar navbar-default navbar-fixed-top" style="background-color:#377BB5; border-color: transparent;">
    {% else %}
            
            
    <iframe src="/auth/logoutCas" style="display:none;">
      <p>Your browser does not support iframes.</p>
    </iframe>
    <nav class="navbar navbar-default navbar-fixed-top" style="background-color:transparent; border-color: transparent;">
    {%endif%}
        
        
			{% if request.flavour == "mobile" %}
			<div class="container-fluid" style = "margin-left: 10px; margin-right: 10px;">
	    {% else %}
	    <div class="container-fluid">
	    {% endif %}
            
        <div class="navbar-header" >
          <a type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false" style="background-color:white;">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!-- Welcome Part-->
          
            {% if user.is_authenticated %}
            <a class="navbar-brand" href="/polls/" style ="font-size: 100%; {% if request.flavour == 'mobile' %}
          margin-top: 5px;
          {% endif %}
          {% if user.is_authenticated %}
          color:white;
          {%else%}
          color:black;
          {% endif %}">
              Welcome
                {% if request.user.first_name == "" %}
                {{ request.user.username }}
                {% endif %}
                {% if request.user.first_name != "" %}
                {{ request.user.first_name }}
                {% endif %}
            {% else %}
            
               <a class="w3-bar-item"><img src="/static/img/oprafulllogowhite.png" style="width:110px" ></a>
            {% endif %}
              
					</a>
        </div>
            
            
        <!-- right side of nav bar-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					{% if user.is_authenticated %}
					<ul class="nav navbar-nav navbar-right">
                    <!-- Home Icon-->
                    <li><a href="{% url 'polls:index' %}" style="color:white;"><span class="glyphicon navbar-right glyphicon-home"></span></a></li>
                    <!-- Dropdown Setting Icon-->
						<li class="dropdown">
							<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="color:white;"> <span class="glyphicon glyphicon-cog"> </span> <span class="caret"></span> </a>
							<ul class="dropdown-menu" style="font-size:100%; ">
								<li class="disabled">
									<a href="#" >Signed in as {{ request.user.username }}</a>
								</li>
								<li role="separator" class="divider"></li>
								<li >
									<a href="{% url 'appauth:settings' %}" align="center" style="{% if request.flavour == 'mobile' %} color:white; {% endif %}"><span >Settings</span></a>
								</li>
								<li>
									<a href="/auth/logout/" align="center" style="{% if request.flavour == 'mobile' %} color:white; {% endif %}">Logout</a>
								</li>
							</ul>
						</li> <!-- end of Dropdown setting icon-->
					</ul>
					{% else %}
					<ul class="nav navbar-nav navbar-right pull-right">
						<li>
							<a href="{% url 'appauth:register' %}" ><span class="glyphicon glyphicon-user"></span> Sign Up </a>
						</li>
						<li>
							<a href="http://opra.cs.rpi.edu:8000/auth/loginCas" > <span class="glyphicon glyphicon-user"></span> Login </a>
						</li>
					</ul>
					{% endif %}
        </div> <!-- end of right side of nav bar-->
			</div><!--/.container-fluid -->
		</nav>

    <!-- subnav bar when you login-->
    {% if user.is_authenticated %}
		<div>
      <ul class="nav nav-tabs">
        <!-- Poll Icon-->
        <li><a href="{% url 'polls:regular_polls' %}"><span class="fa fa-object-ungroup"></span><span class="nav-text"> Regular Polls</span></a></li>
        <li><a href="{% url 'polls:m_polls' %}"><span class="fa fa-object-group"></span><span class="nav-text"> Multi-Polls</span></a></li>

        <!--Group Icon-->
        <li><a href="{% url 'groups:index' %}"><span class="glyphicon glyphicon-user"></span><span class="nav-text"> Groups</span></a></li>
		
		<li><a href="{% url 'GM_2017' %}"></span><span class="nav-text"> GM 2017</span></a></li>
		<li><a href="{% url 'CS_poster' %}"><span class="nav-text"> CS Poster</span></a></li>
      </ul>
    {% else %}
		<br>
    <div name="MainPage">
    {% endif %}
     <div id="content-block">
      {% block content %}
      {% endblock %}
     </div>

    </div>

	</body>

</html>
