<html>
    <head>
        <title>OPRAH</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <!-- Static navbar -->
            <!--<nav class="navbar navbar-default"> -->
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/polls/">OPRAH</a>
                    </div>
                    <div id="navbar" class="collapse navbar-collapse">
                        {% if user.is_authenticated %}
                        
                            <ul class="nav navbar-nav navbar-right">
                                 <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Setting
                                    <span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/auth/settings/">Change Email</a></li>
                                        <li><a href="#">Invite Friends</a></li>  
                                    </ul>
                                </li>
                                
                                <!--<a href="/auth/settings/">Settings</a></li>-->
                                
                                <li><a href="/auth/logout/">Logout</a></li>
                            </ul>
                        
                        {% else %}
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="/auth/register/"><span class="glyphicon glyphicon-user"></span> Sign Up </a></li>
                                <li><a href="/auth/login/"> <span class="glyphicon glyphicon-log-in"></span> Login </a></li>
                            </ul>
                        {% endif %}
                    </div><!--/.nav-collapse -->
                </div><!--/.container-fluid -->
            </nav>

            <div class="row">
                {% block content %}
                {% endblock %}
            </div>      
        </div> <!-- /container -->
    </body>
</html>