{% load staticfiles %}
<html>
	<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OPRA</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/stylish-portfolio.css' %}" />
    


    <!-- Custom Fonts -->
    
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        
    <link rel="stylesheet" type="text/css" href="{% static 'css/shared.css' %}"/>


	<!-- Somehow else does not work, had to use two "if"'s 
	{% if request.flavour == "mobile" %}
	<link rel="stylesheet" type="text/css" href="/static/css/mobile.css"/>
	{% endif %}
	{% if request.flavour == "full" %}
	<link rel="stylesheet" type="text/css" href="/static/css/desktop.css"/>
	{% endif %}
	-->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/5f5c1e4fb0.js"></script>


    <!-- Select2 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
      $('.multiple-select').select2();
            });
    </script>
        
    <script>

    var QueryString = function () {
          // This function is anonymous, is executed immediately and 
          // the return value is assigned to QueryString!
          
          var query_string = {};
          var query = window.location.search.substring(1);
          var vars = query.split("&");
          for (var i=0;i<vars.length;i++) {
            var pair = vars[i].split("=");
                // If first entry with this name
            if (typeof query_string[pair[0]] === "undefined") {
              query_string[pair[0]] = decodeURIComponent(pair[1]);
                // If second entry with this name
            } else if (typeof query_string[pair[0]] === "string") {
              var arr = [ query_string[pair[0]],decodeURIComponent(pair[1]) ];
              query_string[pair[0]] = arr;
                // If third or later entry with this name
            } else {
              query_string[pair[0]].push(decodeURIComponent(pair[1]));
            }
          }
          return query_string;
        }();

    
    </script>
    
    
    <!-- Custom Theme JavaScript -->
    <script>
    //tooltip 
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
    //#to-top button appears after scrolling
    var fixed = false;
    $(document).scroll(function() {
        if ($(this).scrollTop() > 250) {
            if (!fixed) {
                fixed = true;
                // $('#to-top').css({position:'fixed', display:'block'});
                $('#to-top').show("slow", function() {
                    $('#to-top').css({
                        position: 'fixed',
                        display: 'block'
                    });
                });
            }
        } else {
            if (fixed) {
                fixed = false;
                $('#to-top').hide("slow", function() {
                    $('#to-top').css({
                        display: 'none'
                    });
                });
            }
        }
    });
    // Disable Google Maps scrolling
    // See http://stackoverflow.com/a/25904582/1607849
    // Disable scroll zooming and bind back the click event
    var onMapMouseleaveHandler = function(event) {
        var that = $(this);
        that.on('click', onMapClickHandler);
        that.off('mouseleave', onMapMouseleaveHandler);
        that.find('iframe').css("pointer-events", "none");
    }
    var onMapClickHandler = function(event) {
            var that = $(this);
            // Disable the click handler until the user leaves the map area
            that.off('click', onMapClickHandler);
            // Enable scrolling zoom
            that.find('iframe').css("pointer-events", "auto");
            // Handle the mouse leave event
            that.on('mouseleave', onMapMouseleaveHandler);
        }
        // Enable map zooming with mouse scroll when the user clicks the map
    $('.map').on('click', onMapClickHandler);
    </script>
    <style>
    .btn{
    border-radius:0;
    }
    </style>
        

		{% block extra_head %}
		

		{% endblock %}
	</head>
 
    
	<body>
        <div class="modal fade" role="dialog" id="loginmodal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <form id="login_form" method="post" action="/auth/login/">
                    {% csrf_token %}
                    <div class="modal-header">
                        Login
                    </div>
                    <div class="modal-body">

                            <fieldset class="form-group">
                                <label for="username">Username </label>
                                <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" value="" size="50" autofocus/>
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="username">Password</label> 
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" value="" size="50" />
                            </fieldset>
                            <script>
                            if (typeof(QueryString["name"]) != "undefined"){
                                    $('#username').val(QueryString["name"]);
                                    $('#password').focus();
                            }
                            else{
                                    $('#username').focus();
                            }
                            </script>

                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-primary" value="Login"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
		
		
                {% if user.is_authenticated %}
				 <nav class="navbar navbar-default navbar-fixed-top" style="background-color:#377BB5; border-color: transparent;">
                {% else %}
                 <nav class="navbar navbar-default navbar-fixed-top" style="background-color:transparent; border-color: transparent;">
                {%endif%}
                     
					{% if request.flavour == "mobile" %}
					<div style = "margin-left: 10px; margin-right: 10px;">
				    {% else %}
				    <div class="container-fluid">
				    {% endif %}
                        <div class="navbar-header" >
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" style="float:right; background:white;">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                              </button>
                            
                            
                            <a class="navbar-brand" href="/polls/" style ="font-size: 150%; {% if request.flavour == 'mobile' %}
                            margin-top: 5px; 
                            {% endif %}
                            {% if user.is_authenticated %}
                            color:white;
                            {%else%}
                            color:black;
                            {% endif %}">
                                 Welcome
                                {% if user.is_authenticated %}
                                {% if request.user.first_name == "" %}
                                {{ request.user.username }}
                                {% endif %}
                                {% if request.user.first_name != "" %}
                                {{ request.user.first_name }}
                                {% endif %}
                                {% endif %} </a>
                           </div>   
                        <div class="collapse navbar-collapse">
							{% if user.is_authenticated %}
                        
							<ul class="nav navbar-nav navbar-right" style = "float:right;display:inline;">
                                <li style = "display:inline;"><a href="{% url 'polls:index' %}" style="color:white;"><span class="glyphicon navbar-right glyphicon-home"></span></a></li>
								<li class="dropdown" style = "float:auto;display:inline;">
									<a class="dropdown-toggle" data-toggle="dropdown" style="color:white;"> <span class="glyphicon glyphicon-cog"> </span> <span class="caret"></span> </a>
									<ul class="dropdown-menu" style="font-size:100%;">
										<li class="disabled">
											<a href="#">Signed in as {{ request.user.username }}</a>
										</li>
										<li role="separator" class="divider"></li>
										<li >
											<a href="{% url 'appauth:settings' %}" align="center" ><span >Settings</span></a>
										</li>
										<li>
											<a href="{% url 'appauth:logout' %}" align="center">Logout</a>
										</li>
									</ul>
								</li>
							</ul>
                        
                            
							
							{% else %}
							<ul class="nav navbar-nav navbar-right pull-right">
								<li>
									<a href="{% url 'appauth:register' %}" style="color:black;"><span class="glyphicon glyphicon-user"></span> Sign Up </a>
								</li>
								<li>
									<a data-toggle="modal" data-target="#loginmodal"> <span class="glyphicon glyphicon-log-in"></span> Login </a>
								</li>
							</ul>


							{% endif %}
                            </div>
						</div><!--/.container-fluid -->

				</nav>
                     
                     
            {% if user.is_authenticated %}
				<div class="container-fluid" style="padding: 70px 20px;">
                    <ul class="nav nav-tabs">
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown"  role="button" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-list-alt"></span> Polls<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'polls:regular_polls' %}">Regular Polls</a></li>
                            <li><a href="{% url 'polls:m_polls' %}">Multi-Polls</a></li>
                      
                        </ul>
                    </li>
            <!--<li class="active"><a href="{% url 'polls:index' %}"><span class="glyphicon glyphicon-list-alt"></span> Polls</a></li>-->
                            <li><a href="{% url 'groups:index' %}"><span class="glyphicon glyphicon-user"></span> Groups</a></li>   
                    </ul>
    
            {% else %}
                <div name="MainPage">
            {% endif %}
            {% block content %}
            {% endblock %}
              	</div>


	</body>

</html>