{% extends 'polls/base.html' %}
{% load mathfilters %}
{% load staticfiles %}
{% block extra_head %}

{% if request.flavour == "mobile" %}
<script src='/static/js/mobile.js'></script>
{% else %}
<script src='/static/js/desktop.js'></script>
{% endif %}
<script src='/static/js/voting.js'></script>

{% endblock %}

{% block content %}
<div class="container">
    {% if error_message %}
    <p>
        <strong>{{ error_message }}</strong>
    </p>
    {% endif %}

    {% if request.flavour == "mobile"%}

    <br />
    {% endif %}

    {% if question.status == 2 %}
        {% if question.open == False and request.user.username == ""%}
        You have no permission to vote on this poll.
        {% elif question.open == False and request.user not in question.question_voters.all %}
        You are not invited to this poll.
        {% else %}
        <div class="text-center">
        <a class="btn btn-lg btn-success" href="javascript:void(0);" onclick="javascript:introJs().setOption('showProgress', true).start();">Start the Tutorial</a>
        </div>
    <hr class="small"/>
        <div class="grid">
            <div class="row">
                {% if question.imageURL != Null and question.imageURL != '' %}
                    <div class="col-md-2" {% if request.flavour == "mobile" %} style="width:20%;display:inline" {% endif %}>
                        <a href="{{ question.imageURL }}"><img src="{{ question.imageURL }}" width="150" ></a>
                    </div>
                    {% elif question.image %}
                        <div class="col-md-2" {% if request.flavour == "mobile" %} style="width:20%;display:inline" {% endif %}>
                            <a href="/{{ question.image.url }}"><img src="/{{ question.image.url }}" width="150" ></a>
                        </div>
                {% endif %}
                <div class="col-md-4" {% if request.flavour == "mobile" %} style="width:70%;" {% endif %}>
                    <h3 {% if request.flavour == "mobile" %} style="width:70%;display:inline" {% endif %}>
                        {{ question.question_text }}:
                    </h3>
                    <small class="text-muted">Created by {{ question.question_owner }}</small>
                    {% if question.question_desc %}
                        <h3 {% if request.flavour == "mobile" %} style="width:70%" {% endif %}>
                            {{ question.question_desc }}
                        </h3>
                    {% endif %}
                </div>
            </div>
        </div>



        {% include "polls/voteOptions/twoCol.html" %}
        </form>

        <p>
            <br />
            <br />

            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                        {{ message }} {% if request.user.username != "" %}  <a href="{% url 'polls:regular_polls'%}">Return home</a>{% endif %}
                    </div>
                    {% endfor %}
                </ul>
            {% endif %}
        </p>
        {% endif %}
    {% elif question.status == 1%}
        <p>This poll has not started yet.</p>
    {% else %}
        <p>	This poll has ended.</p>
    {% endif %}
    </div>
{% endblock %}
