{% extends 'polls/base.html' %}
{% block extra_head %}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src='/static/js/shared.js'></script>
{% if request.flavour == "mobile" %}
<script src='/static/js/mobile.js'></script>
{% else %}
<script src='/static/js/desktop.js'></script>
{% endif %}

{% endblock %}
{% load staticfiles %}
{% block content %}

<div class="grid">
	<div class="row">
		{% if question.imageURL != Null and question.imageURL != '' %}
		<div class="col-md-2" {% if request.flavour == "mobile" %} style="width:20%;display:inline" {% endif %}>
			<a href="{{ question.imageURL }}"><img src="{{ question.imageURL }}" width="150" ></a>
		</div>
		{% elif question.image %}
		<div class="col-md-2" {% if request.flavour == "mobile" %} style="width:20%;display:inline" {% endif %}>
			<a href="/{{ question.image.url }}"><img src="/{{ question.image.url }}" width="150" ></a>
		</div>
		{% endif %}
		<div class="col-md-4" {% if request.flavour == "mobile" %} style="width:70%;" {% endif %}>
			<h3 {% if request.flavour == "mobile" %} style="width:70%;display:inline" {% endif %}>
				{{ question.question_text }}:</h3>
            <small class="text-muted">Created by {{ question.question_owner }}</small>
			
			{% if question.question_desc %}
			<h3 {% if request.flavour == "mobile" %} style="width:70%" {% endif %}>
				{{ question.question_desc }}
			</h3>
			{% endif %}
		</div>
	</div>
</div>

<script>
$(function(){
    // bind change event to select
    {% for poll in combination.dependent_questions.all %}
        $('#dynamic_select' + '{{poll.id}}').on('change', function () {
            var choicesStr = "?";
            {% for poll in combination.dependent_questions.all %}
                choicesStr += "poll{{poll.id}}=" + $('#dynamic_select' + '{{poll.id}}').val() + "&"; 
            {% endfor %}

            window.location.href = "{% url 'polls:dependencyget' combination.id %}" + choicesStr; // redirect
            return false;
        });
    {% endfor %}
  });
</script>

<div>
    <form action="{% url 'polls:assignpreference' combination.id %}" method="post">
        {% csrf_token %}
        <div style="clear:both" class="col-md-12">
        {% for poll in combination.dependent_questions.all %}
            <div class="col-md-4 margin-panel-top">
                <h4>Poll {{ poll.question_text }}</h4>
                Select a choice for this dependent poll:
                <select id="dynamic_select{{ poll.id }}" name="{{ poll.id }}" class="form-control" size="{{poll.item_set.count}}">
                    {% if condition_items %}
                        {% for item in poll.item_set.all %}
                            <option value="{{ item.item_text }}" {% if item in condition_items %} selected {% endif %}>{{item.item_text}}</option>
                        {% endfor %}
                    {% elif poll_choice_dict %}
                        {% for item in poll.item_set.all %}
                            <option value="{{ item.item_text }}" {% if item in poll_choice_dict.values %} selected {% endif %}>{{item.item_text}}</option>
                        {% endfor %}
                    {% else %}
                        {% for item in poll.item_set.all %}
                            <option value="{{ item.item_text }}" {% if forloop.counter == 1 %} selected {% endif %} >{{item.item_text}}</option>
                        {% endfor %}
                    {% endif %}
                
                </select>
            </div>
        {% endfor %}
        </div>
        {% if request.flavour == "mobile" %}
        <div class="col-md-6 margin-panel-top">
        {% else %}
        <div class="col-md-6 margin-panel-top">
        {% endif %}
        
            <div class="panel panel-default panel-border">
                <div class="panel-heading" >
                    <b>Your preferences:</b>
                    {% if request.flavour == "mobile" %}
                        <button id="submitbutton" type="submit" onclick="submitPref();" class="submit-button-mobile" >
                            <span class="glyphicon glyphicon-upload" style="font-size:80%;color:white;">Submit</span>
                        </button>
                        
                        <button id="submitbutton" type="submit" onclick="submitPref();" class="btn btn-success" style ="float: right; display: none;">
                            Submit
                        </button>   
                    {% else %}
                            <a href="{% url 'polls:dependencydetail' combination.id %}?order=null" class="btn btn-danger reset-button">Clear</a>
                            <button id="submitbutton" type="submit" onclick="submitPref();" class="btn btn-success submit-button">
                                Submit
                            </button>
                    {% endif %}
                    <input type="hidden" id="pref_order" name="pref_order" value=""/>
                </div>

                <div class="panel-body" >
                    <ul id="left-sortable" class="list-group droptrue">
                        {% if condition_responses %}
                            {% for selection in condition_responses %}
                                {% for item in question.item_set.all %}
                                    {% if selection.0 == item %}
                                    <li class="list-group-item" onclick = "moveToPref(this)" id="item{{ item.item_text }}">
                                        {% if selection.0.image %}
                                            <img class="item" src='/{{ selection.0.image.url }}'/>
                                        {% endif %}
                                        {% if item.imageURL != Null %}
                                            <img class="item" src='{{ item.imageURL }}'/>
                                        {% endif %}
                                        {{ selection.0 }}
                                    </li>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                
                {% if request.flavour == "mobile" %}
                    <button onclick="javascript:window.location.href='{% url 'polls:dependencydetail' combination.id %}?order=null'; return false;" class="reset-button-mobile">
                        <a href="{% url 'polls:dependencydetail' combination.id %}?order=null" class="glyphicon glyphicon-trash redcolor" style="color:white;">Clear</a>
                    </button>       
                {% endif %}
            </div>
        </div>


        {% if request.flavour == "mobile" %}
        <div class="col-md-6 margin-panel-top">
        {% else %}
        <div class="col-md-6 margin-panel-top">
        {% endif %}
        
            <div class="panel panel-default panel-border">
                <div class="panel-heading">
                    <b>Remaining Options:</b>
                    
                    {% if request.flavour == "mobile" %}
                        <button onclick="moveAll(); return false;" class="move-all-button-mobile">
                    <span class="glyphicon glyphicon-arrow-up bluecolor" style="font-size:80%;float: center; color:white;">All</span>
                        </button>
                    {% else %}
                        <button onclick="moveAll(); return false;" class="btn btn-primary move-all-button" >
                           Move All
                        </button>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <ul id="right-sortable" class="list-group">
                        {% if condition_responses == None %}
                        {% for item in items %}
                        <li class="list-group-item" onclick = "moveToPref(this)" id="item{{ item.item_text }}">
                            {% if item.image %}
                                <img class="item" src='/{{ item.image.url }}'/>
                            {% endif %}
                            {% if item.imageURL != Null %}
                                <img class="item" src='{{ item.imageURL }}'/>
                            {% endif %}
                            {{ item.item_text }}
                        </li>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </form>
</div>
<div class="row">
<p>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
        {{ message }}  <a href="{% url 'polls:m_polls'%}">Return home</a>
    </div>
    {% endfor %}
</ul>
{% endif %}
</p>
        
</div>
<script>
    var wholeHeight1 = $('#left-sortable')[0].scrollHeight;
    var wholeHeight2 = $('#right-sortable')[0].scrollHeight;
    if (wholeHeight1 > wholeHeight2) {
        $('#right-sortable').css("height", wholeHeight1);
    } else {
        $('#left-sortable').css("height", wholeHeight2);
    }
    $('#left-sortable').sortable('refresh');
    $('#right-sortable').sortable('refresh');

</script>

  
{% endblock %}