{% extends 'polls/base.html' %}
{% load mathfilters %}
{% load staticfiles %}
{% block extra_head %}
<!-- Google Tag Manager -->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-59SLDM" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager -->

{% if request.flavour == "mobile" %}
<script src='/static/js/mobile.js'></script>
<script>var deviceFlavor = "mobile";</script>
{% else %}
<script src='/static/js/desktop.js'></script>
<script>var deviceFlavor = "desktop";</script>
{% endif %}
{% if currentSelection %}
<script>var firstTime = false;</script>
{% else %}
<script>var firstTime = true;</script>
{% endif %}
<script src='/static/js/voting.js?1500'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.js"></script>



{% endblock %}

{% block content %}
<div class="container">
    {% if error_message %}
    <p>
        <strong>{{ error_message }}</strong>
    </p>
    {% endif %}

{% if question.status == 2 %}
    {% if question.open == 0 and request.user.username == "" %}
        <!-- Poll is not open for anonymous voting and the current user isn't logged in -->
        You have no permission to vote on this poll.
    {% elif question.open == 2 and request.user.username == "" %}
        <!-- Poll is not open for anonymous voting and the current user isn't logged in -->

        <div class="w3-panel w3-center" style="padding:170px 16px;">
          <h1 class="w3-xlarge">
              Please
              <a href="http://opra.cs.rpi.edu:8000/auth/loginCas" class="w3-border w3-button rpi-red"><span class="fa fa-sign-in"></span> Login</a>
              with RPI RCSID and password.
              <br/>
              <br/>
   
               Important: In order to login you must use RPI network or connect with VPN. 
          </h1>
        </div>

</div> <!-- end of class ="container"-->
	
    {% elif question.open == 0 and request.user not in question.question_voters.all %}
        <!-- Poll is not open for anonymous voting and the current user isn't invited -->
        You are not invited to this poll.
    {% else %}

    <!-- Title panel -->
    <div class="panel panel-default">
        <!-- Panel header contains image and title -->
        <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" href="#collapse_des">
            <div class="row">
                <!-- Display poll image (from external url) -->
                {% if question.imageURL != Null and question.imageURL != '' %}
                <div class="col-md-2" {% if request.flavour == "mobile" %} style="width:20%;display:inline" {% endif %}>
                    <a href="{{ question.imageURL }}"><img src="{{ question.imageURL }}" width="150" ></a>
                </div>
                <!-- Display poll image (uploaded to the server) -->
                {% elif question.image %}
                <div class="col-md-2" {% if request.flavour == "mobile" %} style="width:20%;display:inline" {% endif %}>
                    <a href="/{{ question.image.url }}"><img src="/{{ question.image.url }}" width="150" ></a>
                </div>
                {% endif %}

                <!-- Display title and creator in the header -->
                <div class="col-md-10" {% if request.flavour == "mobile" %} style="width:100%;" {% endif %}>
                    <h4 {% if request.flavour == "mobile" %} style="width:70%;display:inline" {% endif %}><span class="caret" style="color:#377BB5;"></span> 
                    	{{ question.question_text }} 
              
						{% if currentSelection %}
                            <a href="{% url 'polls:voteresults' question.id %}" class ="btn btn-dark pull-right" role="button" target="_blank" >Current Winners</a>
                    {% endif %}
					</h4>
					
                </div>
            </div> </a>
        </div>

        <!-- Display the description in the panel body (initially hidden) -->
        <div id="collapse_des" class="panel-collapse collapse">
        	<div class ="panel-body">
        		Created by {{ question.question_owner }}.
        		<br>
            Description: {% if question.question_desc %}
            <span {% if request.flavour == "mobile" %} style="width:70%" {% endif %}> {{ question.question_desc }} </span>
            {% endif %}
            </div>
        </div>
    </div>

    <div id="tabs">
        <ul>
            <li><a href="#twoColSection" onclick="changeMethod(1);">Two Columns</a></li>
            <li><a href="#oneColSection" onclick="changeMethod(2);">One Column</a></li>
            <li><a href="#sliderSection" onclick="changeMethod(3);">Sliders</a></li>
            <li><a href="#starsSection" onclick="changeMethod(4);">Stars</a></li>
        </ul>
            {% include "polls/voteOptions/twoCol.html" %}
            {% include "polls/voteOptions/oneCol.html" %}
            {% include "polls/voteOptions/slider.html" %}
            {% include "polls/voteOptions/stars.html" %}
    </div>

    {% endif %}
    {% elif question.status == 1 %}
    <p>
        This poll has not started yet.
    </p>
	{% elif question.status == 4 %}
    <p>
        This poll is paused.
    </p>
    {% else %}
    <p>
        This poll has ended.
    </p>
    {% endif %}
</div>


<script>
    //display confirmation message for 2 seconds and then fade away slowly
    $(function() {
        $("#successMessage").delay(2000).fadeOut('slow');
    });
    //set the webpage for ajax to report user behavior
    submissionURL="{% url 'polls:record' question.id%}";

    $(function(){
        $(document).ready(function() {
    $(".dropdown-toggle").dropdown();

    $('[data-toggle="tooltip"]').tooltip();

    $('[data-toggle="popover"]').popover({
        title : '<span class="text-info"><strong>Hint</strong></span>',
        html: 'true',
    });
	


	{% if request.flavour == "mobile" %}
		flavor = "Mobile";
	{% else %}
		flavor = "PC";
	{% endif %}
	VoteUtil.checkStyle();
	startTime = Date.now();
	
	$( "#right-sortable" ).children().each(function() {
	if($(this).children().size()>0){
		order1 += $(this).children().first().attr("id") + ";;|;;";
	}

});
	$( "#left-sortable" ).children().each(function() {
	if($(this).children().size()>0){
		$( this ).children().each(function(){
			order2 += $( this ).attr('id');
			order2 += ";;";
		});
		order2 += "|;;";
	}
	
});
});





    // tooltip toggle (Popover function for hints)
    $(document).on('click',"#toggle-button",function () {
     toggle(document.querySelectorAll('.hint'));
   });

//Toggle: hide/show hints
function toggle (elements, specifiedDisplay) {
  var element, index;
  elements = elements.length ? elements : [elements];
  for (index = 0; index < elements.length; index++) {
    element = elements[index];

    if (isElementHidden(element)) {
      element.style.visibility = '';

      // If the element is still hidden after removing the inline display
      if (isElementHidden(element)) {
        element.style.visibility = specifiedDisplay || 'visible';
      }
    } else {
      element.style.visibility = 'hidden';
    }
  }
  function isElementHidden (element) {
    return window.getComputedStyle(element, null).getPropertyValue('visibility') === 'hidden';
  }
}
});

</script>

{% endblock %}
