{% extends 'polls/base.html' %}
{% load mathfilters %}
{% load staticfiles %}
{% block extra_head %}
<!-- Google Tag Manager -->
<noscript>
    <iframe src="//www.googletagmanager.com/ns.html?id=GTM-59SLDM" height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager -->
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

{% if request.flavour == "mobile" %}
<script src='/static/js/mobile.js'></script>
{% else %}
<script src='/static/js/desktop.js'></script>
{% endif %}
<script src='/static/js/shared.js'></script>
<script src='/static/js/voteWithTies.js'></script>


<link rel="stylesheet" href="//code.jquery.com/ui/1.12.0/themes/base/jquery-ui.css">

<style>
    .tier {
        float: left;
    }
</style>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>

<script>
//display confirmation message for 2 seconds and then fade away slowly
$(function() {
    $("#successMessage").delay(2000).fadeOut('slow');
});
//set the webpage for ajax to report user behavior
submissionURL="{% url 'polls:record' question.id%}";
</script>
{% endblock %}

{% block content %}
<br/>
<div class="container">
    {% if error_message %}
    <p>
        <strong>{{ error_message }}</strong>
    </p>
    {% endif %}
    
{% if question.status == 2 %}
    {% if question.open == False and request.user.username == "" %}
        <!-- Poll is not open for anonymous voting and the current user isn't logged in -->
        You have no permission to vote on this poll.
    {% elif question.open == False and request.user not in question.question_voters.all %}
        <!-- Poll is not open for anonymous voting and the current user isn't invited -->
        You are not invited to this poll.
    {% else %}

    <br/><br/>
    
    <!-- Title panel -->
    <div class="panel panel-default">
        <!-- Panel header contains image and title -->
        <div class="panel-heading">
            <a class="panel-title" data-toggle="collapse" href="#collapse_des">
            <div class="row">
                <!-- Display poll image (from external url) -->
                {% if question.imageURL != Null and question.imageURL != '' %}
                <div class="col-md-2" {% if request.flavour == "mobile" %} style="width:20%;display:inline" {% endif %}>
                    <a href="{{ question.imageURL }}"><img src="{{ question.imageURL }}" width="150" ></a>
                </div>
                <!-- Display poll image (uploaded to the server) -->
                {% elif question.image %}
                <div class="col-md-2" {% if request.flavour == "mobile" %} style="width:20%;display:inline" {% endif %}>
                    <a href="/{{ question.image.url }}"><img src="/{{ question.image.url }}" width="150" ></a>
                </div>
                {% endif %}
                
                <!-- Display title and creator in the header -->
                <div class="col-md-10" {% if request.flavour == "mobile" %} style="width:100%;" {% endif %}>
                    <h4 {% if request.flavour == "mobile" %} style="width:70%;display:inline" {% endif %}><span class="caret" style="color:#377BB5;"></span> {{ question.question_text }} <small class="text-muted">(Created by {{ question.question_owner }})</small></h4>

                </div>
            </div> </a>
        </div>

        <!-- Display the description in the panel body (initially hidden) -->
        <div id="collapse_des" class="panel-body collapse">
            Description: {% if question.question_desc %}
            <span {% if request.flavour == "mobile" %} style="width:70%" {% endif %}> {{ question.question_desc }} </span>
            {% endif %}
        </div>
    </div>

    <!-- This is the voting form. Submit results through a voting function -->
    <form {% if request.user.username == "" %} action="{% url 'polls:anonymousvote' question.id %}" {% else %} action="{% url 'polls:vote' question.id %}" {% endif %} method="post">
        <div class="row">
            {% csrf_token %}
            <!-- If this user isn't logged in and hasn't voted before -->
            {% if request.user.username == "" and 'anonymousid' not in request.session %}
            <div class="col-md-12" style="clear:right; ">
                <h4>Please enter your name: </h4>
                <input type="text" size="50" class="form-control" style="width=50%; clear:right;" name="anonymousname"/>
            </div>
            {% endif %}
            
            {% if request.flavour == "mobile" %}
            <div class="col-md-6 margin-panel-top">
            {% else %}
            <div class="col-md-6 margin-panel-top">
            {% endif %}
                
                <!-- Panel for your preferences -->
                <div class="panel panel-default" >
                    <!-- Your preferences header -->
                    <div class="panel-heading" >
                        <h4>Your preferences:
                            {% if request.flavour == "mobile" %}
                            <button id="submitbutton" type="submit" onclick="submitPref();" class="submit-button-mobile" >
                                <span class="glyphicon glyphicon-upload" style="font-size:80%;color:white;">Submit</span>
                            </button> 
                            {% else %} 
                            <a href="{% url 'polls:detail' question.id %}?order=null" class="btn btn-danger reset-button" style="background"> Clear </a>
                            <button id="submitbutton" type="submit" onclick="submitPref();" class="btn btn-success" disabled>
                                Submit
                            </button> 
                            {% endif %}
                            <input type="hidden" id="pref_order" name="pref_order" value=""/>
                                
                            <div class="pull-right">
                            {% if messages %}
                                    {% for message in messages %}
                                    <span id="successMessage" {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
                                        {{ message }}
                                    </span>
                                    {% endfor %}
                            {% endif %}
                                <!-- Hints button -->
                                <a tabindex="0" style="float:right; {%if request.user.userprofile.showHint == True%} visibility:visible;{% else %}visibility:hidden; {%endif%}"  class="hint fa fa-question-circle" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="These are your final preferences. <br/><form action='{% url 'appauth:disableHint' %}' method='POST'>{% csrf_token %}<input id='toggle-button' class='btn btn-primary btn-sm' type='submit' value='Disable All Hints'/></form> <br/>"></a>
                            </div>    
                                
                            </h4>
                        </div> <!-- end of header -->

                        <!-- Your preferences main panel -->
                        <div class="panel-body" >
                            <ul id="left-sortable" >
                                {% if currentSelection %}
                                <!-- Display a previously submitted vote -->
                                {% for s in currentSelection %}
                                {% if s %}
                                <ul class="choice1 empty"></ul>
                                <ul class="choice1">
                                    <!-- Display the tier number -->
                                    <div class="tier">{{ forloop.counter }}</div>
                                    
                                    <!-- Display all the options selected for this tier -->
                                    {% for selection in s %}
                                    <li class="li_item" id="item{{ selection.item_text }}" alt="{{forloop.parentloop.counter}}">
                                        <!-- Display image (uploaded) -->
                                        {% if selection.image %}
                                            <img class="item" src='/{{ selection.image.url }}'/>
                                        {% endif %}
                                        <!-- Display image (external URL) -->
                                        {% if selection.imageURL != Null %}
                                            <img class="item" src='{{ selection.imageURL }}'/>
                                        {% endif %}
                                        <!-- Display option text -->
                                        {{ selection }}
                                        <!-- Display tooltip for option description -->
                                        {% if selection.item_description %}
                                            <span class="glyphicon glyphicon-info-sign pull-right" data-toggle="tooltip" data-placement="top" title="{{selection.0.item_description}}">
                                            </span>
                                        {% endif %}
                                    </li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                {% endfor %}
                                {% endif %}
                            </ul> <!-- end of main panel (left-sortable) -->
                        </div>
                        
                        {% if request.flavour == "mobile" %}
                        <!-- Clear button (mobile version) -->
                        <button onclick="javascript:window.location.href='{% url 'polls:detail' question.id %}?order=null'; return false;" class="reset-button-mobile">
                            <a href="{% url 'polls:detail' question.id %}?order=null" class="glyphicon glyphicon-trash redcolor" style="color:white;">Clear</a>
                        </button>
                        {% endif %}
                    </div>
                </div>
                {% if request.flavour == "mobile" %}
                <div class="col-md-6 margin-panel-top">
                {% else %}
                <div class="col-md-6 margin-panel-top">
                {% endif %}
                <div class="panel panel-default">
                    <!-- Remaining options panel header -->
                    <div class="panel-heading">
                        <h4>Remaining Options:
                        {% if request.flavour == "mobile" %}
                        <button onclick="moveAll(); return false;" class="move-all-button-mobile">
                            <span class="glyphicon glyphicon-arrow-up bluecolor" style="font-size:80%;float: center; color:white;"> All </span>
                        </button> 
                        {% else %}
                        <button onclick="moveAll(); return false;" class="btn btn-primary move-all-button" >
                            Move All
                        </button> 
                            {% endif %} 
                        <a tabindex="0" style="float:right; {%if request.user.userprofile.showHint == True%} visibility:visible;{% else %}visibility:hidden; {%endif%}"  class="hint fa fa-question-circle" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="These are the available options <form action='{% url 'appauth:disableHint' %}' method='POST'>{% csrf_token %}<input id='toggle-button' class='btn btn-primary btn-sm' type='submit' value='Disable All Hints'/></form><br/>"></a> </h4>
                    </div> <!-- end of panel header -->
                    
                    <!-- Remaining options panel body -->
                    <div class="panel-body">
                        <ul id="right-sortable" class="list-group">
                            {% if currentSelection == None %}
                            <!-- The user hasn't voted on this poll yet -->
                            {% for item in items %}
                            <ul class="choice1 empty"></ul>
                            <div class="tier">
                                <!-- Display tier number -->
                                {{ forloop.counter }}
                            </div>
                            
                            <!-- Display each option. Each option gets its own tier -->
                            {% with prev=forloop.counter|mul:2 %}
                            <ul class="choice1" id="{{ prev|add:1 }}" onclick = "moveToPref(this)">
                            {% endwith %}
                                <li class="li_item" id="item{{ item.item_text }}">
                                    <!-- Display image (uploaded) -->
                                    {% if item.image %}
                                        <img class="item" src='/{{ item.image.url }}'/>
                                    {% endif %}
                                    <!-- Display image (external URL) -->
                                    {% if item.imageURL != Null %}
                                        <img class="item" src='{{ item.imageURL }}'/>
                                    {% endif %}
                                    <!-- Display option text -->
                                    {{ item.item_text }}
                                    <!-- Display tooltip for option description -->
                                    {% if item.item_description %}
                                        <span class="glyphicon glyphicon-info-sign pull-right" data-toggle="tooltip" data-placement="top" title="{{item.item_description}}" data-title="Meddelanden">
                                        </span>
                                    {% endif %}
                                </li>
                            </ul>
                            {% endfor %}
                            <ul class="choice1 empty"></ul>
                            {% endif %}
                        </ul>
                    </div> <!-- end of panel body (right-sortable)-->
                </div>
            </div>
        </div>
                    
        <!-- Comments section -->
        <div>
            <br/>
            <!-- Hints button -->
            <a tabindex="0" style="float:right; {%if request.user.userprofile.showHint == True%} visibility:visible;{% else %}visibility:hidden; {%endif%}"  class="hint fa fa-question-circle" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-content="You can leave your comments here. <br/><form action='{% url 'appauth:disableHint' %}' method='POST'>{% csrf_token %}<input id='toggle-button' class='btn btn-primary btn-sm' type='submit' value='Disable All Hints'/></form>"></a>
            <!-- Textbox to enter comments -->
            <textarea class="form-control" name="comment" rows="4" cols="50" maxlength="1000" placeholder="Enter your comments here" >{{lastcomment}}</textarea>
        </div>
    </form>
    {% endif %}
    {% elif question.status == 1 %}
    <p>
        This poll has not started yet.
    </p>
    {% else %}
    <p>
        This poll has ended.
    </p>
    {% endif %}
</div>

    
<script>
    
    $(function(){
        $(document).ready(function() {
    $(".dropdown-toggle").dropdown();

    $('[data-toggle="tooltip"]').tooltip();

    $('[data-toggle="popover"]').popover({
        title : '<span class="text-info"><strong>Hint</strong></span>',
        html: 'true',
    }); 
}); 

        
    // tooltip toggle (Popover function for hints)
    $(document).on('click',"#toggle-button",function () {
     toggle(document.querySelectorAll('.hint'));
   });
      
//Toggle: hide/show hints
function toggle (elements, specifiedDisplay) {  
  var element, index;
  elements = elements.length ? elements : [elements];
  for (index = 0; index < elements.length; index++) {
    element = elements[index];

    if (isElementHidden(element)) {
      element.style.visibility = '';

      // If the element is still hidden after removing the inline display
      if (isElementHidden(element)) {
        element.style.visibility = specifiedDisplay || 'visible';
      }
    } else {
      element.style.visibility = 'hidden';
    }
  }
  function isElementHidden (element) {
    return window.getComputedStyle(element, null).getPropertyValue('visibility') === 'hidden';
  }
}
});

</script>

{% endblock %}