{% extends 'polls/base.html' %}

{% block extra_head %}
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>

function moveToPref(id, text) {
	var prefcolumn = $('#sortable1');
	prefcolumn.append("<li class='list-group-item' id=" +id+ '>' + text + "</li>");
	prefcolumn.sortable({ refresh: sortable1 })
};

$(function() {
    $("#sortable1").sortable({
        update: function(event, ui) {
            var order = $("#sortable1").sortable("toArray");
            $('#pref_order').val(order.join(","));
        }
    });    
    
    $("ul.droptrue").sortable({
        connectWith: "ul"
      });
    
    $( "#sortable1, #sortable2" ).disableSelection();
});



</script>

{% endblock %}

{% block content %}



{% if question.status == 2%}
<div class="row">
    <div class="col-md-2">
        <a href="{{ question.image }}"><img src="{{ question.image }}" width="128" ></a>
    </div>
    <div class="col-md-9">
        <h1>{{ question.question_text }}</h1>
        {% if question.question_desc %}
            <p>{{ question.question_desc }}</p>
        {% endif %}
        <p><b>Created by</b> {{ question.question_owner }}</p>
        <p>
            <b>Voters: </b>
            {% for voter in question.question_voters.all %}
                {% if voter == request.user %}
                    <i>{{ voter }}</i>,
                {% else %}
                    {{ voter }},
                {% endif %}
            {% endfor %}
        </p>
    </div>
</div>
<hr />   

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<div class="row">
<form action="{% url 'polls:vote' question.id %}" method="post">
    {% csrf_token %}
    
    <div class="col-md-4">
        <p><b>Preference Order:</b></p>
        <input type="hidden" id="pref_order" name="pref_order" value="" />
        <ul id="sortable1" class="list-group well droptrue">
            {% if currentSelection %}
                {% for selection in currentSelection %}
                    {% for item in question.item_set.all %}
                        {% if selection.0 == item %}
                        <li class="list-group-item" id="item{{ forloop.counter }}">
                            {% if selection.0.image %}
                                <img src='/static/items/{{ selection.0.image.url }}'/>
                            {% endif %}
                            {{ selection.0 }}
                        </li>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </ul>
        <!-- submit button -->
        <input type="submit" value="Submit" class="btn btn-primary"/>
    </div>
    <div class="col-md-4">
        <p>Remaining Elements:</p>
        <ul id="sortable2" class="list-group well droptrue">
            {% if currentSelection == None %}
                {% for item in question.item_set.all %}
                <li class="list-group-item" onclick = "this.remove(); moveToPref('item{{ forloop.counter }}', {{ item.item_text }} ); return false;" id="item{{ forloop.counter }}">
                    {% if item.image %}
                        <img src='/static/items/{{ item.image.url }}'/>
                    {% endif %}
                    {{ item.item_text }}</li>
                {% endfor %}
            {% endif %}
        </ul>
         <a href="/polls/{{ question.id }}/?order=null" class="btn btn-danger">Cancel</a>
    </div>
</form>
</div>

{% elif question.status == 1%}

<p>This poll has not started yet.</p>

{% else %}

<p>This poll has ended.</p>

{% endif %}
{% endblock %}