{% extends 'polls/base.html' %}
{% load staticfiles %}
{% block extra_head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/landing-page.css' %}" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
{% endblock %}

{% block content %}
<style>
    p.sameline{
        display:inline-block;
    }
    .panel-default > .panel-heading {
      color: #fff;
      background-color: #4c94cc;
      border-color: transparent;
        border:0px;
    }
    .readable{
        background-color:rgba(0, 0, 0, 0.5);
    }
    .rpi-red{
        background-color:rgb(191,7,17);
        color: #fff
    }
    .rpi-text-red{
        color:rgb(191,7,17)
    }
    body,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
    h1{font-family: "Gotham A","Gotham B",sans-serif }
    body {font-size: 16px;}
    img {margin-bottom: -8px;}
    
</style>


    <!-- Header -->

<header class="w3-display-container w3-padding-64 "  id="home">
  <img class="w3-image" src="/static/img/bg.jpg" style="opacity: 0.4">
  <div class="w3-display-middle w3-margin-top w3-center">
    
     <div><img src="/static/img/oprafullname.png" style="width:500px"></div>
      	<br>
      <div>	Supported by Professor  <a href="http://www.cs.rpi.edu/~xial" style="color: rgb(191,7,17); "> Lirong Xia's group </a> at RPI</h3></div>
            
    <br>
    <!--<a href="#about" class="btn btn-dark btn-lg">Find Out More</a> -->
    <a href="/GM2017" class="btn btn-dark btn-lg"><b>GM2017</b></a> 
      <a href="/CSposter" class="btn btn-dark btn-lg"><b>CS Poster</b></a>
    <br>
  </div>
</header>



<!-- Tutorial Section -->
<div class="w3-padding-64 w3-center w3-white">
  
  <p class="w3-large">OPRA is the perfect place to host polls.</p>
  <div class="w3-row-padding " style="margin-top:60px">
    
    <div class="w3-section">
      <ul class="w3-ul w3-card-2">
        <li class="rpi-red w3-xlarge w3-padding-32">Poll Tutorial</li>
        <li class="w3-padding-16">   <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> Step 1 </a> 
          <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
                  <h3 class="text-center"> Step 1 </h3>
                  <hr class="small"/>
               {% include 'polls/_add_step1.html' %}
                  </form>
              </div>
          </div>
        </li>
        <li class="w3-padding-16">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Step 2 </a>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                  <div class="panel-body">
                      <h3 class="text-center"> Step 2 </h3>
                      <hr class="small"/>
                      <div class="steps"  align="center">
                                <p class="sameline" > 
                                    1. General  
                                </p> 
                                <p class="sameline" style="color:grey;">
                                    <span class="glyphicon glyphicon-chevron-right"> </span>  
                                    2. Choices
                                </p>
                                <p class="sameline">
                                    <span class="glyphicon glyphicon-chevron-right"> </span>
                                    3. Invite <span class="glyphicon glyphicon-chevron-right"> </span>
                                    4. Settings 
                                </p>
                     </div>

                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                            <span class="sr-only">50% Complete</span>
                        </div>
                    </div>
                    <br/>
                    {% include 'polls/_add_choice.html' %}
                  </div>
                </div>
        </li>
      
       <li class="w3-padding-16">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Step 3
            </a>
           <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="panel-body">
                      <h3 class="text-center"> Step 3 </h3>
                      <hr class="small"/>
                    <div class="steps"  align="center">
                        <p class="sameline" > 
                            1. General   
                            <span class="glyphicon glyphicon-chevron-right"> </span>  
                            2. Choices 
                        </p>

                        <p class="sameline" style="color:grey;">
                            <span class="glyphicon glyphicon-chevron-right"> </span>
                            3. Invite 
                        </p>

                        <p class="sameline">
                            <span class="glyphicon glyphicon-chevron-right"> </span>
                            4. Settings 
                        </p>
                    </div>

                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                            <span class="sr-only">75% Complete</span>
                        </div>
                    </div>
                    <br/>

                    <h3>Voters</h3>
                    {% include 'polls/_invite_voters.html' %}
                  </div>
                </div>
            
       </li>
      <li class="w3-padding-16">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
                      Step 4
        </a>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="panel-body">
              <h3 class="text-center"> Step 4 </h3>
              <hr class="small"/>
            {% include 'polls/_add_step4.html' %}
          </div>
        </div>
      </li>  
      </ul>
    </div>
  </div>
  <br>
</div>


<!-- Single Poll Section -->
<div class="w3-padding-64 w3-light-grey">
  <div class="w3-row-padding">
    <div class="w3-col l4 m6">
      <img class="w3-image w3-round-large" src="{% static 'img/sranking.png' %}" width="335" height="471">
    </div>
    <div class="w3-col l8 m6">
      <h1 class="w3-xxxlarge rpi-text-red"><b>Customized Singular Polls</b></h1>
      <p><span class="w3-xlarge">OPRA</span> allows you to customize your poll by choosing question types (Poll or Allocation), voting algorithms and visibility. Also, OPRA allows anonymous voters to join singular polls. You must set a question title (keep it short and concise). You can also add a description if you need to add more information. It will be shown when you hover over the title in the index page.</p>
    </div>
  </div>
</div>




<!-- The Result Section -->
<div class="w3-padding-64 w3-white">
  <div class="w3-row-padding">
    <div class="w3-col l8 m6">
      <h1 class="w3-xxxlarge rpi-text-red"><b>Organized & Analyzed Results</b></h1>
      <p><span class="w3-xlarge">OPRA </span> helps you make better decisions. After a poll ends, OPRA will compute and analyze, using powerful voting algorithms, the results for you. </p>
      <button class="w3-button w3-light-grey w3-padding-large w3-section ">
        <i class="fa fa-eye"></i><a href="{% url 'polls:voteresults' question.id %}">See Results Demo</a>
      </button>
    </div>
      
    <div class="w3-col l4 m6">
        <img src="{% static 'img/analysis.png' %}" class="w3-image w3-margin-top" width="335" height="471">
    
    </div>
      
  </div>
</div>




<!-- Features Section -->
<div class="w3-container w3-padding-64 w3-dark-grey w3-center">
  <h1 class="w3-jumbo"><b>Features</b></h1>
  <p>More About OPRA</p>

  <div class="w3-row" style="margin-top:64px">
    <div class="w3-col s3">
      <i class="fa fa-users w3-text-orange w3-jumbo"></i>
      <p>Group</p>
    </div>
    <div class="w3-col s3">
      <i class="fa fa-envelope w3-text-red w3-jumbo"></i>
      <p>Notification</p>
    </div>
    <div class="w3-col s3">
      <i class="fa fa-qrcode w3-text-yellow w3-jumbo"></i>
      <p>QR Code</p>
    </div>
    <div class="w3-col s3">
      <i class="fa fa-eye-slash w3-text-green w3-jumbo"></i>
      <p>Anonymity</p>
    </div>
  </div>

  <div class="w3-row" style="margin-top:64px">
    <div class="w3-col s3">
      <i class="fa fa-user w3-text-sand w3-jumbo"></i>
      <p>Safe</p>
    </div>
    <div class="w3-col s3">
      <i class="fa fa-shield w3-text-blue w3-jumbo"></i>
      <p>Stabile</p>
    </div>
    <div class="w3-col s3">
      <i class="fa fa-wifi w3-text-grey w3-jumbo"></i>
      <p>Connected</p>
    </div>
    <div class="w3-col s3">
      <i class="fa fa-bolt w3-text-pink w3-jumbo"></i>
      <p>Fast</p>
    </div>
  </div>
</div>


    

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-center">
                    <hr class="small">
                    <p class="text-muted">Copyright &copy; 2016</p>
                </div>
            </div>
        </div>
        <a id="to-top" href="#top" class="btn btn-dark btn-lg"><i class="fa fa-chevron-up fa-fw fa-1x"></i></a>
    </footer>

{% endblock %}
