{% extends 'polls/base.html' %}

{% block content %}
    {% if user.is_authenticated %} 

        <ul class="nav nav-tabs">
            <li class="active"><a href="{% url 'polls:index' %}"><span class="glyphicon glyphicon-list-alt"></span> Polls</a></li>
            <li><a href="{% url 'groups:index' %}"><span class="glyphicon glyphicon-user"></span> Groups</a></li>
        </ul>

        {% if question_list == None %}
            <tr><td>No polls are currently available.</td></tr>
            <tr><td><a href="{% url 'polls:AddStep1' %}"><span class="btn btn-primary" style='font-size:60%'>Add Poll</span></a></td></tr>
        {% endif %}


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  
  {% include "polls/poll_created_tab.html" %}
  {% include "polls/poll_participated_tab.html" %}
  {% include "polls/m_poll_tab.html" %}

    
</div>

{% endif %}
{% endblock %}