{% extends 'polls/base.html' %}

{% block content %}
    {% if user.is_authenticated %}        
        <ul class="nav nav-tabs">
            <li class="active"><a href="{% url 'polls:index' %}"><span class="glyphicon glyphicon-list-alt"></span> Polls</a></li>
            <li><a href="{% url 'groups:index' %}"><span class="glyphicon glyphicon-user"></span> Groups</a></li>
        </ul>

        {% if question_list == None %}
            <tr><td>No polls are currently available.</td></tr>
            <tr><td><a href="{% url 'polls:AddStep1' %}"><span class="btn btn-primary" style='font-size:60%'>Add Poll</span></a></td></tr>
        {% endif %}

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default"> <!-- for created by you section-->
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Created by you
        </a>
          <div class="panel-title pull-right" style='font-size:100%;'>
            <a href="{% url 'polls:AddStep1' %}" style='font-size:100%; '><span class="btn btn-primary" style='font-size:60%'><span class="glyphicon glyphicon-plus" style ="font-size:100%"></span></span></a>
          </div>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
              <table class="table">
                {% if question_list %}
                    {% for question in question_list %}
                        {% if question.question_owner == request.user %}
                        <tr>

                            <td>    
                                <a href="{% url 'polls:pollinfo' question.id %}">{{ question.question_text }}</a>
                            </td>
                            <td style="vertical-align:middle">
                                {% if question.status == 2 %}
                                <a href="{% url 'polls:detail' question.id %}" class ="btn btn-success" role="button" style="margin:0;float:right">Vote</a>
                                {% endif %}
                            </td>
                            {% if question.status == 1 %}
                                <td style="vertical-align:middle">
                                    
                                        <span class = "glyphicon glyphicon-play" data-toggle="modal" data-target="#confirm-start{{ question.id }}" style="color:green; float:right;"></span>
                                  
                                 </td>

                                <div class="modal fade" id="confirm-start{{ question.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                Confirm Start Poll {{ question.question_text }}
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to start poll {{ question.question_text }}? Once a poll is started, you cannot modify the settings or remove voters.
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{% url 'polls:start' question.id %}">
                                                    <button type="button" class="btn-large btn-success btn-ok">Yes</button>
                                                </a>
                                                <button type="button" class="btn-large btn-default" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% elif question.status == 2 %}

                                <td style="vertical-align:middle">
                                	
                                        <span class = "glyphicon glyphicon-stop" data-toggle="modal" data-target="#confirm-stop{{ question.id }}" style="color:red; float:right;"></span>
                           
                                </td>

                                <div class="modal fade" id="confirm-stop{{ question.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                Confirm Stop Poll
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you want to stop this poll? Once a poll is stopped, no more votes can be changed.
                                            </div>
                                            <div class="modal-footer">
                                                <a href="{% url 'polls:stop' question.id %}">
                                                    <button type="button" class="btn-large  btn-ok btn-danger" style="font-size:100%;">Yes</button>
                                                </a>
                                                <button type="button" class="btn-large btn-default" data-dismiss="modal">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% elif question.status == 3 %}
                                    <td>
                                        {% if question.question_type == 1 %}
                                            <a style="float:right;margin:10px" href="{% url 'polls:voteresults' question.id %}" >
                                                {{question.winner}} wins
                                            </a> 
                                        {% elif question.question_type == 2 %}
                                            Allocation Complete: <br />
                                            {% for response in question.response_set.all %}
                                                {{ response.user.username }}: {{ response.allocation.item_text }} 
                                                <br />
                                            {% endfor %}
                                            <a href="{% url 'polls:allocate_results' question.id %}" >
                                            <span class = "glyphicon glyphicon-info-sign" href="{% url 'polls:allocate_results' question.id %}"></span>
                                            </a> 
                                        {% endif %}
                                    </td>
                    
                            {% endif %}
                        </tr>
                        {% endif %}
                    {% endfor %}
                {% endif %}    
                </table>
      </div>
    </div>
  </div> <!-- end for created by you section-->
    
    
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Participated in
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
         <table class="table" style='font-size:100%'>
                    {% if question_list %}
                        {% for question in question_list %}
                            {% if question.question_owner != request.user and request.user in question.question_voters.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'polls:pollinfo' question.id %}"> 
                                    {{ question.question_text }}
                                    </a>
                                </td>
                                <td>
                                    {% if question.status == 2 %}
                                    <a href="{% url 'polls:detail' question.id %}" class ="btn-large btn-success" style='font-size:60%;float:right'>Vote</a>
                                    {% endif %}
                                </td>
                                {% if question.status == 1 %}
                                    <td>Poll not started</td>
                                {% elif question.status == 2 %}
                                    <td>In session</td>
                                {% elif question.status == 3 %}
                                    <td>
                                        {% if question.display_pref == 1 %}
                                            {% if question.question_type == 1 %}
                                                {{question.winner}} wins 
                                                <a href="{% url 'polls:voteresults' question.id %}" >
                                                <span class = "glyphicon glyphicon-info-sign" href="{% url 'polls:voteresults' question.id %}"></span>
                                                </a> 
                                            {% elif question.question_type == 2 %}
                                                Allocation Complete: <br />
                                                {% for response in question.response_set.all %}
                                                    {{ response.user.username }}: {{ response.allocation.item_text }} 
                                                    <br />
                                                {% endfor %}
                                                <a href="{% url 'polls:allocate_results' question.id %}" >
                                                <span class = "glyphicon glyphicon-info-sign" href="{% url 'polls:allocate_results' question.id %}"></span>
                                                </a> 
                                            {% endif %}
                                        {% endif %} 
                                        
                                    </td>
                                {% endif %}
                            </tr>
                            {% endif %}
                        {% endfor %}
                    {% endif %}    
                    </table>
      </div>
    </div>
  </div> <!-- end for participated in section-->
    
    
    
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
       <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseOne">
          Multi-polls created by you
        </a>
          <div class="panel-title pull-right" style='font-size:100%;'>
            <a href="{% url 'multipolls:AddStep1' %}" style='font-size:100%; '>
                <span class="btn btn-primary" style='font-size:60%'>
                    <span class="glyphicon glyphicon-plus" style ="font-size:100%"></span>
                </span>
            </a>
          </div>
      </h4> 
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        {% if multipolls %}
        <table class="table">
            {% for mpoll in multipolls %}
                    {% if request.user == mpoll.owner %}
                        <h4>{{mpoll.title}}</h4>
                        <a href="{% url 'multipolls:progress' mpoll.id %}"><span class="btn btn-primary">Progress</span></a>
                            {% for question in mpoll.questions.all %}
                            <tr>
                                <td>
                                    <a href="{% url 'polls:pollinfo' question.id %}"> 
                                    {{ question.question_text }}
                                    </a>
                                {% if question.status == 1 %}
                                    Poll not started
                                {% elif question.status == 2 %}
                                    Polling in session
                                {% elif question.status == 3 %}

                                    The winner is <b>{{question.winner}}</b> 
                                    {% if question.display_pref == 1 %}
                                    <a href="{% url 'polls:voteresults' question.id %}" class="btn btn-primary">More details</a>
                                    {% endif %} 

                                {% endif %}
                                </td>
                            </tr>
                            {% endfor %}

                {%endif%}    

            {% endfor %} <!--end for mpoll in multipolls-->
        </table>
        {% endif %}
      </div>
    </div>
  </div> <!-- end for M-polls created by you-->
    
</div>

{% endif %}
{% endblock %}