{% extends 'polls/base.html' %}

{% block extra_head %} 
<!-- Google Analytics -->    
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-81006265-1', 'none');
 //ga('create', 'UA-81006265-1', 'none','DetailTracker');
  ga('send', 'pageview');
 //ga('DetailTracker.send', 'pageview');
ga(function(tracker) {
  // Logs the tracker created above to the console.
  console.log(tracker);
});

</script>
{% endblock %}
        

{% block content %}
    {% if user.is_authenticated %} 


<br/><br/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 col-md-offset-2 col-sm-6" align="center">
            <br/>
            <div class="service-item">
                <a href="{% url 'polls:regular_polls' %}">
                    <i class="fa fa-object-ungroup fa-5x" aria-hidden="true"></i>
                    <h4><strong>Single-Polls</strong>
                </h4>
                </a>
                <p>You can create or participate in a regular vote here.</p>
            </div>
        </div>
        <div class="col-md-4  col-sm-6" align="center">
            <br/>
            <div class="service-item">
                <a href="{% url 'polls:m_polls' %}">
                <i class="fa fa-object-group fa-5x" aria-hidden="true"></i>
                
                    <h4><strong>Multi-Polls</strong></h4>
                </a>
                <p>You can link multiple polls.</p>
            </div>
        </div>
                        
    </div>
    
</div>

        {% if question_list == None %}
            <tr><td>No polls are currently available.</td></tr>
            <tr><td><a href="{% url 'polls:AddStep1' %}"><span class="btn btn-primary" style='font-size:60%'>Add Poll</span></a></td></tr>
        {% endif %}


{% endif %}
{% endblock %}

<!--
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  
  {% include "polls/poll_created_tab.html" %}
  {% include "polls/poll_participated_tab.html" %}
  {% include "polls/m_poll_created_tab.html" %}
  {% include "polls/m_poll_participated_tab.html" %}

    
</div>
-->


