{% extends 'polls/base.html' %}
{% block extra_head %}

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<!-- Optional theme -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/linkPage.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}
{% load staticfiles %}
{% block content %}

	<div class="col-md-3" id="grand-marshall">
		<a href="#">
			<button type="button" class="btn btn-primary">
				<div class="hidden-sm hidden-xs col-md-3"><img src="/static/img/linkImg.png"/></div>
				Grand Marshall
			</button>
		</a>
	</div>
	<div class="col-md-3" id="president-union">
		<a href="#">
			<button type="button" class="btn btn-primary">
				<div class="hidden-sm hidden-xs col-md-3">
					<img src="/static/img/linkImg.png"/>
				</div>
				President of the Union
			</button>
		</a>
	</div>
	<div class="col-md-3" id="ug-president">
		<a href="#">
			<button type="button" class="btn btn-primary">
				<div class="hidden-sm hidden-xs col-md-3">
					<img src="/static/img/linkImg.png"/>
				</div>
				Undergraduate President
			</button>
		</a>
	</div>
	<div class="col-md-3" id="grand-marshall">
		<a href="#">
			<button type="button" class="btn btn-primary">
				<div class="hidden-sm hidden-xs col-md-3"><img src="/static/img/linkImg.png"/></div>
				Independent Senator
			</button>
		</a>
	</div>
	<div class="col-md-3" id="grand-marshall">
		<a href="#">
			<button type="button" class="btn btn-primary">
				<div class="hidden-sm hidden-xs col-md-3"><img src="/static/img/linkImg.png"/></div>
				Greek Senator
			</button>
		</a>
	</div>
	<div class="col-md-3" id="grand-marshall">
		<a href="#">
			<button type="button" class="btn btn-primary">
				<div class="hidden-sm hidden-xs col-md-3"><img src="/static/img/linkImg.png"/></div>
				Class of 2018 President
			</button>
		</a>
	</div>
	<div class="col-md-3" id="grand-marshall">
		<a href="#">
			<button type="button" class="btn btn-primary">
				<div class="hidden-sm hidden-xs col-md-3">
					<img src="/static/img/linkImg.png"/>
				</div>
				Class of 2019 President
			</button>
		</a>
	</div>
	<div class="col-md-3" id="grand-marshall">
		<a href="#">
			<button type="button" class="btn btn-primary">
				<div class="hidden-sm hidden-xs col-md-3"><img src="/static/img/linkImg.png"/></div>
				Class of 2020 President
			</button>
		</a>
	</div>
	<div class="col-md-3" id="grand-marshall">
		<a href="#">
			<button type="button" class="btn btn-primary">
				<div class="hidden-sm hidden-xs col-md-3"><img src="/static/img/linkImg.png"/></div>
				Class of 2018 Vice President
			</button>
		</a>
	</div>
	<div class="col-md-3" id="grand-marshall">
		<a href="#">
			<button type="button" class="btn btn-primary">
				<div class="hidden-sm hidden-xs col-md-3"><img src="/static/img/linkImg.png"/></div>
				Class of 2019 Vice President
			</button>
		</a>
	</div>
	<div class="col-md-3" id="grand-marshall">
		<a href="#">
			<button type="button" class="btn btn-primary">
				<div class="hidden-sm hidden-xs col-md-3"><img src="/static/img/linkImg.png"/></div>
				Class of 2020 Vice President
			</button>
		</a>
	</div>
	<div class="col-md-3" id="grand-marshall">
		<a href="#">
			<button type="button" class="btn btn-primary">
				<div class="hidden-sm hidden-xs col-md-3"><img src="/static/img/linkImg.png"/></div>
				Class of 2018 Senator
			</button>
		</a>
	</div>
	<div class="col-md-3" id="grand-marshall">
		<a href="#">
			<button type="button" class="btn btn-primary">
				<div class="hidden-sm hidden-xs col-md-3"><img src="/static/img/linkImg.png"/></div>
				Class of 2019 Senator
			</button>
		</a>
	</div>
	<div class="col-md-3" id="grand-marshall">
		<a href="#">
			<button type="button" class="btn btn-primary">
				<div class="hidden-sm hidden-xs col-md-3"><img src="/static/img/linkImg.png"/></div>
				Class of 2020 Senator
			</button>
		</a>
	</div>
	<div class="col-md-3" id="grand-marshall">
		<a href="#">
			<button type="button" class="btn btn-primary">
				<div class="hidden-sm hidden-xs col-md-3"><img src="/static/img/linkImg.png"/></div>
				Class of 2018 Representative
			</button>
		</a>
	</div>
	<div class="col-md-3" id="grand-marshall">
		<a href="#">
			<button type="button" class="btn btn-primary">
				<div class="hidden-sm hidden-xs col-md-3"><img src="/static/img/linkImg.png"/></div>
				Class of 2019 Representative
			</button>
		</a>
	</div>
	<div class="col-md-3" id="grand-marshall">
		<a href="#">
			<button type="button" class="btn btn-primary">
				<div class="hidden-sm hidden-xs col-md-3"><img src="/static/img/linkImg.png"/></div>
				Class of 2020 Representative
			</button>
		</a>
	</div>
	<div class="col-md-3" id="grand-marshall">
		<a href="#">
			<button type="button" class="btn btn-primary">
				<div class="hidden-sm hidden-xs col-md-3"><img src="/static/img/linkImg.png"/></div>
				Alumni President
			</button>
		</a>
	</div>
	<div class="col-md-3" id="grand-marshall">
		<a href="#">
			<button type="button" class="btn btn-primary">
				<div class="hidden-sm hidden-xs col-md-3"><img src="/static/img/linkImg.png"/></div>
				Alumni Vice President
			</button>
		</a>
	</div>
	<div class="col-md-3" id="grand-marshall">
		<a href="#">
			<button type="button" class="btn btn-primary">
				<div class="hidden-sm hidden-xs col-md-3"><img src="/static/img/linkImg.png"/></div>
				Alumni Secretary
			</button>
		</a>
	</div>
	<div class="col-md-3" id="grand-marshall">
		<a href="#">
			<button type="button" class="btn btn-primary">
				<div class="hidden-sm hidden-xs col-md-3"><img src="/static/img/linkImg.png"/></div>
				Alumni Treasurer
			</button>
		</a>
	</div>
	<div class="col-md-3" id="grand-marshall">
		<a href="#">
			<button type="button" class="btn btn-primary">
				<div class="hidden-sm hidden-xs col-md-3"><img src="/static/img/linkImg.png"/></div>
				Graduate Senator
			</button>
		</a>
	</div>
	<div class="col-md-3" id="grand-marshall">
		<a href="#">
			<button type="button" class="btn btn-primary">
				<div class="hidden-sm hidden-xs col-md-3"><img src="/static/img/linkImg.png"/></div>
				Graduate Representative
			</button>
		</a>
	</div>
{% endblock %}