{% extends 'polls/settings_base.html' %}

{% block content %}


<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            {% if question.question_owner == request.user %}
            <li class="active"><a data-toggle="tab" href="#choices" >Choices</a></li>
            <li><a data-toggle="tab" href="#voters">Voters</a></li>
            <li><a data-toggle="tab" href="#visibility">Visibility</a></li>
            <li><a data-toggle="tab" href="#emailsetting">Email</a></li>
            {% else %}
            <li class="active"><a data-toggle="tab" href="#general">General Info</a></li>
            {% endif %}
            <li><a data-toggle="tab" href="#historyinfo">History</a></li>
            {% if question.question_owner == request.user %}
            <li><a data-toggle="tab" href="#delete">Delete</a></li>
            {% endif %}
          </ul>  
        </div>

        <div class="tab-content">
          {% if question.question_owner == request.user %}
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane active" id="choices">
              <h3 class="page-header">Info and settings of {{ question.question_text }} </h3>
              <ul class="list-group">
                {% for item in items %}
                  {% if item.question == question %}
                  <li class="list-group-item ">
                      {% if item.image %}
                        <img src='/static/items/{{ item.image.url }}'/>
                      {% endif %}
                      {{ item }} 
                      {% if question.status == 1 %}
                      <a href="{% url 'polls:delchoice' item.id %}">
                          <div class="pull-right">
                            <span class="glyphicon glyphicon-remove"></span>
                          </div>
                    </a>
                        {% endif %}
                  </li>
                  {% endif %}
                {% endfor %}
        <li class="list-group-item">
            <form action="{% url 'polls:addchoice' question.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-lg-8">
                    <input type="text" class="form-control" name="choice" value="" size="50" placeholder="Option name" autofocus/>
                </div>
                <label for="image" class="btn btn-default"><span class="glyphicon glyphicon-camera"></span></label>
                <input style="display:none" id="image" type="file" name="docfile" accept="image/*">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </form>
        </li>
              </ul>
    </div>


    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="voters">
    <h3 class="page-header">Info and settings of {{ question.question_text }} </h3>
<div class="col-md-4">
    <b>Current Voters: </b>
    <form action="{% url 'polls:delvoter' question.id %}" method="post">
        {% csrf_token %}
        <select name="voters" class="form-control" multiple>
            {% for user in users %}
                {% if user in question.question_voters.all %}
                    <option value="{{ user.username }}">{{ user.username }}</option>
                {% endif %}
            {% endfor %}
        </select>  
        <br />
        {% if question.status == 1 %}
            <label for="email2">Email announcement</label>
            <input type="checkbox" name="email" id="email2" value="email" {% if question.emailDelete == True or question.emailDelete == None %} checked {% endif %}>
            <br />
            <input type="submit" class="btn btn-danger" value="Remove">
        {% endif %}
    </form> 
</div>     
<div class="col-md-4">
    <b>Add Voter: </b>
    <form action="{% url 'polls:addvoter' question.id %}" method="post">
        {% csrf_token %}
        <select name="voters" class="form-control" multiple>
            {% for user in users %}
                {% if user not in question.question_voters.all %}
                    <option value="{{ user.username }}">{{ user.username }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br />
        <label for="email">Email announcement</label>
        {% if question.emailInvite == True %}
            <input type="checkbox" name="email" id="email" value="email" checked="checked">
        {% else %}
            <input type="checkbox" name="email" id="email" value="email">
        {% endif %}
        <br />
        <input type="submit" class="btn btn-success" value="Invite">
    </form>
</div>
<div class="col-md-4">
    <b>Add Group: </b>
    <form action="{% url 'groups:addgroupvoters' question.id %}" method="post">
        {% csrf_token %}
        <select name="groups" class="form-control" multiple>
            {% for group in groups %}
                {% if group.owner == request.user %}
                    <option value="{{group.name}}">{{group.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br />
        <label for="email">Email announcement</label>
        {% if question.emailInvite == True %}
            <input type="checkbox" name="email" id="email" value="email" checked="checked">
        {% endif %}
        {% if question.emailInvite != True %}
            <input type="checkbox" name="email" id="email" value="email">
        {% endif %}
        <br />
        <input type="submit" class="btn btn-success" value="Invite">
        <input type="submit" class="btn btn-danger" value="Remove" formaction="{% url 'groups:removegroupvoters' question.id %}">
    </form>
</div>
</div>


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="visibility">
    <h3 class="page-header">Info and settings of {{ question.question_text }} </h3>
   <form class="form-group" method="post" action="{% url 'polls:setview' question.id %}" align="center">
        {% csrf_token %}
        <label for="viewpreferences">Visibility setting for this specific poll</label>
        <select name="viewpreferences" class="form-control">
            <option value="allpermit" {% if question.display_pref == 1 %} selected {% endif %} >Everyone can see all votes</option>
            <option value="voternames" {% if question.display_pref == 2 %} selected {% endif %} >Only names of voters will be shown</option>
            <option value="justnumber" {% if question.display_pref == 3 %} selected {% endif %}>Only numbers of voters will be shown</option>
            <option value="nothing" {% if question.display_pref == 4 %} selected {% endif %}>Everyone can only see his/her own votes</option>
        </select>  
        <br/><br/>

        <input type="submit" value="Submit" class="btn btn-success">
    </form>
</div>


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="emailsetting">
    <h3 class="page-header">Info and settings of {{ question.question_text }} </h3>

<div class="col-md-10">
    <form action="{%url 'polls:emailSettings' question.id%}" method="post">
        {% csrf_token %}
        <div class="col-md-6">
            <label for="emailInvite">Send email when inviting voters</label>
            <input type="checkbox" name="emailInvite" id="emailInvite" value="email" {% if question.emailInvite == True %} checked {% endif %}>
        </div>
        <div class="col-md-6">
            <label for="emailDelete">Send email when deleting voters</label>
            <input type="checkbox" name="emailDelete" id="emailDelete" value="email" {% if question.emailDelete %} checked {% endif %}>
        </div>
        <div class="col-md-6">
            <label for="emailStart">Send email when the poll starts</label>
            <input type="checkbox" name="emailStart" id="emailStart" value="email" {% if question.emailStart %} checked {% endif %}>
        </div>
        <div class="col-md-6">
            <label for="emailStop">Send email when the poll stops</label>
            <input type="checkbox" name="emailStop" id="emailStop" value="email" {% if question.emailStop %} checked {% endif %}>
        </div>
        <input type="submit" value="Save Settings" class="btn btn-success">
    </form>
</div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="delete">
    <h3 class="page-header">Info and settings of {{ question.question_text }} </h3>

<div class="panel panel-danger">
    <div class="panel-heading">Danger Zone</div>
    <div class="panel-body" align="center">
        <p>
            Make sure you are very certain before you make a decision. Once a poll is deleted, it cannot be recovered.<br /><br/>
            <span class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete"><span class="glyphicon glyphicon-trash"></span> Delete this poll</span>
        </p>

        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Confirm Delete Poll
                    </div>
                    <div class="modal-body">
                        Are you absolutely sure you want to delete this poll? All voting information, settings, etc. will be erased permanently. 
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger btn-ok" href="{% url 'polls:delpoll' question.id %}">Yes</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% else %}

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane active" id="general">
              <h3 class="page-header">General info of {{ question.question_text }} </h3>

              <h4>Visibility Info</h4>
              {% if question.display_pref == 1 %}
                    <p> Everyone can see all information about this vote. </p>
              {% elif question.display_pref == 2 %}
                    <p> Only names of voters will be shown. </p>
              {% elif question.display_pref == 3 %}
                    <p> Only numbers of voters will be shown. </p>
              {% else %}
                    <p> You can only see your own vote.</p>
              {% endif %}

<hr />
              <h4>Voter info<h4>

              {% if question.display_pref == 1 %}
                <!-- Everyone can see all information about this vote. -->
                <table class="table table-bordered">
                    {% for user in users %}
                        {% if user in question.question_voters.all %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
              {% elif question.display_pref == 2 %}
                <b> Voter Names: </b>
                <ul class="list-group">
                    {% for user in users %}
                        {% if user in question.question_voters.all %}
                        <li class="list-group-item">{{ user.username }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
              {% elif question.display_pref == 3 %}
                    <!-- Only numbers of voters will be shown. -->
                    <p>There are a total of {{question.question_voters.count}} unique voters.</p>
              
              {% else %}
                    <!-- You can only see your own vote.-->
                <table class="table table-bordered">
                    <tr>
                        <td>{{ request.user.username }}</td>
                        <td>{{ request.user.email }}</td>
                    </tr>
                </table>
              {% endif %}     
            </div>
            {% endif %}  
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="historyinfo">
      <h3 class="page-header">History votes of {{ question.question_text }} </h3>
        <!-- Display most recent vote -->
        {% if question.question_owner == request.user %}
            {% if latest_responses|length > 0 %}
                {% for response in latest_responses %}
                    {% if response.user.first_name == "" %}
                        <b>{{ response.user.username }}</b> (last voted on {{ response.timestamp }}) <br />
                    {% else %}
                        {{ response.user.first_name }} {{ response.user.last_name }} (<a href="mailto:{{ response.user.email }}">{{ response.user.email }}</a>)
                        (last voted on {{ response.timestamp }}) <br />
                    {% endif %}
                    <div >
                    {% for d in response.dictionary_set.all %}
                        {% for item in d.sorted_values %}
                        <button type="button" class="btn btn-default"> ({{ item.1 }}) {{ item.0 }} </button>
                        {% endfor %}
                    {% endfor %}
                    </div>
                {% endfor %}
                <br />
                <br />
                {% if previous_responses %}
                <button data-toggle="collapse" data-target="#history" class="btn btn-info" >Show/Hide More History</button>
                <div id="history" class="collapse">
                    <div class="well">
                    {% for response in previous_responses %}
                        <div class="btn-group">
                            <b>{{ response.user.username }}</b> (last voted on {{ response.timestamp }}) <br /> 
                            {% for d in response.dictionary_set.all %}
                                {% for item in d.sorted_values %}
                            <button type="button" class="btn btn-default"> ({{ item.1 }}) {{ item.0 }} </button>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                    </div>
                </div>
                {% endif %} <!--previous reoinses-->
        
            {% else %} 
                <p>No one has voted on this poll yet.</p>
            {% endif %} <!-- no response-->
            </div>
        {% else %} <!--question.question_owner != request.user-->
            {% if mostRecentResponse %}
                <div>
                    <b>{{ mostRecentResponse.user.username }}</b> (last voted on {{ mostRecentResponse.timestamp }}) <br /> 
                    {% for d in mostRecentResponse.dictionary_set.all %}
                        {% for item in d.sorted_values %}
                   <button type="button" class="btn btn-default">({{ item.1 }}) {{ item.0 }} </button>
                        {% endfor %}
                    {% endfor %}
                </div>
                <br />
                <br />
                {% if history %}
                <button data-toggle="collapse" data-target="#history" class="btn btn-info">Show/Hide History</button>
                <div id="history" class="collapse">
                    <div class="well">
                    {% for response in history %}
                        <ul class="list-group">
                            <b>{{ response.user.username }}</b> (last voted on {{ response.timestamp }}) <br /> 
                            {% for d in response.dictionary_set.all %}
                                {% for item in d.sorted_values %}
                            <li class="list-group-item">   ({{ item.1 }}) {{ item.0 }} </li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
            {% else %}
                <p>You haven't voted on this poll yet.</p>
            {% endif %}
        {% endif %}
            
        {% if question.question_owner != request.user %}
            <!-- Display other user votes -->
            {% if question.display_pref == 1 %}
                <p>{{latest_responses|length}} / {{question.question_voters.count}} have voted.</p>
                <p>The owner allows everyone to see all votes cast.</p>
                {% for response in latest_responses %}
                    {% if response.user != request.user %}
                        <div class="btn-group">
                            <b>{{ response.user.username }}</b> (last voted on {{ response.timestamp }}) <br /> 
                            {% for d in response.dictionary_set.all %}
                                {% for item in d.sorted_values %}
                            <button type="button" class="btn btn-default"> {{ item.1 }}) {{ item.0 }} </button>
                                {% endfor %}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% elif question.display_pref == 2 %}
                <p>{{latest_responses|length}} / {{question.question_voters.count}} have voted.</p>
                <p>The following voters have voted on this poll:</p>
                <ul>
                    {% for response in latest_responses %}
                        <li>{{response.user.username}} (last voted on {{ response.timestamp }})</li>
                    {% endfor %}
                </ul>
            {% elif question.display_pref == 3 %}
                <p>{{latest_responses|length}} / {{question.question_voters.count}} have voted.</p>
            {% endif %}
        {% endif %}
        
        <br/>

    </div>

</div>
  
{% endblock %}