{% extends 'polls/base.html' %}
{% block extra_head %}
<!--
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
-->

<script src='/static/js/qrcodejs/qrcode.js'></script>

<style>

/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}



/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
 
img{
    width:40px;
}
img:hover{
    width:80px;
}
    
  #feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }

  </style>
  <script>
  $(function() {
    $( "#selectable" ).selectable();
  });
  </script>




{% endblock %}
{% load staticfiles %}
{% block content %}


<div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        {% if question.question_owner == request.user %}
            <li class="active"><a data-toggle="tab" href="#choices" >Choices</a></li>
            <li><a data-toggle="tab" href="#voters">Voters</a></li>
            <li><a data-toggle="tab" href="#algorithm">Algorithms</a></li>
            <li><a data-toggle="tab" href="#visibility">Visibility</a></li>
            <li><a data-toggle="tab" href="#qr">Open/Close Poll</a></li>
            <li><a data-toggle="tab" href="#emailsetting">Email</a></li>
            <li><a data-toggle="tab" href="#historyinfo">History</a></li>
            <li><a data-toggle="tab" href="#delete">Delete</a></li>
            
        {% else %}  
        <li class="active"><a data-toggle="tab" href="#general">General Info</a></li>
        <li><a data-toggle="tab" href="#historyinfo">History</a></li>
        <li><a data-toggle="tab" href="#quit">Quit</a></li>
        {% endif %}
        
    </ul>  
</div>

<div class="tab-content">
{% if question.question_owner == request.user %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane active" id="choices">
        <h3 class="page-header">Info and settings of {{ question.question_text }} </h3>
        
        {% include 'polls/_add_choice.html' %}
    </div>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="voters">
        <h3 class="page-header">Info and settings of {{ question.question_text }} </h3>

        {% include 'polls/_invite_voters.html' %}
    </div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="algorithm">
    <h3 class="page-header">Info and settings of {{ question.question_text }} </h3>
        {% if question.status == 1 %}
            <form class="form-group" method="post" action="{% url 'polls:setAlgorithm' question.id %}" align="center">
                {% csrf_token %}
                {% if question.question_type == 1 %}
                    <label for="pollpreferences">Select a voting algorithm</label>
                    <select name="pollpreferences" class="form-control">
                    {% for item in poll_algorithms %}
                        <option value="{{ forloop.counter }}" {% if question.poll_algorithm == forloop.counter %} selected {% endif %}>
                            {{ item }}
                        </option>
                    {% endfor %}
                    </select>
                {% elif question.question_type == 2 %}
                    <label for="pollpreferences">Select an allocation method</label>
                    <select name="pollpreferences" class="form-control">
                    {% for item in alloc_methods %}
                        <option value="{{ forloop.counter }}" {% if question.poll_algorithm == forloop.counter %} selected {% endif %}>
                            {{ item }}
                        </option>
                    {% endfor %}
                    </select>
                {% endif %}
                <br/><br/>
                <input type="submit" value="Submit" class="btn btn-success">
            </form>
        {% else %}
            {% if question.question_type == 1 %}
                <!-- Display the current option -->
                {% for item in poll_algorithms %}
                    {% if question.poll_algorithm == forloop.counter %}
                        Poll Algorithm:　{{ item }}
                    {% endif %}
                {% endfor %}
            {% elif question.question_type == 2 %}
                <!-- Display the current option -->
                {% for item in alloc_methods %}
                    {% if question.poll_algorithm == forloop.counter %}
                        {{ item }}
                    {% endif %}
                {% endfor %}
                <br />
                {% if question.poll_algorithm == 3 %}    
                    <a href="{% url 'polls:viewAllocationOrder' question.id %}" class ="btn btn-dark" role="button">Set Allocation Order</a>
                {% endif %}
            {% endif %}
        {% endif %}
</div>
            
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="visibility">
    <h3 class="page-header">Info and settings of {{ question.question_text }} </h3>
   <form class="form-group" method="post" action="{% url 'polls:setview' question.id %}" align="center">
        {% csrf_token %}
        <label for="viewpreferences">Visibility setting for this specific poll</label>
        <select name="viewpreferences" class="form-control">
            <option value="always" {% if question.display_pref == 0 %} selected {% endif %} >Everyone can see all votes at all times</option>
            <option value="allpermit" {% if question.display_pref == 1 %} selected {% endif %} >Everyone can see all votes</option>
            <option value="voternames" {% if question.display_pref == 2 %} selected {% endif %} >Only names of voters will be shown</option>
            <option value="justnumber" {% if question.display_pref == 3 %} selected {% endif %}>Only numbers of voters will be shown</option>
            <option value="nothing" {% if question.display_pref == 4 %} selected {% endif %}>Everyone can only see his/her own votes</option>
        </select>  
        <br/><br/>

        <input type="submit" value="Submit" class="btn btn-success">
    </form>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="qr">
    <h3 class="page-header">Info and settings of {{ question.question_text }} </h3>
    {% if question.open == False %}
    <a href="{% url 'polls:openpoll' question.id %}" class="btn btn-success btn-ok">Open Poll</a>
    
    
    {% else %}
    <h4>Here is the QR Code for inviting users who have not logged in</h4>
    <div id="qrcode" style="margin-top:15px;"></div>
    <br >
    <a href="{% url 'polls:closepoll' question.id %}" class="btn btn-danger">Close Poll</a>
    <script type="text/javascript">
    var qrcode = new QRCode(document.getElementById("qrcode"), {
        width : 400,
        height : 400
    });
    qrcode.makeCode("{{request.get_host}}{% url 'polls:anonymousinvite' question.id %}");
    </script>

    {% endif %}
</div>


<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="emailsetting">
    <h3 class="page-header">Info and settings of {{ question.question_text }} </h3>

<div class="col-md-10">
    <form action="{%url 'polls:emailSettings' question.id%}" method="post">
        {% csrf_token %}
        <div class="col-md-6">
            <label for="emailInvite">Send email when inviting voters</label>
            <input type="checkbox" name="emailInvite" id="emailInvite" value="email" {% if question.emailInvite == True %} checked {% endif %}>
        </div>
        <div class="col-md-6">
            <label for="emailDelete">Send email when deleting voters</label>
            <input type="checkbox" name="emailDelete" id="emailDelete" value="email" {% if question.emailDelete %} checked {% endif %}>
        </div>
        <div class="col-md-6">
            <label for="emailStart">Send email when the poll starts</label>
            <input type="checkbox" name="emailStart" id="emailStart" value="email" {% if question.emailStart %} checked {% endif %}>
        </div>
        <div class="col-md-6">
            <label for="emailStop">Send email when the poll stops</label>
            <input type="checkbox" name="emailStop" id="emailStop" value="email" {% if question.emailStop %} checked {% endif %}>
        </div>
        <input type="submit" value="Save Settings" class="btn btn-success">
    </form>
</div>
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="delete">
    <h3 class="page-header">Info and settings of {{ question.question_text }} </h3>

<div class="panel panel-danger">
    <div class="panel-heading">Danger Zone</div>
    <div class="panel-body" align="center">
        <p>
            Make sure you are very certain before you make a decision. Once a poll is deleted, it cannot be recovered.<br /><br/>
            <span class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete"><span class="glyphicon glyphicon-trash"></span> Delete this poll</span>
        </p>

        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Confirm Delete Poll
                    </div>
                    <div class="modal-body">
                        Are you absolutely sure you want to delete this poll? All voting information, settings, etc. will be erased permanently. 
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger btn-ok" href="{% url 'polls:delpoll' question.id %}">Yes</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    
{% else %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="quit">
    <h3 class="page-header">Quit {{ question.question_text }} </h3>
    <div class="panel panel-danger">
    <div class="panel-heading">Danger Zone</div>
    <div class="panel-body" align="center">
        <p>
            Make sure you are very certain before you make a decision. Once you quit the poll, it cannot be recovered.<br /><br/>
            <span class="btn btn-danger" data-toggle="modal" data-target="#confirm-quit"><span class="glyphicon glyphicon-trash"></span> Quit this poll</span>
        </p>

        <div class="modal fade" id="confirm-quit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Confirm Quit Poll
                    </div>
                    <div class="modal-body">
                        Are you absolutely sure you want to quit this poll? All voting information, settings, etc. will be erased permanently. 
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger btn-ok" href="{% url 'polls:quitpoll' question.id %}">Yes</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane active" id="general">
              <h3 class="page-header">General info of {{ question.question_text }} </h3>

              <h4>Visibility Info</h4>
              {% if question.display_pref == 1 %}
                    <p> Everyone can see all information about this vote. </p>
              {% elif question.display_pref == 2 %}
                    <p> Only names of voters will be shown. </p>
              {% elif question.display_pref == 3 %}
                    <p> Only numbers of voters will be shown. </p>
              {% else %}
                    <p> You can only see your own vote.</p>
              {% endif %}

<hr />
              <h4>Voter info<h4>

              {% if question.display_pref == 1 %}
                <!-- Everyone can see all information about this vote. -->
                <table class="table table-bordered">
                    {% for user in users %}
                        {% if user in question.question_voters.all %}
                        <tr>
                            <td>{{ user.username }}</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </table>
              {% elif question.display_pref == 2 %}
                <b> Voter Names: </b>
                <ul class="list-group">
                    {% for user in users %}
                        {% if user in question.question_voters.all %}
                        <li class="list-group-item">{{ user.username }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
              {% elif question.display_pref == 3 %}
                    <!-- Only numbers of voters will be shown. -->
                    <p>There are a total of {{question.question_voters.count}} unique voters.</p>
              
              {% else %}
                    <!-- You can only see your own vote.-->
                <table class="table table-bordered">
                    <tr>
                        <td>{{ request.user.username }}</td>
                        <td>{{ request.user.email }}</td>
                    </tr>
                </table>
              {% endif %}     
            </div>
            {% endif %}  
                  
                  
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="historyinfo">
      <h3 class="page-header">History votes of {{ question.question_text }} </h3>
        <!-- Display most recent vote -->
        {% if question.question_owner == request.user %}
            {% if latest_responses|length > 0 %}
                {% for response in latest_responses %}
                    {% if response.user.first_name == "" %}
                        <b>{{ response.user.username }}</b> (last voted on {{ response.timestamp }}) <br />
                    {% else %}
                        {{ response.user.first_name }} {{ response.user.last_name }} (<a href="mailto:{{ response.user.email }}">{{ response.user.email }}</a>)
                        (last voted on {{ response.timestamp }}) <br />
                    {% endif %}
                    <div >
                    {% for d in response.dictionary_set.all %}
                        {% for item in d.sorted_values %}
                        <button type="button" class="btn btn-default"> ({{ item.1 }}) {{ item.0 }} </button>
                        {% endfor %}
                    {% endfor %}
                    </div>
                    {% if response.comment %}
                        <p>Comment: {{response.comment}}</p>
                    {% endif %}
                {% endfor %}
                <br />
                <br />
                {% if previous_responses %}
                <button data-toggle="collapse" data-target="#history" class="btn btn-info" >Show/Hide More History</button>
                <div id="history" class="collapse">
                    <div class="well">
                    {% for response in previous_responses %}
                        <div class="btn-group">
                            <b>{{ response.user.username }}</b> (last voted on {{ response.timestamp }}) <br /> 
                            {% for d in response.dictionary_set.all %}
                                {% for item in d.sorted_values %}
                            <button type="button" class="btn btn-default"> ({{ item.1 }}) {{ item.0 }} </button>
                                {% endfor %}
                            {% endfor %}
                            {% if response.comment %}
                        <p>Comment: {{response.comment}}</p>
                        {% endif %}
                        </div>
                        
                    {% endfor %}
                    </div>
                </div>
                {% endif %} <!--previous reoinses-->
        
            {% else %} 
                <p>No one has voted on this poll yet.</p>
            {% endif %} <!-- no response-->
            </div>
        {% else %} <!--question.question_owner != request.user-->
            {% if mostRecentResponse %}
                <div>
                    <b>{{ mostRecentResponse.user.username }}</b> (last voted on {{ mostRecentResponse.timestamp }}) <br /> 
                    {% for d in mostRecentResponse.dictionary_set.all %}
                        {% for item in d.sorted_values %}
                   <button type="button" class="btn btn-default">({{ item.1 }}) {{ item.0 }} </button>
                        {% endfor %}
                    {% endfor %}
                    {% if response.comment %}
                        <p>Comment: {{response.comment}}</p>
                    {% endif %}
                </div>
                <br />
                <br />
                {% if history %}
                <button data-toggle="collapse" data-target="#history" class="btn btn-info">Show/Hide History</button>
                <div id="history" class="collapse">
                    <div class="well">
                    {% for response in history %}
                        <ul class="list-group">
                            <b>{{ response.user.username }}</b> (last voted on {{ response.timestamp }}) <br /> 
                            {% for d in response.dictionary_set.all %}
                                {% for item in d.sorted_values %}
                            <li class="list-group-item">   ({{ item.1 }}) {{ item.0 }} </li>
                                {% endfor %}
                            {% endfor %}
                            {% if response.comment %}
                        <p>Comment: {{response.comment}}</p>
                        {% endif %}
                        </ul>
                    {% endfor %}
                    </div>
                </div>
                {% endif %}
            {% else %}
                <p>You haven't voted on this poll yet.</p>
            {% endif %}
        {% endif %}
            
        {% if question.question_owner != request.user %}
            <!-- Display other user votes -->
            {% if question.display_pref == 1 %}
                <p>{{latest_responses|length}} / {{question.question_voters.count}} have voted.</p>
                <p>The owner allows everyone to see all votes cast.</p>
                {% for response in latest_responses %}
                    {% if response.user != request.user %}
                        <div class="btn-group">
                            <b>{{ response.user.username }}</b> (last voted on {{ response.timestamp }}) <br /> 
                            {% for d in response.dictionary_set.all %}
                                {% for item in d.sorted_values %}
                            <button type="button" class="btn btn-default"> {{ item.1 }}) {{ item.0 }} </button>
                                {% endfor %}
                            {% endfor %}
                            {% if response.comment %}
                        <p>Comment: {{response.comment}}</p>
                        {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            {% elif question.display_pref == 2 %}
                <p>{{latest_responses|length}} / {{question.question_voters.count}} have voted.</p>
                <p>The following voters have voted on this poll:</p>
                <ul>
                    {% for response in latest_responses %}
                        <li>{{response.user.username}} (last voted on {{ response.timestamp }})</li>
                    {% endfor %}
                </ul>
            {% elif question.display_pref == 3 %}
                <p>{{latest_responses|length}} / {{question.question_voters.count}} have voted.</p>
            {% endif %}
        {% endif %}
        
        <br/>

    </div>

</div>


  
{% endblock %}