{% extends 'polls/base.html' %}
{% block extra_head %}
{% load qr_code %}

<script src='/static/js/qrcodejs/qrcode.js'></script>

<style>
/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  margin-top:53px;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
  
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}
    
  #feedback { font-size: 1.4em; }
  #selectable .ui-selecting { background: #FECA40; }
  #selectable .ui-selected { background: #F39814; color: white; }
  #selectable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
  #selectable li { margin: 3px; padding: 0.4em; font-size: 1.4em; height: 18px; }

  </style>
  <script>
  $(function() {
      $( "#selectable" ).selectable();
  });
  </script>
<script>
    $(function() {
        $(".auto_submit").change(function() {
            $("#choiceform").submit();
        });
    });
    $('#choiceform').submit(function(event){
        event.preventDefault();
        var url = $(location).attr('href');
        $.ajax({
            type:'post',
            url:url,
            data: $('#choiceform').serialize(),
            success: function(event){
                $('ul').load();
            }
        });
    });
</script>



{% endblock %}
{% load staticfiles %}
{% block content %}



<div class="col-xs-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
        {% if question.question_owner == request.user %}
            <li {% if request.session.setting == 8 %} class="active" {% endif %}><a data-toggle="tab" href="#title">Basic Info</a></li>
            <li {% if request.session.setting == 0 %} class="active" {% endif %}><a data-toggle="tab" href="#choices" >Choices</a></li>
            <li {% if request.session.setting == 2 %} class="active" {% endif %}><a data-toggle="tab" href="#algorithm">Algorithms and Visibility</a></li>
            <li {% if request.session.setting == 6 %} class="active" {% endif %}><a data-toggle="tab" href="#historyinfo">History</a></li>
			<li {% if request.session.setting == 7 %} class="active" {% endif %}><a data-toggle="tab" href="#recycle">Manage Deleted Votes</a></li>
           
            {% if question.m_poll == False %}
                <li {% if request.session.setting == 1 %} class="active" {% endif %}><a data-toggle="tab" href="#voters">Voters</a></li>
                <li {% if request.session.setting == 5 %} class="active" {% endif %}><a data-toggle="tab" href="#emailsetting">Email</a></li>
                <li {% if request.session.setting == 4 %} class="active" {% endif %}><a data-toggle="tab" href="#qr">Anonymous Voting</a></li>
                <li><a data-toggle="tab" href="#delete">Delete</a></li>
				<li><a data-toggle="tab" href="#duplicate">Duplicate</a></li>
				<li><a href="{% url 'polls:recordView' question.id %}">User Records</a></li>
            {% endif %}
            
        {% else %}  
            <li class="active"><a data-toggle="tab" href="#general">General Info</a></li>
            <li><a data-toggle="tab" href="#historyinfo">History</a></li>
            <li><a data-toggle="tab" href="#quit">Quit</a></li>
        {% endif %}
        
    </ul>  
</div>

<div class="col-xs-9 col-xs-offset-3 col-md-10 col-md-offset-2">
<p>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div {% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>
        {{ message }}
    </div>
    {% endfor %}
</ul>
{% endif %}
</p>
</div>

<div class="tab-content">
{% if question.question_owner == request.user %}
    <div class="col-xs-9 col-xs-offset-3 col-md-10 col-md-offset-2 main tab-pane {% if request.session.setting == 0 %}active{% endif %}" id="choices">
        <h3 class="page-header">Info and settings of {{ question.question_text }} </h3>
        
        {% include 'polls/_add_choice.html' %}
    </div>
    
    <!-- only for the regular vote-->
    {% if question.m_poll == False %}
    <div class="col-xs-9 col-xs-offset-3 col-md-10 col-md-offset-2 main tab-pane {% if request.session.setting == 1 %}active{% endif %}" id="voters">
        <h3 class="page-header">Info and settings of {{ question.question_text }} </h3>

        {% include 'polls/_invite_voters.html' %}
    </div>
    {% endif %}

<div class="col-xs-9 col-xs-offset-3 col-md-10 col-md-offset-2 main tab-pane {% if request.session.setting == 2 %}active{% endif %}" id="algorithm">
    <h3 class="page-header">Info and settings of {{ question.question_text }} </h3>
    
    {% include 'polls/_set_polling_settings.html' %}
</div>
            
<div class="col-xs-9 col-xs-offset-3 col-md-10 col-md-offset-2 main tab-pane {% if request.session.setting == 8 %}active{% endif %}" id="title">
    <h3 class="page-header">Info and settings of {{ question.question_text }} </h3>
    
    {% include 'polls/_change_title_and_desc.html' %}
	{% if request.user == question.question_owner and question.status != 1 %}
				<a  class="pull-right" href="{% url 'polls:recalcResult' question.id %}" style="position:relative; bottom:4px;right:5%;"><button type="button" class="btn btn-primary" >Recalculate Result</button></a>
		{% endif %}
</div>
    
<div class="col-xs-9 col-xs-offset-3 col-md-10 col-md-offset-2 main tab-pane {% if request.session.setting == 4 %}active{% endif %}" id="qr">
    <h3 class="page-header">Info and settings of {{ question.question_text }} </h3>

    <div id="qrcode" style="margin-top:15px;">
        {% with question.id|stringformat:"i" as question_id %}
                {% qr_from_text "https://opra.cs.rpi.edu/polls/"|add:question_id size="s" image_format="png" error_correction="L" %}
        {% endwith %}
    </div>
    <a href="#" id="showQRLink">Show Link</a>
    <a href="#" id="hideQRLink">Hide Link</a>
    <br />
    <h3 href="{% url 'polls:detail' question.id %}" id="QRLink">https://opra.cs.rpi.edu{% url 'polls:detail' question.id %}</h3>
    <br />
    <form class="form-group" method="post" action="{% url 'polls:changeType' question.id %}">
        {% csrf_token %}

        <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-default {% if question.open == 1 %}active{% endif %}">
            <input type="radio" name="openpoll" value="anon" {% if question.open == 1 %}checked{% endif %}>Anonymous</option>
            </label>
            <label class="btn btn-default {% if question.open == 0 %}active{% endif %}">
            <input type="radio" name="openpoll" value="invite" {% if question.open == 0 %}checked{% endif %}>Invited</option>
            </label>
            <label class="btn btn-default {% if question.open == 2 %}active{% endif %}">
            <input type="radio" name="openpoll" value="uninvite" {% if question.open == 2 %}checked{% endif %}>Users-Only</option>
            </label>
        </div>

        <input type="submit" value="Finish" class="btn btn-primary">
    </form>
</div>


<div class="col-xs-9 col-xs-offset-3 col-md-10 col-md-offset-2 main tab-pane {% if request.session.setting == 5 %}active{% endif %}" id="emailsetting">
<h3 class="page-header">Info and settings of {{ question.question_text }} </h3>

<div class="col-md-10">
    <form action="{% url 'polls:emailSettings' question.id %}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6" id="invite">
                <a href="#" id="inviteButtonShow">Show Invite Message</a>
                <a href="#" id="inviteButtonHide">Hide Invite Message</a>
                <br />
                <div id="editInvite" style="display:none;">
                    <label for="inviteSubject">Subject:</label> <br />
                    <input type="text" class="form-control" id="inviteSubject" name="inviteSubject" value="{{emailInvite.subject}}" maxlength="100" size="100" />
                    <label for="inviteMessage">Email body:</label> <br />
                    <textarea type="text" class="form-control" id="inviteMessage" name="inviteMessage" value="" maxlength="500">{{emailInvite.message}}</textarea> <br />
                </div>
                <label for="emailInvite">Send email when inviting voters</label>
                <input type="checkbox" name="emailInvite" id="emailInvite" value="email" {% if question.emailInvite == True %} checked {% endif %} onchange="this.form.submit()">
            </div>
            <div class="col-md-6">
                <a href="#" id="deleteButtonShow">Show Delete Message</a>
                <a href="#" id="deleteButtonHide">Hide Delete Message</a>
                <br />
                <div id="editDelete" style="display:none;">
                    <label for="deleteSubject">Subject:</label> <br />
                    <input type="text" class="form-control" id="deleteSubject" name="deleteSubject" value="{{emailDelete.subject}}" maxlength="100" size="100" />
                    <label for="deleteMessage">Email body:</label> <br />
                    <textarea type="text" class="form-control" id="deleteMessage" name="deleteMessage" value="" maxlength="500">{{emailDelete.message}}</textarea> <br />
                </div>
                <label for="emailDelete">Send email when deleting voters</label>
                <input type="checkbox" name="emailDelete" id="emailDelete" value="email" {% if question.emailDelete %} checked {% endif %} onchange="this.form.submit()">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a href="#" id="startButtonShow">Show Start Message</a>
                <a href="#" id="startButtonHide">Hide Start Message</a>
                <br />
                <div id="editStart" style="display:none;">
                    <label for="startSubject">Subject:</label> <br />
                    <input type="text" class="form-control" id="startSubject" name="startSubject" value="{{emailStart.subject}}" maxlength="100" size="100" />
                    <label for="startMessage">Email body:</label> <br />
                    <textarea type="text" class="form-control" id="startMessage" name="startMessage" value="" maxlength="500">{{emailStart.message}}</textarea> <br />
                </div>
                <label for="emailStart">Send email when the poll starts</label>
                <input type="checkbox" name="emailStart" id="emailStart" value="email" {% if question.emailStart %} checked {% endif %} onchange="this.form.submit()">
            </div>
            <div class="col-md-6">
                <a href="#" id="stopButtonShow">Show Stop Message</a>
                <a href="#" id="stopButtonHide">Hide Stop Message</a>
                <br />
                <div id="editStop" style="display:none;">
                    <label for="stopSubject">Subject:</label> <br />
                    <input type="text" class="form-control" id="stopSubject" name="stopSubject" value="{{emailStop.subject}}" maxlength="100" size="100" />
                    <label for="stopMessage">Email body:</label> <br />
                    <textarea type="text" class="form-control" id="stopMessage" name="stopMessage" value="" maxlength="500">{{emailStop.message}}</textarea> <br />
                </div>
                <label for="emailStop">Send email when the poll stops</label>
                <input type="checkbox" name="emailStop" id="emailStop" value="email" {% if question.emailStop %} checked {% endif %} onchange="this.form.submit()">
            </div>
        </div>
        <input type="submit" value="Save Settings" class="btn btn-success">
    </form>
    
    <form action="{%url 'polls:emailNow' question.id%}" method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <label for="subject">Subject:</label> <br />
                <input type="text" class="form-control" id="subject" name="subject" value="" maxlength="100" size="100" />
                <label for="message">Email body:</label> <br />
                <textarea type="text" class="form-control" id="message" name="message" value="" maxlength="500"></textarea> <br />
            </div>
        </div>
        <input type="submit" value="Send Now" class="btn btn-success">
    </form>
        
    <form action="{%url 'polls:emailOptions' question.id%}" method="post">
        {% csrf_token %}
        <input type="submit" value="Send Options" class="btn btn-success">
    </form>
</div>
</div>

<div class="col-xs-9 col-xs-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="delete">
    <h3 class="page-header">Info and settings of {{ question.question_text }} </h3>

<div class="panel panel-danger">
    <div class="panel-heading">Danger Zone</div>
    <div class="panel-body" align="center">
        <p>
            Make sure you are very certain before you make a decision. Once a poll is deleted, it cannot be recovered.<br /><br/>
            <span class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete"><span class="glyphicon glyphicon-trash"></span> Delete this poll</span>
        </p>

        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Confirm Delete Poll
                    </div>
                    <div class="modal-body">
                        Are you absolutely sure you want to delete this poll? All voting information, settings, etc. will be erased permanently. 
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger btn-ok" href="{% url 'polls:delpoll' question.id %}">Yes</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<div class="col-xs-9 col-xs-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="duplicate">
	<a class="btn btn-ok" href="{% url 'polls:duppoll' question.id %}">Duplicate Poll</a>
</div>

<div class="col-xs-9 col-xs-offset-3 col-md-10 col-md-offset-2 main tab-pane {% if request.session.setting == 7 %}active{% endif %}" id="recycle">
	{% include 'polls/_view_deleted_votes.html' %}
</div>
    
{% else %}
<div class="col-xs-9 col-xs-offset-3 col-md-10 col-md-offset-2 main tab-pane" id="quit">
    <h3 class="page-header">Quit {{ question.question_text }} </h3>
    <div class="panel panel-danger">
    <div class="panel-heading">Danger Zone</div>
    <div class="panel-body" align="center">
        <p>
            Make sure you are very certain before you make a decision. Once you quit the poll, it cannot be recovered.<br /><br/>
            <span class="btn btn-danger" data-toggle="modal" data-target="#confirm-quit"><span class="glyphicon glyphicon-trash"></span> Quit this poll</span>
        </p>

        <div class="modal fade" id="confirm-quit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Confirm Quit Poll
                    </div>
                    <div class="modal-body">
                        Are you absolutely sure you want to quit this poll? All voting information, settings, etc. will be erased permanently. 
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger btn-ok" href="{% url 'polls:quitpoll' question.id %}">Yes</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
    
<div class="col-xs-9 col-xs-offset-3 col-md-10 col-md-offset-2 main tab-pane active" id="general">
    {% include 'polls/_voters_generalinfo.html' %}
</div>
{% endif %}  
                                    
<div class="col-xs-9 col-xs-offset-3 col-md-10 col-md-offset-2 main tab-pane {% if request.session.setting == 6 %}active{% endif %}" id="historyinfo">
    {% include 'polls/_view_history.html' %}
</div>

<script>
    $("#editInvite").hide();
    $( "#inviteButtonHide" ).hide();
    $( "#inviteButtonShow" ).click(function(){
        $("#editInvite").show();
        $( "#inviteButtonShow" ).hide();
        $( "#inviteButtonHide" ).show();
    });
    $( "#inviteButtonHide" ).click(function(){
        $("#editInvite").hide();
        $( "#inviteButtonShow" ).show();
        $( "#inviteButtonHide" ).hide();
    });
    $("#editDelete").hide();
    $( "#deleteButtonHide" ).hide();
    $( "#deleteButtonShow" ).click(function(){
        $("#editDelete").show();
        $( "#deleteButtonShow" ).hide();
        $( "#deleteButtonHide" ).show();
    });
    $( "#deleteButtonHide" ).click(function(){
        $("#editDelete").hide();
        $( "#deleteButtonShow" ).show();
        $( "#deleteButtonHide" ).hide();
    });
    $("#editStart").hide();
    $( "#startButtonHide" ).hide();
    $( "#startButtonShow" ).click(function(){
        $("#editStart").show();
        $( "#startButtonShow" ).hide();
        $( "#startButtonHide" ).show();
    });
    $( "#startButtonHide" ).click(function(){
        $("#editStart").hide();
        $( "#startButtonShow" ).show();
        $( "#startButtonHide" ).hide();
    });
    $("#editStop").hide();
    $( "#stopButtonHide" ).hide();
    $( "#stopButtonShow" ).click(function(){
        $("#editStop").show();
        $( "#stopButtonShow" ).hide();
        $( "#stopButtonHide" ).show();
    });
    $( "#stopButtonHide" ).click(function(){
        $("#editStop").hide();
        $( "#stopButtonShow" ).show();
        $( "#stopButtonHide" ).hide();
    });
    $("#QRLink").hide();
    $("#hideQRLink").hide();
    $("#showQRLink").click(function(){
        $("#QRLink").show();
        $("#showQRLink").hide();
        $("#hideQRLink").show();
    });
    $("#hideQRLink").click(function(){
        $("#QRLink").hide();
        $("#showQRLink").show();
        $("#hideQRLink").hide();
    });
</script>


  
{% endblock %}