{% extends 'polls/base.html' %}

{% block content %}
    <div class="col-md-12">
        <h1>{{ question.question_text }}</h1>

        <ul>
        {% if question.question_owner == request.user %}
            {% for response in lastest_responses %}
                {{ response.user.username }} (last voted on {{ response.timestamp }}) <br /> 
                {% for d in response.dictionary_set.all %}
                    {% for item in d.items %}
                        <li>{{ item.0 }} : {{ item.1}}</li>
                    {% endfor %}
                {% endfor %}
            {% endfor %}
           
            
        {% else %}
            {{ mostRecentResponse.user.username }} (last voted on {{ mostRecentResponse.timestamp }}) <br />
            {% for d in mostRecentResponse.dictionary_set.all %}
                {% for item in d.items %}
                   <li>{{ item.0 }} : {{ item.1}}</li>
                {% endfor %}
            {% endfor %}
            
            <button data-toggle="collapse" data-target="#history" class="btn btn-info">History</button>

            <div id="history" class="collapse">
                {% for response in history %}
                    {{ response.user.username }}: {{ response.timestamp }}
                    {% for d in response.dictionary_set.all %}
                        {% for item in d.items %}
                           <li>{{ item.0 }} : {{ item.1}}</li>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            </div>
            
        {% endif %}


        </ul>



        <a href="{% url 'polls:index' %}"> Return Home</a>
    </div>
{% endblock %}