{% extends 'polls/base.html' %}

{% block content %}
    <div class="col-md-12">
        <h1>{{ question.question_text }}</h1>

        {% if cand_map %}
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Poll Results</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Poll Mechanism</th>
                        {% for option in cand_map.values %}
                            <th>{{ option }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Borda</td>
                        {% for score in vote_results.0.values %}
                            <td>{{ score }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td>Plurality</td>
                        {% for score in vote_results.1.values %}
                            <td>{{ score }}</td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
        {% endif %}
        
        <ul>
        {% if question.question_owner == request.user %}
            {% if latest_responses|length > 0 %}
                {% for response in latest_responses %}
                    {{ response.user.username }} (last voted on {{ response.timestamp }}) <br /> 
                    {% for d in response.dictionary_set.all %}
                        {% for item in d.items %}
                            <li>{{ item.0 }} : {{ item.1}}</li>
                        {% endfor %}
                    {% endfor %}
                {% endfor %}

                {% if history %}
                <button data-toggle="collapse" data-target="#history" class="btn btn-info">History</button>
                <div id="history" class="collapse">
                    {% for response in previous_responses %}
                        {{ response.user.username }}: {{ response.timestamp }}
                        {% for d in response.dictionary_set.all %}
                            {% for item in d.items %}
                               <li>{{ item.0 }} : {{ item.1}}</li>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}
            {% else %}
                <p>No one has voted on this poll yet.</p>
            {% endif %}
        {% else %}
            {% if mostRecentResponse != None %}
                {{ mostRecentResponse.user.username }} (last voted on {{ mostRecentResponse.timestamp }}) <br />
                {% for d in mostRecentResponse.dictionary_set.all %}
                    {% for item in d.items %}
                       <li>{{ item.0 }} : {{ item.1}}</li>
                    {% endfor %}
                {% endfor %}

                {% if history %}
                <button data-toggle="collapse" data-target="#history" class="btn btn-info">History</button>
                <div id="history" class="collapse">
                    {% for response in history %}
                        {{ response.user.username }}: {{ response.timestamp }}
                        {% for d in response.dictionary_set.all %}
                            {% for item in d.items %}
                               <li>{{ item.0 }} : {{ item.1}}</li>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </div>
                {% endif %}
            {% else %}
                <p>You haven't voted on this poll yet.</p>
            {% endif %}
            <p></p>
            {% if question.question_owner.userprofile.displayPref == 1 %}
                <p>The owner allows everyone to see all votes cast.</p>
                {% for response in latest_responses %}
                    {% if response.user == request.user %}
                    {% else %}
                        {{ response.user.username }} (last voted on {{ response.timestamp }}) <br /> 
                        {% for d in response.dictionary_set.all %}
                            {% for item in d.items %}
                                <li>{{ item.0 }} : {{ item.1}}</li>
                            {% endfor %}
                        {% endfor %}
                    {%endif%}
                {% endfor %}
            {% endif %}
            {% if question.question_owner.userprofile.displayPref == 2 %}
                <p>The following voters have voted on this poll:</p>
                <ul>
                    {% for response in latest_responses %}
                        <li>{{response.user.username}} (last voted on {{ response.timestamp }})</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if question.question_owner.userprofile.displayPref == 3 %}
                <p>There are a total of {{question.question_voters.count}} unique voters. {{latest_responses.count}} of them have voted.</p>
            {% endif %}
        {% endif %}
        </ul>

        <a href="{% url 'polls:index' %}"> Return Home</a>
    </div>
{% endblock %}