{% extends 'polls/base.html' %}
{% load mathfilters %}
{% load staticfiles %}
{% block extra_head %}

{% endblock %}

{% block content %}
<br/>

<a href="{% url 'polls:downloadrecord' question.id %}" class= "btn btn-primary" download>Download as csv</a>

<ul>
	{% for record in user_records%}
	{% for r in record %}
	{% if forloop.counter != 2%}
	<p>{{r}}</p>
	{% endif %}
	{% if forloop.counter == 1%}
	<p>Accessed from {{record.1}}</p>
	<a data-toggle="collapse" data-target="#detail{{forloop.parentloop.counter}}">Show/Hide Detail</a>
	<div id="detail{{forloop.parentloop.counter}}" class="collapse">
	{% endif %}
	
	
	{% endfor %}
	</div>
	<p></p>
	{% endfor %}
</ul>
{% endblock %}