{% extends 'polls/base.html' %}
{% load mathfilters %}
{% load staticfiles %}
{% block extra_head %}

{% endblock %}

{% block content %}
<br/>

<a href="{% url 'polls:downloadrecord' question.id %}" class= "btn btn-primary">Download as csv</a>
<a href="{% url 'polls:downloadpolls' %}" class= "btn btn-primary">Download polls</a>
<a href="{% url 'polls:downloadparticipants' %}" class= "btn btn-primary">Download participants</a>
<a href="{% url 'polls:downloadallrecords' %}" class= "btn btn-primary">Download all vote records</a>

<ul>
	{% for record in user_records%}
	<p>{{record}}</p>

	
	{% endfor %}
</ul>
{% endblock %}