{% extends 'polls/base.html' %}


{% block content %}

<!-- polls created by you is included in index2 -->
<!-- for created by you section -->
<div class="container" >
    <div name="created" class="panel panel-default">
        <div class="panel-body">
        <table style = "width:100%;" class="table" name="created">
            <thead>
                <tr>
                    <th>
		                  Regular polls created by you ({{ polls_created|length }})	
                    </th>
                    <th></th>
                    <th>
                            <a href="{% url 'polls:AddStep1' %}" style='font-size:60%; float:right;' class="btn btn-yellow">
                                    <span class="glyphicon glyphicon-plus"></span>
                            </a>
                    </th>
                </tr>
            </thead>

            {% for question in polls_created %}
                <tr>
                    <td>    
                        <a href="{% url 'polls:pollinfo' question.id %}" data-toggle="tooltip" data-placement="right" title="Description: {%if question.question_desc %} {{question.question_desc}} {%else%} None. {%endif%}">{{ question.question_text }}</a>
                    </td>
                    <td style="vertical-align:middle">
                        {% if question.status == 2 %}
                            <a href="{% url 'polls:detail' question.id %}" class ="btn btn-dark" role="button" >Vote</a>
                            {% if question.display_pref == 0 and question.question_type == 1 %}
                                <a href="{% url 'polls:voteresults' question.id %}" class ="btn btn-dark" role="button" >Current Winners</a>
                            {% endif %}
                        {% endif %}
                    </td>
                    {% if question.status == 1 %}
                        <td style="vertical-align:middle">
                            <div class="start-icon">
                            <i class="fa fa-play" aria-hidden="true" data-toggle="modal" data-target="#confirm-start{{ question.id }}"></i>
                            </div>
                        </td>

                        <div class="modal fade" id="confirm-start{{ question.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        Confirm Start Poll {{ question.question_text }}
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to start poll {{ question.question_text }}? Once a poll is started, you cannot modify the settings or remove voters.
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{% url 'polls:start' question.id %}">
                                            <button type="button" class="btn-large btn-success btn-ok">Yes</button>
                                        </a>
                                        <button type="button" class="btn-large btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elif question.status == 2 %}
                        <td style="vertical-align:middle">
                            <div class="stop-icon">
                            <i class="fa fa-stop" aria-hidden="true" data-toggle="modal" data-target="#confirm-stop{{ question.id }}"></i>
                            </div>
                        </td>

                        <div class="modal fade" id="confirm-stop{{ question.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        Confirm Stop Poll
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you want to stop this poll? Once a poll is stopped, no more votes can be changed.
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{% url 'polls:stop' question.id %}">
                                            <button type="button" class="btn-large  btn-ok btn-danger" style="font-size:100%;">Yes</button>
                                        </a>
                                        <button type="button" class="btn-large btn-default" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% elif question.status == 3 %}
                            <td>
                                {% if question.question_type == 1 %}
                                    <a style="float:right;margin:10px" href="{% url 'polls:voteresults' question.id %}" >
                                        {{question.winner}} wins
                                    </a> 
                                {% elif question.question_type == 2 %}
                                    Allocation Complete: <br />
                                    
                                    {% for order_item in question.allocationvoter_set.all %}
                                        {% if order_item.response.allocation %}
                                            {{ order_item.user.username }}: {{ order_item.response.allocation.item_text }} 
                                            <br />
                                        {% endif %}
                                    {% endfor %}
                                
                                    <a href="{% url 'polls:allocate_results' question.id %}" >
                                        <span class = "glyphicon glyphicon-info-sign" href="{% url 'polls:allocate_results' question.id %}"></span>
                                    </a> 
                                {% endif %}
                            </td>

                    {% endif %}
                </tr>
            {% endfor %}
        </table>
        </div>    
    </div><!-- end for created by you section-->
        
    <div name="participated" class="panel panel-default">
        <div class="panel-body">
        <table class="table" >
            <thead>
                <tr>
                    <th>
                        Participated in	({{ polls_participated|length }})	
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            {% for question in polls_participated %}
            <tr>
                <td>
                    <a href="{% url 'polls:pollinfo' question.id %}" data-toggle="tooltip" data-placement="right" title="Description: {%if question.question_desc %} {{question.question_desc}} {%else%} None. {%endif%}"> 
                    {{ question.question_text }}
                    </a>
                </td>
                <td>
                    {% if question.status == 2 %}
                        <a href="{% url 'polls:detail' question.id %}" class ="btn btn-dark" role="button">Vote</a>
                        {% if question.display_pref == 0 %}
                            <a href="{% url 'polls:voteresults' question.id %}" class ="btn btn-dark" role="button" >Current Winners</a>
                        {% endif %}
                    {% endif %}
                </td>
                {% if question.status == 1 %}
                    <td>Poll not started</td>
                {% elif question.status == 2 %}
                    <td>In session</td>
                {% elif question.status == 3 %}
                    <td>
                        {% if question.question_type == 1 %}
                            <a style="float:right;margin:10px" href="{% url 'polls:voteresults' question.id %}" >
                            {{question.winner}} wins
                        </a> 
                        {% elif question.question_type == 2 %}
                            Allocation Complete: <br />
                            {% for order_item in question.allocationvoter_set.all %}
                                {% if order_item.response.allocation %}
                                    {{ order_item.user.username }}: {{ order_item.response.allocation.item_text }} 
                                    <br />
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </td>
                {% endif %}
                </tr>
            {% endfor %} 
        </table>
        </div><!-- end for participated in section-->
    </div>
</div>
{% endblock %}