{% extends 'polls/settings_base.html' %}

{% block subcontent %}
<h3 class="page-header">Settings of {{ question.question_text }} </h3>
{% if question.question_owner == request.user %}
<div class="col-md-4">
    <b>Current Voters: </b>
    <form action="{% url 'polls:delvoter' question.id %}" method="post">
        {% csrf_token %}
        <select name="voters" class="form-control" multiple>
            {% for user in users %}
                {% if user in question.question_voters.all %}
                    <option value="{{ user.username }}">{{ user.username }}</option>
                {% endif %}
            {% endfor %}
        </select>  
        <br />
        {% if question.status == 1 %}
            <input type="submit" class="btn btn-danger" value="Remove">
        {% endif %}
    </form> 
</div>     
<div class="col-md-4">
    <b>Add Voter: </b>
    <form action="{% url 'polls:addvoter' question.id %}" method="post">
        {% csrf_token %}
        <select name="voters" class="form-control" multiple>
            {% for user in users %}
                {% if user not in question.question_voters.all %}
                    <option value="{{ user.username }}">{{ user.username }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br />
        <label for="email">Email announcement</label>
        {% if question.send_email == True %}
            <input type="checkbox" name="email" id="email" value="email" checked="checked">
        {% else %}
            <input type="checkbox" name="email" id="email" value="email">
        {% endif %}
        <br />
        <input type="submit" class="btn btn-success" value="Invite">
    </form>      
</div>
<div class="col-md-4">
    <b>Add Members of A Group to Poll: </b>
    <form action="{% url 'groups:addgroupvoters' question.id %}" method="post">
        {% csrf_token %}
        <select name="groups" class="form-control" multiple>
            {% for group in groups %}
                {% if group.owner == request.user %}
                    <option value="{{group.name}}">{{group.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br />
        <label for="email">Email announcement</label>
        <input type="checkbox" id="email" name="email" value="email" checked="checked">
        <br />
        <input type="submit" class="btn btn-success" value="Invite">
        <input type="submit" class="btn btn-danger" value="Remove" formaction="{% url 'groups:removegroupvoters' question.id %}">
    </form>
</div>
{% else %}
    <p>You are not the owner of this poll. Click <a href="{% url 'polls:pollinfo' question.id %}">here</a> to access poll info page.</p>
{% endif %}
{% endblock %}