{% extends 'polls/settings_base.html' %}

{% block subcontent %}
<h3 class="page-header">Settings of {{ question.question_text }} </h3>
{% if question.question_owner == request.user %}
    <form class="form-group" method="post" action="{% url 'polls:setview' question.id %}" align="center">
        {% csrf_token %}
        <label for="viewpreferences">Visibility setting for this specific poll</label>
        <select name="viewpreferences" class="form-control">
            <option value="allpermit">Everyone can see all votes</option>
            <option value="voternames">Only names of voters will be shown</option>
            <option value="justnumber">Only numbers of voters will be shown</option>
            <option value="nothing">Everyone can only see his/her own votes</option>
        </select>  
        <br/><br/>
        <input type="submit" value="Submit" class="btn btn-success">
    </form>
{% else %}
    <p>You are not the owner of this poll. Click <a href="{% url 'polls:pollinfo' question.id %}">here</a> to access the poll info page.</p>
{% endif %}
{% endblock %}