{% extends 'polls/settings_base.html' %}

{% block content %}

{% if question.question_owner == request.user %}
<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'polls:setting_step1' question.id %}" >Choices</a></li>
            <li><a href="{% url 'polls:setting_step2' question.id %}">Voters</a></li>
            <li><a href="{% url 'polls:setting_step3' question.id %}">Poll Visibility</a></li>
            <li><a href="{% url 'polls:setting_step4' question.id %}">Email</a></li>
            <li class="active"><a href="{% url 'polls:setting_step5' question.id %}">Delete</a></li>
          </ul>  
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h3 class="page-header">Settings of {{ question.question_text }} </h3>

<div class="panel panel-danger">
    <div class="panel-heading">Danger Zone</div>
    <div class="panel-body" align="center">
        <p>
            Make sure you are very certain before you make a decision. Once a poll is deleted, it cannot be recovered.<br /><br/>
            <span class="btn btn-danger" data-toggle="modal" data-target="#confirm-delete"><span class="glyphicon glyphicon-trash"></span> Delete this poll</span>
        </p>

        <div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Confirm Delete Poll
                    </div>
                    <div class="modal-body">
                        Are you absolutely sure you want to delete this poll? All voting information, settings, etc. will be erased permanently. 
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-danger btn-ok" href="{% url 'polls:delpoll' question.id %}">Yes</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% else %}
<p>You are not the owner of this poll. Click <a href='{% url 'polls:pollinfo' question.id %}'>here</a> to access poll info page.</p>
{% endif %}
{% endblock %}