{% extends 'polls/settings_base.html' %}

{% block content %}

{% if question.question_owner == request.user %}

<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'polls:setting_step1' question.id %}" >Choices</a></li>
            <li><a href="{% url 'polls:setting_step2' question.id %}">Voters</a></li>
            <li class="active"><a href="{% url 'polls:setting_step3' question.id %}">Poll Visibility</a></li>
            <li><a href="{% url 'polls:setting_step4' question.id %}">Reminder Email</a></li>
            <li><a href="{% url 'polls:setting_step5' question.id %}">Delete</a></li>
          </ul>  
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h3 class="page-header">Settings of {{ question.question_text }} </h3>
   <form class="form-group" method="post" action="{% url 'polls:setview' question.id %}" align="center">
        {% csrf_token %}
        <label for="viewpreferences">Visibility setting for this specific poll</label>
        <select name="viewpreferences" class="form-control">
            <option value="allpermit" {% if question.display_pref == 1 %} selected {% endif %} >Everyone can see all votes</option>
            <option value="voternames" {% if question.display_pref == 2 %} selected {% endif %} >Only names of voters will be shown</option>
            <option value="justnumber" {% if question.display_pref == 3 %} selected {% endif %}>Only numbers of voters will be shown</option>
            <option value="nothing" {% if question.display_pref == 4 %} selected {% endif %}>Everyone can only see his/her own votes</option>
        </select>  
        <br/><br/>

        <input type="submit" value="Submit" class="btn btn-success">
    </form>
</div>
{% else %}
    <p>You are not the owner of this poll. Click <a href="{% url 'polls:pollinfo' question.id %}">here</a> to access the poll info page.</p>
{% endif %}
{% endblock %}