{% extends 'polls/settings_base.html' %}

{% block content %}

{% if question.question_owner == request.user %}

<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'polls:setting_step1' question.id %}" >Choices</a></li>
            <li class="active"><a href="{% url 'polls:setting_step2' question.id %}">Voters</a></li>
            <li><a href="{% url 'polls:setting_step3' question.id %}">Poll Visibility</a></li>
            <li><a href="{% url 'polls:setting_step4' question.id %}">Reminder Email</a></li>
            <li><a href="{% url 'polls:setting_step5' question.id %}">Delete</a></li>
          </ul>  
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h3 class="page-header">Settings of {{ question.question_text }} </h3>
<div class="col-md-4">
    <b>Current Voters: </b>
    <form action="{% url 'polls:delvoter' question.id %}" method="post">
        {% csrf_token %}
        <select name="voters" class="form-control" multiple>
            {% for user in users %}
                {% if user in question.question_voters.all %}
                    <option value="{{ user.username }}">{{ user.username }}</option>
                {% endif %}
            {% endfor %}
        </select>  
        <br />
        {% if question.status == 1 %}
            <input type="submit" class="btn btn-danger" value="Remove">
        {% endif %}
    </form> 
</div>     
<div class="col-md-4">
    <b>Add Voter: </b>
    <form action="{% url 'polls:addvoter' question.id %}" method="post">
        {% csrf_token %}
        <select name="voters" class="form-control" multiple>
            {% for user in users %}
                {% if user not in question.question_voters.all %}
                    <option value="{{ user.username }}">{{ user.username }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br />
        <label for="email">Email announcement</label>
        {% if question.send_email == True %}
            <input type="checkbox" name="email" id="email" value="email" checked="checked">
        {% else %}
            <input type="checkbox" name="email" id="email" value="email">
        {% endif %}
        <br />
        <input type="submit" class="btn btn-success" value="Invite">
    </form>
</div>
<div class="col-md-4">
    <b>Add Group: </b>
    <form action="{% url 'groups:addgroupvoters' question.id %}" method="post">
        {% csrf_token %}
        <select name="groups" class="form-control" multiple>
            {% for group in groups %}
                {% if group.owner == request.user %}
                    <option value="{{group.name}}">{{group.name}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br />
        <label for="email">Email announcement</label>
        {% if question.send_email == True %}
            <input type="checkbox" name="email" id="email" value="email" checked="checked">
        {% endif %}
        {% if question.send_email != True %}
            <input type="checkbox" name="email" id="email" value="email">
        {% endif %}
        <br />
        <input type="submit" class="btn btn-success" value="Invite">
        <input type="submit" class="btn btn-danger" value="Remove" formaction="{% url 'groups:removegroupvoters' question.id %}">
    </form>
</div>
</div>
              
{% else %}
    <p>You are not the owner of this poll. Click <a href="{% url 'polls:pollinfo' question.id %}">here</a> to access poll info page.</p>
{% endif %}
{% endblock %}