{% extends 'polls/settings_base.html' %}

{% block subcontent %}
<h3 class="page-header">Settings of {{ question.question_text }} </h3>
{% if question.question_owner == request.user %}
<ul class="list-group">
    {% for item in items %}
        {% if item.question == question %}
            <li class="list-group-item ">
            {{ item }} 
            {% if question.status == 1 %}
                <a href="{% url 'polls:delchoice' item.id %}">
                    <div class="pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </div>
                </a>
            {% endif %}
            </li>
        {% endif %}
    {% endfor %}
    <li class="list-group-item">
        <form action="{% url 'polls:addchoice' question.id %}" method="post" >
        {% csrf_token %}
        <input type="text" name="choice" value="" size="50" />
        <button type="submit" class="btn btn-primary">
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        </form>
    </li>
</ul>
{% else %}
    <p>You are not the owner of this poll. Click <a href="{% url 'polls:pollinfo' question.id %}">here</a> to access poll info page.</p>
{% endif %}    
{% endblock %}