{% extends 'polls/settings_base.html' %}

{% block content %}

{% if question.question_owner == request.user %}

<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'polls:setting_step1' question.id %}" >Choices</a></li>
            <li><a href="{% url 'polls:setting_step2' question.id %}">Voters</a></li>
            <li><a href="{% url 'polls:setting_step3' question.id %}">Poll Visibility</a></li>
            <li class="active"><a href="{% url 'polls:setting_step4' question.id %}">Email</a></li>
            <li><a href="{% url 'polls:setting_step5' question.id %}">Delete</a></li>
          </ul>  
</div>

<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h3 class="page-header">Settings of {{ question.question_text }} </h3>

<div class="col-md-10">
    <form action="{%url 'polls:emailSettings' question.id%}" method="post">
        {% csrf_token %}
        <div class="col-md-6">
            <label for="emailInvite">Send email when inviting voters</label>
            <input type="checkbox" name="emailInvite" id="emailInvite" value="email" {% if question.emailInvite == True %} checked {% endif %}>
        </div>
        <div class="col-md-6">
            <label for="emailDelete">Send email when deleting voters</label>
            <input type="checkbox" name="emailDelete" id="emailDelete" value="email" {% if question.emailDelete %} checked {% endif %}>
        </div>
        <div class="col-md-6">
            <label for="emailStart">Send email when the poll starts</label>
            <input type="checkbox" name="emailStart" id="emailStart" value="email" {% if question.emailStart %} checked {% endif %}>
        </div>
        <div class="col-md-6">
            <label for="emailStop">Send email when the poll stops</label>
            <input type="checkbox" name="emailStop" id="emailStop" value="email" {% if question.emailStop %} checked {% endif %}>
        </div>
        <input type="submit" value="Save Settings" class="btn btn-success">
    </form>
</div>
<!-- <div class="col-md-6">
    <form action="{% url 'polls:sendEmail' question.id %}" method="post">
        {% csrf_token %}
        <label for="email_txt">Send email to group now:</label>
        <br/>
        <textarea class="form-control" maxlength="500" name="email_txt" id="email_txt">{{ question.reminder_text }}</textarea>
        <br/>
        <input type="submit" value="Send" class="btn btn-success">
    </form>
</div>

<div class="col-md-6">
    <form action="{% url 'polls:sendEmail' question.id %}" method="post">
        {% csrf_token %}
        <label for="email_txt">Set reminder email:</label>
        <br/>
        <textarea class="form-control" maxlength="500" name="email_txt" id="email_txt">{{ question.reminder_text }}</textarea>
        <br/>
        <div class="col-md-6">
            <label for="email_dte">Reminder date:</label>
            <br/>
            <input class="form-control" name="email_dte" id="email_dte" type="date"></input>
            <br/>
        </div>
        <div class="col-md-6">
            <label for="email_tme">Reminder time:</label>
            <br/>
            <input class="form-control" name="email_tme" id="email_tme" type="time"></input>
            <br/>
        </div>
        <input type="submit" value="Set" class="btn btn-success">
    </form>
</div> -->
</div>
{% else %}
    <p>You are not the owner of this poll. Click <a href='{% url 'polls:pollinfo' question.id %}'>here</a> to access poll info page.</p>
{% endif %}
{% endblock %}