{% extends 'polls/settings_base.html' %}

{% block subcontent %}
<h3 class="page-header">Settings of {{ question.question_text }} </h3>
{% if question.question_owner == request.user %}
<div class="col-md-6">
    <form action="{% url 'polls:sendEmail' question.id %}" method="post">
        {% csrf_token %}
        <label for="email_txt">Send email to group now:</label>
        <br/>
        <textarea class="form-control" maxlength="500" name="email_txt" id="email_txt">{{ question.reminder_text }}</textarea>
        <br/>
        <input type="submit" value="Send" class="btn btn-success">
    </form>
</div>
<div class="col-md-6">
    <form action="{% url 'polls:sendEmail' question.id %}" method="post">
        {% csrf_token %}
        <label for="email_txt">Set reminder email:</label>
        <br/>
        <textarea class="form-control" maxlength="500" name="email_txt" id="email_txt">{{ question.reminder_text }}</textarea>
        <br/>
        <div class="col-md-6">
            <label for="email_dte">Reminder date:</label>
            <br/>
            <input class="form-control" name="email_dte" id="email_dte" type="date"></input>
            <br/>
        </div>
        <div class="col-md-6">
            <label for="email_tme">Reminder time:</label>
            <br/>
            <input class="form-control" name="email_tme" id="email_tme" type="time"></input>
            <br/>
        </div>
        <input type="submit" value="Set" class="btn btn-success">
    </form>
</div>
{% else %}
    <p>You are not the owner of this poll. Click <a href='{% url 'polls:pollinfo' question.id %}'>here</a> to access poll info page.</p>
{% endif %}
{% endblock %}