{% extends 'polls/base.html' %}

{% block content %}
<div class="col-md-12">
<h1>Settings for {{ question.question_text }}</h1>
<p><b>Created by</b> {{ question.question_owner }}</p>

{% if question.question_owner == request.user %}
<h3>Voters</h3>
<hr />
<p>
    <b>Current Voters:</b>
    <select name="voters" class="form-control" multiple>
    {% for user in users %}
        {% if user in question.question_voters.all %}
             <option value="{{ user.username }}">{{ user.username }}</option>
        {% endif %}
    {% endfor %}
    </select>
        
</p>      
<p>
    <b>Add Voter: </b>
    <form action="{% url 'polls:addvoter' question.id %}" method="post">
        {% csrf_token %}
        <select name="voters" class="form-control" multiple>
        {% for user in users %}
            {% if user not in question.question_voters.all %}
                 <option value="{{ user.username }}">{{ user.username }}</option>
            {% endif %}
        {% endfor %}
        </select>
        <input type="submit" class="btn btn-success" value="Invite">
    </form>      
</p> 

<h3>Choices</h3>
<hr />
<p>
    {% for item in items %}
        {% if item.question == question %}
            <li>{{ item }}</li>
        {% endif %}
    {% endfor %}
</p>
{% endif %}

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</div>
{% endblock %}