{% extends 'polls/base_global.html' %}
{% load staticfiles %}

{% block extra_head %}
<style type="text/css">
    #cy {
        width: 500px;
        height: 500px;
        border: 1px solid lightgray;
    }
</style>
<script src="/static/js/cytoscape.min.js"></script>
<script src='/static/js/colorPicker.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
<script>
    function createGraphK1 (height, breadth, length, safeDist, left1, down1, nums, names, colors, font_size) {
        var l1 = left1;
        ctx.font=font_size.toString().concat("px Arial");
        for (var i = 0; i < colors.length; i++) {
            console.log("what?");
            ctx.fillStyle=colors[i];
            ctx.fillRect(left1,down1,(nums[i + 1] * length),height * (nums[0]));
            left1 += (nums[i + 1] * length) + (15 / (colors.length - 1));
            console.log("len " + length);

            ctx.fillRect(safeDist + 2,down1 * (i + 1) + breadth,breadth,breadth);
            ctx.fillStyle="#000000";
            ctx.fillText(names[i],safeDist + breadth + 5,down1 * (i + 1) + 2 *breadth);
        };
        ctx.fillStyle="#000000";
        // ctx.rect(l1 - 1,down1 - 1,length + 15,(height * nums[0]) + 2);
        // ctx.rect(l1 - 1,(height * nums[0]) + down1 + breadth - 1,length + 15,(height * (1 - nums[0])) + 2);
        ctx.stroke();
        ctx.fillText("Mixture 1: ".concat((Math.round(100 * nums[0])).toString()).concat("%"),length + 45,((height * nums[0])/ 2) + 15);
    }

    function createGraphK2 (height, breadth, length, safeDist, left1, down1, left2, down2, nums, names, colors, font_size) {
        var l1 = left1;
        len = (nums.length - 2) / 2;
        ctx.font=font_size.toString().concat("px Arial");
        console.log("nums " + nums)
        for (var i = 0; i < colors.length; i++) {
            ctx.fillStyle=colors[i];
            ctx.fillRect(left1,down1,(nums[i + 1] * length),height * (nums[0]));
            left1 += (nums[i + 1] * length) + (15 / (len - 1));

            ctx.fillRect(left2,down2,(nums[i + len + 2] * length),height * (1 - nums[0]));
            left2 += (nums[i + len + 2] * length) + (15 / (len - 1));

            ctx.fillRect(safeDist + 2,down1 * (i + 1) + breadth,breadth,breadth);
            ctx.fillStyle="#000000";
            ctx.fillText(names[i],safeDist + breadth + 5,down1 * (i + 1) + 2 *breadth);
        };
        ctx.fillStyle="#000000";
        // ctx.rect(l1 - 1,down1 - 1,length + 15,(height * nums[0]) + 2);
        // ctx.rect(l1 - 1,(height * nums[0]) + down1 + breadth - 1,length + 15,(height * (1 - nums[0])) + 2);
        ctx.stroke();
        ctx.fillText("Mixture 1: ".concat((Math.round(100 * nums[0])).toString()).concat("%"),length + 45,((height * nums[0])/ 2) + 15);
        ctx.fillText("Mixture 2: ".concat((Math.round(100 * (1 - nums[0]))).toString()).concat("%"),length + 45,(height * nums[0]) + 40 + ((height * (1 - nums[0])) / 2));
    }

    function createGraphK3 (height, breadth, length, safeDist, left1, down1, left2, down2, left3, down3, nums, names, colors, font_size) {
        var l1 = left1;
        len = (nums.length - 3) / 3;
        var alpha1 = nums[0];
        var alpha2 = nums[len + 1];
        var alpha3 = nums[2*(len + 1)];
        ctx.font=font_size.toString().concat("px Arial");
        console.log("nums " + nums)
        for (var i = 0; i < colors.length; i++) {
            ctx.fillStyle=colors[i];
            ctx.fillRect(left1,down1,(nums[i + 1] * length),height * alpha1);
            left1 += (nums[i + 1] * length) + (15 / (len - 1));

            ctx.fillRect(left2,down2,(nums[i + len + 2] * length),height * alpha2);
            left2 += (nums[i + len + 2] * length) + (15 / (len - 1));
            console.log("this " + nums[i + len + 2])

            ctx.fillRect(left3,down3,(nums[i + (2 * len) + 3] * length),height * alpha3);
            left3 += (nums[i + (2*len) + 3] * length) + (15 / (len - 1));

            ctx.fillRect(safeDist + 2,down1 * (i + 1) + breadth,breadth,breadth);
            ctx.fillStyle="#000000";
            ctx.fillText(names[i],safeDist + breadth + 5,down1 * (i + 1) + 2 *breadth);
        };
        ctx.fillStyle="#000000";
        // ctx.rect(l1 - 1,down1 - 1,length + 15,(height * nums[0]) + 2);
        // ctx.rect(l1 - 1,(height * nums[0]) + down1 + breadth - 1,length + 15,(height * (1 - nums[0])) + 2);
        ctx.stroke();
        ctx.fillText("Mixture 1: ".concat((Math.round(100 * alpha1)).toString()).concat("%"),length + 45,((height * alpha1)/ 2) + 15);
        ctx.fillText("Mixture 2: ".concat((Math.round(100 * alpha2)).toString()).concat("%"),length + 45,(height * alpha1) + 40 + ((height * (alpha2)) / 2));
        ctx.fillText("Mixture 3: ".concat((Math.round(100 * alpha3)).toString()).concat("%"),length + 45,(height * (alpha1 + alpha2) + 40 + ((height * alpha3) / 2)));
    }

    //Uncomment for WMG
    /*var cy = cytoscape({
        container: document.getElementById('cy'),
        layout: {
            name: 'circle',

        },

      style: cytoscape.stylesheet()
        .selector('node')
          .css({
            'shape': 'rectangle',
            'width': '80',
            'text-max-width':  '80',
            'text-wrap': 'wrap',
            'content': 'data(name)',
            'text-valign': 'center',
            'text-outline-width': 0,
            'text-outline-color': 'data(faveColor)',
            'background-color': '#FFFFFF',
            'color': '#000'   })
        .selector(':selected')
          .css({
            'border-width': 0,
            'border-color': '#fff',
            'label': 'data(label)'
          })
        .selector('edge')
          .css({
            'curve-style': 'bezier',
            'opacity': 0.666,
            'width': 'mapData(strength, 70, 100, 2, 6)',
            'target-arrow-shape': 'triangle-backcurve',
            'line-color': 'data(faveColor)',
            'target-arrow-color': 'data(faveColor)'
          })
        .selector('.faded')
          .css({
            'opacity': 0.25,
            'text-opacity': 0
          }),


      elements: {
        nodes: [
         {% for row in wmg_nodes %}
                {data: {id : '{{ row.id }}', name: '{{ row.label }}', weight: 50, faveColor: '#000' } },
            {% endfor %}
        ],
        edges: [
         {% for row in wmg_edges %}
                {data : { source: '{{ row.from }}', target: '{{ row.to }}', faveColor: '#000', strength: {{ row.value }} * 10 + 50, label: '{{ row.value }}' } },
            {% endfor %}
        ]
      },
    });*/
    var k = 1;
    var canvas;
    var ctx;
    var nums1;
    var nums2;
    var nums3;
    var names;
    var colors;
    var len;
    var height = 125; //total height of the bars
    var breadth = 10; //distance between bars
    var length = 215;
    var safeDist = 350;
    var left1 = 20;
    var down1 = 20;
    var left2 = 20;
    var down2;
    var left3 = 20;
    var down3;
    var font_size = 10;
    function createMixturesK1(){
        //uncomment for mixtures
        var width_str = $('#collapse_mix').css('width');
        width_int = parseInt(width_str.substring(0,width_str.length - 2)) - 100;
        width_str = width_int.toString() + "px";
        $('#mixtures').css('width', width_str);
        k = 1;
        canvas = document.getElementById("mixtures");
        ctx = canvas.getContext("2d");
        nums1 = [];
        names = [];
        colors = [];
        {% for num in mixtures_pl1 %}
            nums1.push({{num}});
        {% endfor %}
        {% for option in cand_map.values %}
            names.push("{{ option }}");
        {% endfor %}
        // draw bar chart
        len = nums1.length - 1;
        for (var i = 0; i < len; i++) {
            colors.push(randomColor());
        };
        height = 125; //total height of the bars
        breadth = 10; //distance between bars
        length = 215;
        safeDist = 350;
        left1 = 20;
        down1 = 20;
        left2 = 20;
        down2 = 30 + (height * nums1[0]);
        font_size = 10;
        ctx.fillStyle="#FFFFFF";
        ctx.fillRect(0, 0, canvas.width, canvas.height);
        createGraphK1(height, breadth, length, safeDist, left1, down1, nums1, names, colors, font_size);
    }


    function createMixturesK2(){
        k = 2;
        //uncomment for mixtures
        canvas = document.getElementById("mixtures");
        ctx = canvas.getContext("2d");
        nums2 = [];
        names = [];
        colors = [];
        {% for arr in mixtures_pl2 %}
            {% for num in arr %}
                nums2.push({{num}});
            {% endfor %}
        {% endfor %}
        {% for option in cand_map.values %}
            names.push("{{ option }}");
        {% endfor %}
        // draw bar chart
        len = (nums2.length - 2) / 2;
        for (var i = 0; i < len; i++) {
            colors.push(randomColor());
        };
        height = 125; //total height of the bars
        breadth = 10; //distance between bars
        length = 215;
        safeDist = 350;
        left1 = 20;
        down1 = 20;
        left2 = 20;
        down2 = 30 + (height * nums2[0]);
        font_size = 10;
        ctx.fillStyle="#FFFFFF";
        ctx.fillRect(0, 0, canvas.width, canvas.height);
        createGraphK2(height, breadth, length, safeDist, left1, down1, left2, down2, nums2, names, colors, font_size);
    }


    function createMixturesK3(){
        k = 3;
        //uncomment for mixtures
        canvas = document.getElementById("mixtures");
        ctx = canvas.getContext("2d");
        nums3 = [];
        names = [];
        colors = [];
        {% for arr in mixtures_pl3 %}
            {% for num in arr %}
                nums3.push({{num}});
            {% endfor %}
        {% endfor %}
        {% for option in cand_map.values %}
            names.push("{{ option }}");
        {% endfor %}
        // draw bar chart
        len = (nums3.length - 3) / 3;
        for (var i = 0; i < len; i++) {
            colors.push(randomColor());
        };
        height = 125; //total height of the bars
        breadth = 10; //distance between bars
        length = 215;
        safeDist = 350;
        left1 = 20;
        down1 = 20;
        left2 = 20;
        down2 = 30 + (height * nums3[0]);
        left3 = 20;
        down3 = 60 + (height * (nums3[0] + nums3[1 + colors.length]));
        font_size = 10;
        ctx.fillStyle="#FFFFFF";
        ctx.fillRect(0, 0, canvas.width, canvas.height);
        createGraphK3(height, breadth, length, safeDist, left1, down1, left2, down2, left3, down3, nums3, names, colors, font_size);
    }
    
    function enlarge () {
        height += 5; //total height of the bars
        //breadth += 5; //distance between bars
        length += 5;
        safeDist += 19;
        font_size += 1;
        ctx.fillStyle="#FFFFFF";
        ctx.fillRect(0, 0, canvas.width, canvas.height);
        if(k == 1){
            createGraphK1(height, breadth, length, safeDist, left1, down1, nums1, names, colors, font_size);
        }else if(k == 2){
            down2 = 30 + (height * nums2[0]);
            createGraphK2(height, breadth, length, safeDist, left1, down1, left2, down2, nums2, names, colors, font_size);
        }else if(k == 3){
            down2 = 30 + (height * nums3[0]);
            down3 = 45 + (height * nums3[0]) + (height * nums3[len + 1]);
            createGraphK3(height, breadth, length, safeDist, left1, down1, left2, down2, left3, down3, nums3, names, colors, font_size);
        }
    }
    function smaller () {
        height -= 5; //total height of the bars
        //breadth += 5; //distance between bars
        length -= 5;
        safeDist -= 19;
        font_size -= 1;
        ctx.fillStyle="#FFFFFF";
        ctx.fillRect(0, 0, canvas.width, canvas.height);
        if(k == 1){
            createGraphK1(height, breadth, length, safeDist, left1, down1, nums1, names, colors, font_size);
        }else if(k == 2){
            down2 = 30 + (height * nums2[0]);
            createGraphK2(height, breadth, length, safeDist, left1, down1, left2, down2, nums2, names, colors, font_size);
        }else if(k == 3){
            down2 = 30 + (height * nums3[0]);
            down3 = 45 + (height * nums3[0]) + (height * nums3[len + 1]);
            createGraphK3(height, breadth, length, safeDist, left1, down1, left2, down2, left3, down3, nums3, names, colors, font_size);
        }
    }
    function download () {
        var imgData = canvas.toDataURL("image/jpeg", 1.0);
        var pdf = new jsPDF();

        pdf.addImage(imgData, 'JPEG', 0, 0);
        var download = document.getElementById('download');

        pdf.save("{{ question.question_text }}.pdf");
    }

</script>
{% endblock %}

{% load poll_extra %}

{% block content %}
<br/>
    <div class="col-md-12">
        <h1>{{ question.question_text }}</h1>

        {% if question.status != 1%}
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                Poll Results <small>(Last calculated {{time}})</small>
                
                <div class="pull-right">
                    <span>Less Preferred</span>
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default" style="background-color: #ffffff"></button>
                        <button type="button" class="btn btn-default" style="background-color: #d8ffd8"></button>
                        <button type="button" class="btn btn-default" style="background-color: #93ff93"></button>
                        <button type="button" class="btn btn-default" style="background-color: #83e883"></button>
                        <button type="button" class="btn btn-default" style="background-color: #6cbf6c"></button>
                    </div>
                    <span>More Preferred</span>
                </div>
				<!-- 
				{% if request.user == question.question_owner %}
				<a  class="pull-right" href="{% url 'polls:recalcResult' question.id %}" style="position:relative; bottom:4px;right:5%;"><button type="button" class="btn btn-primary" >Recalculate Result</button></a>
				{% endif %}
				-->
			</div>
            <div class="panel-body">
                <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Poll Mechanism</th>
                        {% for option in cand_map.values %}
                            <th>{{ option }}</th>
                        {% endfor %}
                        <!-- <th>Margin of Victory</th>-->
                    </tr>

                    {% for item in vote_results %}
                        <tr>
                            <td {% if question.poll_algorithm == forloop.counter %}class="info"{% endif %}><a target="_blank" href="{{algorithm_links|index:forloop.counter0}}">{{ poll_algorithms|index:forloop.counter0 }}</a></td>

                            {% for score in item %}
                                    <td style='background-color: {{shade_values|index:forloop.parentloop.counter0|index:forloop.counter0}}'>{{ score }}</td>
                            {% endfor %}

                            <!-- margin of victory column -->
                            {% if forloop.counter < 5 %}
                                <td>{{ margin_victory|index:forloop.counter0 }} </td>
                            {% elif forloop.counter == 5 %}
                                <td>{{ margin_victory.4 }}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
							
                        </tr>
                    {% endfor %}
                </table>
                </div>
            </div>
        </div>

        <!-- Panel for previous winners (closed by default) -->

		<!--
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                <div class="col-md-10"  data-toggle="collapse" href="#collapse_pw">
                <h4 class="panel-title ">
                    <a >
                       Previous Winners {% if question.voteresult_set.all.count == 0%}(Empty){% endif %} <span class="caret" style="color:#377BB5;"></span>
                    </a>
                </h4>
                </div>
                <div class="col-md-2">
                <a href="{% url 'polls:calculateprev' question.id %}"><button type="button" class="btn btn-primary" >{% if question.voteresult_set.all.count == 0%}C{% else %}Rec{% endif %}alculate Previous Winners</button></a>
                </div>
                </div>
            </div>
            <div id="collapse_pw" class="panel-body collapse">
                {% for pw in previous_winners %}
                <div class="panel-heading">{{ pw.title }}</div>
                <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th>Poll Mechanism</th>
                        {% for option in cand_map.values %}
                            <th>{{ option }}</th>
                        {% endfor %}
                        <th>Margin of Victory</th>
                    </tr>

                    {% for item in pw.vote_results %}
                        <tr>
                            {% for algorithm in poll_algorithms %}
                                {% if forloop.counter == forloop.parentloop.counter %}
                                    <td {% if question.poll_algorithm == forloop.parentloop.counter %}class="info"{% endif %}>{{ algorithm }}</td>
                                {% endif %}
                            {% endfor %}
                            {% for score in item %}
                                {% if score == item|smallest and forloop.parentloop.counter == 5 %}
                                    <td class="success">{{ score }}</td>
                                {% elif score == item|largest and forloop.parentloop.counter != 5 %}
                                    <td class="success">{{ score }}</td>
                                {% else %}
                                    <td {% if question.poll_algorithm == forloop.parentloop.counter %}class="info"{% endif %}>{{ score }}</td>
                                {% endif %}
                            {% endfor %}
                            {% if forloop.counter < 5 %}
                                <td>{{ pw.margin_victory|index:forloop.counter0 }} </td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                </div>
                {% endfor %}
            </div>
        </div>
		-->
        <!-- Panel for weighted majority graph (closed by default) 
        <div class="panel panel-default">
            <div class="panel-heading" data-toggle="collapse" href="#collapse_wmg">
                <h4 class="panel-title">
                    <a >
                        Weighted Majority Graph <span class="caret" style="color:#377BB5;"></span>
                    </a>
                </h4>
            </div>
            <div id="collapse_wmg" class="collapse in">
                <div class="table-responsive">
                <div id="cy" ></div>
                </div>
            </div>
        </div>
        -->
        
        <!-- Panel for plackett luce mixtures (closed by default) -->
        <div class="panel panel-default" onload="createMixtures()">
            <div class="panel-heading" data-toggle="collapse" href="#collapse_wmg">
                <h4 class="panel-title">
                    <a >
                        Mixtures <span class="caret" style="color:#377BB5;"></span>
                    </a>
                </h4>
            </div>
            <div id="collapse_mix" class="panel-body">
                <div class="table-responsive" onload="alert(0)">
                    <canvas id="mixtures" width="700" height="200" style="display: block"></canvas>
                    <button id="bigger" onclick="enlarge()">Make Larger</button>
                    <button id="smaller" onclick="smaller()">Make Smaller</button>
                    <button id="download" onclick="download()">Download</button>
                    <button id="load" onclick="createMixturesK1()">Load K = 1</button>
                    <button id="load" onclick="createMixturesK2()">Load K = 2</button>
                    <button id="load" onclick="createMixturesK3()">Load K = 3</button>
                </div>
            </div>
        </div>

        {% endif %}
    </div>
<script>createMixturesK1();</script>
{% endblock %}
