{% extends 'polls/base.html' %}

{% block extra_head %}
<style type="text/css">
    #cy {
        width: 500px;
        height: 500px;
        border: 1px solid lightgray;
    }
</style>
<script src="http://js.cytoscape.org/js/cytoscape.min.js"></script>
{% endblock %}

{% load poll_extra %}

{% block content %}
<br/>
    <div class="col-md-12">
        <h1>{{ question.question_text }}</h1>

        {% if cand_map and question.status == 3 or question.display_pref == 0 %}
        {% if question.question_owner == request.user or question.display_pref <= 1 %}                                                                    
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">Poll Results</div>
            <div class="panel-body">
                <table class="table">
                    <tr>
                        <th>Poll Mechanism</th>
                        {% for option in cand_map.values %}
                            <th>{{ option }}</th>
                        {% endfor %}
                        <th>Margin of Victory</th>
                    </tr>
                    
                    {% for item in vote_results %}
                        <tr>
                            {% for algorithm in poll_algorithms %}
                                {% if forloop.counter == forloop.parentloop.counter %}
                                    <!-- Poll Algorithm -->
                                    <td {% if question.poll_algorithm == forloop.parentloop.counter %}class="info"{% endif %}>{{ algorithm }}</td>
                                {% endif %}
                            {% endfor %}
                            
                            {% for score in item.values %}
                                    {% for row in shade_values %}
                                    {% for color in row %}
                            {% if forloop.counter == forloop.parentloop.parentloop.counter and forloop.parentloop.counter == forloop.parentloop.parentloop.parentloop.counter %}
                                    <td style='background-color: {{color}}'>{{ score }}</td>
                            {% endif %}
                                    {% endfor %}
                                    {% endfor %}
                            {% endfor %}
                            
                            <!-- margin of victory column -->
                            {% if forloop.counter < 5 %}
                                <td>{{ margin_victory.0 }} </td>
                            {% elif forloop.counter == 5 %}
                                <td>{{ margin_victory.4 }}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    
        <!-- Panel for previous winners (closed by default) -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse_pw">
                       Previous Winners <span class="caret" style="color:#377BB5;"></span>
                    </a>
                </h4>
            </div>
            <div id="collapse_pw" class="panel-body collapse">
                {% for pw in previous_winners %}
                <div class="panel-heading">{{ pw.title }}</div>
                <table class="table">
                    <tr>
                        <th>Poll Mechanism</th>
                        {% for option in cand_map.values %}
                            <th>{{ option }}</th>
                        {% endfor %}
                        <th>Margin of Victory</th>
                    </tr>
                    
                    {% for item in pw.vote_results %}
                        <tr>
                            {% for algorithm in poll_algorithms %}
                                {% if forloop.counter == forloop.parentloop.counter %}
                                    <td {% if question.poll_algorithm == forloop.parentloop.counter %}class="info"{% endif %}>{{ algorithm }}</td>
                                {% endif %}
                            {% endfor %}
                            {% for score in item.values %}
                                {% if score == item.values|smallest and forloop.parentloop.counter == 5 %}
                                    <td class="success">{{ score }}</td>
                                {% elif score == item.values|largest and forloop.parentloop.counter != 5 %}
                                    <td class="success">{{ score }}</td>
                                {% else %}
                                    <td {% if question.poll_algorithm == forloop.parentloop.counter %}class="info"{% endif %}>{{ score }}</td>
                                {% endif %}
                            {% endfor %}
                            {% if forloop.counter < 5 %}
                                <td>{{ previous_winners.margin_victory.0 }} </td>
                            {% elif forloop.counter == 5 %}
                                <td>{{ previous_winners.margin_victory.4 }}</td>
                            {% else %}
                                <td>-</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </table>
                {% endfor %}
            </div>
        </div>
        <!-- Panel for weighted majority graph (closed by default) -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse_wmg">
                        Weighted Majority Graph <span class="caret" style="color:#377BB5;"></span>
                    </a>
                </h4>
            </div>
            <div id="collapse_wmg" class="panel-body">
               <div id="cy"></div>
            </div>
        </div>

        {% endif %}
        {% endif %}
    
        <a href="{% url 'polls:index' %}"> Return Home</a>
    </div>
<script>
    var cy = cytoscape({
        container: document.getElementById('cy'),
        layout: {
            name: 'circle',
            padding: 10
        },
        
      style: cytoscape.stylesheet()
        .selector('node')
          .css({
            'width': 'mapData(weight, 40, 80, 20, 60)',
            'content': 'data(name)',
            'text-valign': 'center',
            'text-outline-width': 2,
            'text-outline-color': 'data(faveColor)',
            'background-color': 'data(faveColor)',
            'color': '#fff'
          })
        .selector(':selected')
          .css({
            'border-width': 3,
            'border-color': '#333',
            'label': 'data(label)'
          })
        .selector('edge')
          .css({
            'curve-style': 'bezier',
            'opacity': 0.666,
            'width': 'mapData(strength, 70, 100, 2, 6)',
            'target-arrow-shape': 'triangle',
            'line-color': 'data(faveColor)',
            'target-arrow-color': 'data(faveColor)'
          })
        .selector('.faded')
          .css({
            'opacity': 0.25,
            'text-opacity': 0
          }),


      elements: {
        nodes: [
         {% for row in wmg_nodes %}
                {data: {id : '{{ row.id }}', name: '{{ row.label }}', weight: 50, faveColor: '#6FB1FC' } },
            {% endfor %}
        ],
        edges: [
         {% for row in wmg_edges %}
                {data : { source: '{{ row.from }}', target: '{{ row.to }}', faveColor: '#6FB1FC', strength: {{ row.value }} * 10 + 50, label: '{{ row.value }}' } },
            {% endfor %}
        ]
      },
    });
</script>
{% endblock %}