
{% load staticfiles %}
<html>
<title>Research Group</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
        
    
    <div class="w3-white w3-text-white" >
    <nav class="w3-sidebar" style="z-index:3;width:230px;font-weight:bold; background-color:rgb(0,150,135);" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft">关闭<hr/></a>
    <div class="w3-container">
    <h2 class="w3-padding" style="{%if request.flavour == 'mobile'%} margin-top:40px; color: transparent;{%endif%}"><br/><b>夏立荣教授研究组</b></h2>
  </div>
    <br/>

        <div class="w3-bar-block">
          <a href="#advisor" class="w3-bar-item w3-button w3-hover-white w3-hide-small">导师</a> 
            <br/>
        <a href="#phd"  class="w3-bar-item w3-button w3-hover-white">博士学生</a> 
            <br/>
        <a href="#undergrad"  class="w3-bar-item w3-button w3-hover-white">本科学生</a> 
          <hr>

        </div>
             </nav>
      </div><br>
      
       <!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large rpi-red w3-xlarge w3-padding" style="margin-top:75px">
  <a href="javascript:void(0)" class="w3-button" onclick="w3_open()">☰</a>
  <span>People</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>



    <!-- End Left Column -->
      

    <!-- Right Column -->
    <div style="margin-left:255px;margin-right:10px;">
    
        
      <div class="w3-card w3-col m12 w3-margin-bottom w3-white" id="advisor">
          <div class="w3-container">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-xxlarge w3-text-teal"></i> 导师</h2>
          
       
         <div class="w3-col m3" style="margin-top:10px;margin-left:15px;">
            <img src="{% static 'img/headshots/lrx.jpg' %}" alt="Lirong xia" width="90%" height="90%"> 
          </div>
            
        <div class="w3-col m8">
          <h4 class="w3-opacity w3-text-teal"><b>夏立荣 Lirong Xia</b></h4>
          <h6>NSF CAREER奖获得者，IEEE Intelligent Systems AI's 10 to watch，IJCAI-17 特邀年轻学者报告 <br/>
              访问学者: 加州大学伯克利分校 (Simons-Bekerley Fellow)<br/>
              博士后学位：哈佛大学 计算与社会研究中心（NSF CI Fellow）<br/>
              博士学位：杜克大学 计算机系 (J. B. Duke Fellow)  <br/>
            硕士学位：杜克大学 经济系 <br/>
              本科学位：清华大学 计算机科学与技术系
            </h6>
            <h7>
                研究兴趣：经济与计算，人工智能，机器学习，群体决策，博弈论，机制设计, 不确定性下的决策<br/>
                主页: <a href="www.cs.rpi.edu/~xial/"><i>www.cs.rpi.edu/~xial/ </i></a>
                <br/>
            </h7>
 
          <hr/>
        </div>
          
        </div>

          
      </div>

        
      <div class="w3-card w3-col m12 w3-margin-bottom w3-white" id="phd">
          <div class="w3-container" style='margin-bottom: 30px'>
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-xxlarge w3-text-teal"></i> 博士学生</h2>
          
        <div class='w3-container'>
         <div class="w3-col m3" style=";margin-top: 10px">
            <img src="{% static 'img/headshots/zzb.jpg' %}" alt="Zhibing Zhao" width="80%" height="80%"> 
          </div>
            
        <div class="w3-col m8">
          <h4 class="w3-opacity w3-text-teal"><b>赵志冰 Zhibin Zhao</b></h4>
          <h6><span class="w3-tag w3-teal w3-round">Current</span> 博士学位：伦斯勒理工大学 计算机系  <br/>
            硕士学位：康涅狄格大学 电气与计算机工程系 <br/>
              本科学位：清华大学 电机系
            </h6>
            <h7>
                研究兴趣：排序学习, 参数估计，人工智能，机器学习<br/>
                主页: <a href="http://homepages.rpi.edu/~zhaoz6/"><i>http://homepages.rpi.edu/~zhaoz6/</i></a>
                <br/>
                简历: <a href="http://homepages.rpi.edu/~zhaoz6/docs/cv_zhao.pdf"><i>http://homepages.rpi.edu/~zhaoz6/docs/cv_zhao.pdf</i></a>
            </h7>
          <hr/>
        </div>
       </div>

          
    <div class='w3-container'>
         <div class="w3-col m3" style="margin-top:30px;">
            <img src="{% static 'img/headshots/la.jpg' %}" alt="LIU AO" width="80%" height="80%"> 
          </div>
            
        <div class="w3-col m8" style="margin-top:30px;">
          <h4 class="w3-opacity w3-text-teal"><b>刘奥 Ao Liu</b></h4>
          <h6><span class="w3-tag w3-teal w3-round">Current</span> 博士学位：伦斯勒理工大学 计算机系(Presidential Research Fellowship)  <br/>
            硕士学位：伦斯勒理工学院 材料工程学 <br/>
              本科学位：清华大学 数理基础科学班+计算机辅修
            </h6>
            <h7>
                研究兴趣：非参数机器学习、随机算法、群体决策<br/>
            </h7>
          <hr/>
        </div>
          
    </div>
              
          </div>
          
      </div>
        
        
        
        
        <div class="w3-card w3-col m12 w3-margin-bottom w3-white" id="undergrad">
          <div class="w3-container" style='margin-bottom: 30px'>
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-graduation-cap fa-fw w3-xxlarge w3-text-teal"></i> 本科学生</h2>
          
       <div>
         <div class="w3-col m3" style="margin-left:15px;">
            <img src="{% static 'img/headshots/ycn.jpg' %}" alt="Chaonan Ye" width="78%" height="78%"> 
          </div>
            
        <div class="w3-col m8">
          <h4 class="w3-opacity w3-text-teal"><b>叶超男 Chaonan Ye</b></h4>
          <h6> <span class="w3-tag w3-teal w3-round">Current</span> 本科学位：伦斯勒理工大学 计算机和数学双学位
            </h6>
            <h7>
                研究兴趣：人工智能，机器学习，人机交互，数据挖掘，数据检索<br/>
                主页: <a href="www.canonye.com"><i>www.canonye.com</i></a>
                <br/>
            </h7>
 
          <hr/>
        </div>
          
        </div>
              
            
            <div class='w3-container'>
         <div class="w3-col m3" style="margin-top:30px">
            <img src="{% static 'img/headshots/lhm.jpg' %}" alt="haoming li" width="80%" height="80%"> 
          </div>
            
        <div class="w3-col m8" style="margin-top:30px;">
          <h4 class="w3-opacity w3-text-teal"><b>李浩铭 Haoming Li</b></h4>
          <h6> <span class="w3-tag w3-teal w3-round">Current</span> 本科学位：伦斯勒理工大学 计算机和经济双学位
            </h6>
            <h7>
                研究兴趣：群体决策、博弈论、数据分析<br/>
                <br/>
            </h7>
 
          <hr/>
        </div>
          
        </div>
            
            <div class='w3-container'>
       
         <div class="w3-col m3" style="margin-top:30px;">
            <img src="{% static 'img/headshots/wjm.jpg' %}" alt="Junming Wang" width="80%" height="80%"> 
          </div>
            
        <div class="w3-col m8" style="margin-top:30px;">
          <h4 class="w3-opacity w3-text-teal"><b>王浚茗 Junming Wang</b></h4>
          <h6> <span class="w3-tag w3-teal w3-round">Current</span> 本科学位：伦斯勒理工大学 计算机和数学双学位
            </h6>
            <h7>
                研究兴趣：人工智能，机器学习，Django系统开发<br/>
                <br/>
            </h7>
 
          <hr/>
        </div>
          
        </div>
            

          
      </div>
        </div>



    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>
<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
    document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
    document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
 
</script>

</body>
</html>
